.landing {
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: relative; }
  .landing .icon {
    margin-top: 3vh;
    width: 40vw; }
  .landing .headers {
    font-size: 4.7vw;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 1vh;
    font-weight: 700; }
  .landing .imgs .alert {
    -webkit-transition: left 1s;
    transition: left 1s;
    z-index: 1;
    width: 8vw;
    height: 8vw;
    border-radius: 4vw;
    background-color: red;
    position: absolute;
    left: 66vw;
    bottom: 69vh;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation: scale 0.3s cubic-bezier(0.17, 0.67, 0.07, 2.04);
            animation: scale 0.3s cubic-bezier(0.17, 0.67, 0.07, 2.04);
    -webkit-animation-delay: 2.8s;
            animation-delay: 2.8s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    color: white;
    font-size: 6vw;
    font-weight: 100;
    -webkit-box-shadow: -1px 2px 0px 0px rgba(0, 0, 0, 0.36);
            box-shadow: -1px 2px 0px 0px rgba(0, 0, 0, 0.36); }
  .landing .imgs img {
    width: 56vw;
    position: absolute;
    left: 130vw;
    -webkit-transition: left 1s;
    transition: left 1s;
    display: none; }
    .landing .imgs img:first-of-type {
      top: 25vh; }
    .landing .imgs img:nth-of-type(2) {
      top: 12vh; }
    .landing .imgs img:nth-of-type(3) {
      margin-top: 6vh; }
  .landing .imgs img.active {
    left: 22vw; }
  .landing .imgs img.inactive {
    left: -50vw; }
  .landing .subheads {
    width: 80vw;
    margin-left: 10vw;
    font-size: 3.4vw;
    font-weight: 600;
    -webkit-transition: opacity .5s;
    transition: opacity .5s; }
  .landing .landing-nav {
    margin-top: 4vh; }
    .landing .landing-nav img {
      vertical-align: middle;
      width: 5vw;
      padding: 2vw; }
      .landing .landing-nav img:last-of-type {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
    .landing .landing-nav span {
      width: 2vw;
      height: 1vw;
      border-radius: 4vw;
      border: #00AEEF 0.4vw solid;
      display: inline-block;
      vertical-align: middle; }
      .landing .landing-nav span:first-of-type {
        margin-left: 26vw; }
      .landing .landing-nav span:last-of-type {
        margin-right: 26vw;
        margin-left: 4vw; }
    .landing .landing-nav span.active {
      background-color: #00AEEF; }
  .landing .down-chevron {
    width: 15vw;
    margin-top: 1vh;
    position: relative;
    top: 65vh;
    -webkit-animation: slide 1s infinite;
            animation: slide 1s infinite;
    opacity: 0; }

@-webkit-keyframes slide {
  0% {
    top: 73vh; }
  100% {
    top: 82vh; } }

@keyframes slide {
  0% {
    top: 73vh; }
  100% {
    top: 82vh; } }

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes scale-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@keyframes scale-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@-webkit-keyframes slide-in {
  0% {
    left: 130vw; }
  100% {
    left: 27.5vw; } }

@keyframes slide-in {
  0% {
    left: 130vw; }
  100% {
    left: 27.5vw; } }

.bottom-third {
  position: absolute;
  width: 100vw;
  bottom: 14vh; }

.initial-hide {
  display: none; }

.infographics {
  background-color: white;
  padding-top: 6vh; }
  .infographics span {
    display: block; }
    .infographics span:first-of-type {
      display: block;
      font-size: 5vw;
      font-weight: 400;
      margin-left: 10vw; }
    .infographics span:nth-of-type(2) {
      display: block;
      font-size: 5vw;
      font-weight: 700;
      margin-left: 10vw; }
    .infographics span:last-of-type {
      margin-top: 5vh;
      margin-bottom: 5vh;
      width: 70vw;
      margin-left: 15vw;
      font-weight: 600;
      margin-left: 10vw; }
  .infographics img {
    width: 100vw;
    margin-top: 5vh; }

.heads {
  display: block;
  font-size: 5vw;
  font-weight: 700;
  width: 80vw;
  margin-bottom: 6vh; }

.gradient {
  padding-left: 10vw;
  padding-top: 6vh;
  padding-bottom: 6vh;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(21, 9, 88, 0.5)), color-stop(64%, rgba(21, 9, 88, 0.5)), to(rgba(0, 174, 239, 0.5)));
  background: linear-gradient(to bottom, rgba(21, 9, 88, 0.5) 0%, rgba(21, 9, 88, 0.5) 64%, rgba(0, 174, 239, 0.5) 100%); }
  .gradient .plus-messenger {
    margin-bottom: 16vh;
    width: 84vw; }
    .gradient .plus-messenger div {
      margin-bottom: 6vh; }
      .gradient .plus-messenger div img {
        vertical-align: middle;
        width: 12vw;
        margin-right: 3vw; }
      .gradient .plus-messenger div span {
        vertical-align: middle;
        font-weight: 300;
        font-style: italic; }
  .gradient .every-lead {
    margin-bottom: 16vh; }
    .gradient .every-lead span {
      display: block; }
    .gradient .every-lead img {
      margin-bottom: 2vh;
      width: 40vw; }
    .gradient .every-lead .title {
      margin-top: 2vh;
      margin-bottom: 2vh;
      font-weight: 700; }
    .gradient .every-lead .description {
      width: 80vw;
      display: block;
      margin-bottom: 6vh; }
  .gradient .future .desc {
    width: 80vw;
    display: block;
    margin-bottom: 6vh; }
  .gradient .future .news .title {
    display: block;
    font-weight: 600; }
  .gradient .future .news .description {
    width: 80vw;
    display: block;
    margin-top: 2vh;
    margin-bottom: 2vh; }
  .gradient .future .read-more {
    font-weight: 600;
    display: block;
    font-size: 5vw; }

.back {
  opacity: 0; }

.email-icon {
  width: 12vw;
  position: absolute;
  z-index: 1;
  -webkit-animation: scale-down;
          animation: scale-down;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .email-icon:nth-of-type(even) {
    -webkit-transform: rotate(-11deg);
            transform: rotate(-11deg);
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }
  .email-icon:nth-of-type(odd) {
    -webkit-transform: rotate(19deg);
            transform: rotate(19deg);
    -webkit-animation-duration: .5s;
            animation-duration: .5s; }
  .email-icon:nth-of-type(1) {
    top: 31vh;
    left: 45vw; }
  .email-icon:nth-of-type(2) {
    top: 60vh;
    left: 75vw; }
  .email-icon:nth-of-type(3) {
    top: 59vh;
    left: 57vw; }
  .email-icon:nth-of-type(4) {
    top: 60vh;
    left: 23vw; }
  .email-icon:nth-of-type(5) {
    top: 35vh;
    left: 29vw; }
  .email-icon:nth-of-type(6) {
    top: 49vh;
    left: 31vw; }
  .email-icon:nth-of-type(7) {
    top: 30vh;
    left: 66vw; }
  .email-icon:nth-of-type(8) {
    top: 59vh;
    left: 7vw; }
  .email-icon:nth-of-type(9) {
    top: 57vh;
    left: 85vw; }
  .email-icon:nth-of-type(10) {
    top: 42vh;
    left: 65vw; }
  .email-icon:nth-of-type(11) {
    top: 49vh;
    left: 22vw; }
  .email-icon:nth-of-type(12) {
    top: 59vh;
    left: 46vw; }
  .email-icon:nth-of-type(13) {
    top: 25vh;
    left: 60vw; }
  .email-icon:nth-of-type(14) {
    top: 31vh;
    left: 58vw; }
  .email-icon:nth-of-type(15) {
    top: 53vh;
    left: 85vw; }
  .email-icon:nth-of-type(16) {
    top: 51vh;
    left: 55vw; }
  .email-icon:nth-of-type(17) {
    top: 29vh;
    left: 17vw; }
  .email-icon:nth-of-type(18) {
    top: 59vh;
    left: 37vw; }
  .email-icon:nth-of-type(19) {
    top: 60vh;
    left: 82vw; }
  .email-icon:nth-of-type(20) {
    top: 23vh;
    left: 22vw; }

.display-none {
  display: none; }

.hide-orientation {
  position: fixed;
  background-color: #c1c1c1;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  top: 0; }
  .hide-orientation img {
    width: 30vw;
    margin-left: 35vw;
    margin-top: 30vh; }

body {
  margin: 0;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif; }

input:focus, select:focus, textarea:focus, button:focus {
  outline: none; }

header.scrolled {
  height: 4vh; }
  @media only screen and (min-width: 1025px) {
    header.scrolled .headerButton {
      border-radius: 0.5vw;
      padding-top: 0.7vh;
      padding-bottom: 0.7vh; } }
  @media only screen and (min-width: 1025px) {
    header.scrolled .headerButton img {
      width: 0.7vw;
      margin-right: 1vw; } }
  @media only screen and (min-width: 1025px) {
    header.scrolled .headerButton span {
      width: 0.7vw; } }
  @media only screen and (min-width: 1025px) {
    header.scrolled .smallLogo {
      width: 2.2vw; } }
  @media only screen and (min-width: 1025px) {
    header.scrolled a {
      font-size: 1.2vw; } }
  header.scrolled a:first-of-type {
    margin-right: 52vw; }

header {
  background-color: white;
  -webkit-transition: background .8s, height 1s, -webkit-box-shadow 1s;
  transition: background .8s, height 1s, -webkit-box-shadow 1s;
  transition: background .8s, box-shadow 1s, height 1s;
  transition: background .8s, box-shadow 1s, height 1s, -webkit-box-shadow 1s;
  position: fixed;
  width: 100vw;
  z-index: 1;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh; }
  @media only screen and (min-width: 1025px) {
    header {
      height: 8vh;
      text-align: start;
      top: 0; } }
  header img {
    width: 7vw;
    vertical-align: middle; }
  header .smallLogo {
    width: 7vw;
    vertical-align: middle;
    -webkit-transition: width .8s;
    transition: width .8s; }
    @media only screen and (min-width: 1025px) {
      header .smallLogo {
        width: 4vw;
        margin-left: 5vw; } }
  header a {
    -webkit-transition: width .8s, margin-right .8s, font-size .8s;
    transition: width .8s, margin-right .8s, font-size .8s;
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
    text-decoration: none;
    font-weight: 300;
    vertical-align: middle;
    font-size: 3.5vw;
    color: #150958;
    margin-right: 4.8vw; }
    @media only screen and (min-width: 1025px) {
      header a {
        font-size: 1.7vw;
        margin-right: 4vw; }
        header a:first-of-type {
          margin-right: 41vw; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      header a {
        font-size: 3.1vw;
        margin-right: 6.3vw; } }
  header .headerButton {
    -webkit-transition: border-radius .8s, padding-top .8s, padding-bottom .8s;
    transition: border-radius .8s, padding-top .8s, padding-bottom .8s;
    background-color: #150958;
    padding: 3vw;
    border-radius: 2.5vw;
    color: white;
    margin-right: 0vw; }
    @media only screen and (min-width: 1025px) {
      header .headerButton {
        padding: 1.4vw;
        border-radius: 1.2vw;
        font-size: 1.3vw;
        padding-left: 1.4vw;
        padding-right: 1.4vw;
        padding-top: 2vh;
        padding-bottom: 2.4vh; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      header .headerButton {
        padding: 2.1vw;
        border-radius: 1.7vw; } }
    header .headerButton img {
      width: 3vw;
      margin-right: 1vw;
      -webkit-transition: width .8s;
      transition: width .8s; }
      @media only screen and (min-width: 1025px) {
        header .headerButton img {
          width: 1.3vw;
          margin-right: 2.1vw; } }
      @media only screen and (max-width: 1024px) and (min-width: 415px) {
        header .headerButton img {
          width: 2.2vw; } }
    header .headerButton span {
      font-weight: 400;
      -webkit-transition: width .8s;
      transition: width .8s; }
      @media only screen and (min-width: 1025px) {
        header .headerButton span {
          font-weight: 300; } }

footer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  background-color: #150958; }
  footer img {
    width: 35vw;
    top: 2.5vh;
    position: relative;
    left: 5vw; }
    @media only screen and (min-width: 1025px) {
      footer img {
        width: 18vw; } }
  footer .link-holder {
    position: relative;
    top: -2.5vh; }
    footer .link-holder a {
      text-decoration: none;
      color: white;
      display: block;
      font-weight: 300;
      text-align: right;
      font-size: 3.5vw;
      margin-bottom: 3vh;
      width: 20vw;
      margin-left: 75vw; }
      @media only screen and (min-width: 1025px) {
        footer .link-holder a {
          font-size: 1.6vw; } }
  footer .footer-icons {
    position: absolute;
    top: 9.5vh; }
    @media only screen and (min-width: 1025px) {
      footer .footer-icons {
        top: 13.2vh; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      footer .footer-icons {
        top: 11.5vh; } }
    footer .footer-icons .footer-login {
      display: inline;
      vertical-align: middle; }
      footer .footer-icons .footer-login img {
        width: 5vw;
        vertical-align: middle; }
      footer .footer-icons .footer-login p {
        display: inline; }
    footer .footer-icons a {
      vertical-align: middle; }
      footer .footer-icons a:first-of-type img {
        width: 8vw; }
        @media only screen and (min-width: 1025px) {
          footer .footer-icons a:first-of-type img {
            width: 3vw; } }
      footer .footer-icons a:nth-of-type(2) img {
        width: 4vw; }
        @media only screen and (min-width: 1025px) {
          footer .footer-icons a:nth-of-type(2) img {
            width: 1.6vw; } }
      footer .footer-icons a:nth-of-type(3) img {
        width: 7vw; }
        @media only screen and (min-width: 1025px) {
          footer .footer-icons a:nth-of-type(3) img {
            width: 3.7vw; } }
      footer .footer-icons a:nth-of-type(4) img {
        width: 18vw; }
        @media only screen and (min-width: 1025px) {
          footer .footer-icons a:nth-of-type(4) img {
            width: 7vw; } }
      footer .footer-icons a img {
        vertical-align: middle;
        margin-right: 5vw; }
        @media only screen and (min-width: 1025px) {
          footer .footer-icons a img {
            margin-right: 2vw; } }
  footer span:last-of-type {
    position: absolute;
    bottom: 5.5vh;
    color: white;
    font-size: 2.3vw;
    left: 5vw; }
    @media only screen and (min-width: 1025px) {
      footer span:last-of-type {
        font-size: 0.7vw; } }
