@media only screen and (min-width: 1025px) {
  .green {
    background-color: black;
    height: 95vh; } }

.green .headers {
  font-size: 4.7vw;
  width: 80vw;
  margin-left: 10vw;
  margin-top: 1vh;
  font-weight: 700;
  padding-top: 11vh; }
  @media only screen and (min-width: 1025px) {
    .green .headers {
      padding-top: 50vh;
      color: white; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .green .headers {
      padding-top: 40vh; } }
  .green .headers span {
    display: block;
    text-transform: uppercase;
    font-weight: 300; }
    @media only screen and (min-width: 1025px) {
      .green .headers span {
        font-weight: 700; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .green .headers span {
        font-weight: 700; } }
    @media only screen and (min-width: 1025px) {
      .green .headers span:nth-of-type(2) {
        font-size: 2vw; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .green .headers span:nth-of-type(2) {
        font-size: 3vw; } }

@media only screen and (min-width: 1025px) {
  img.hide-desktop {
    position: absolute;
    top: 20vh;
    right: 10vw;
    width: 18vw; } }

.landing {
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: black; }
  @media only screen and (min-width: 1025px) {
    .landing {
      height: 68vh; } }
  .landing .headers {
    font-size: 4.7vw;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 1vh;
    font-weight: 700;
    padding-top: 11vh; }
    @media only screen and (min-width: 1025px) {
      .landing .headers {
        display: none; } }
    .landing .headers span {
      display: block;
      text-transform: uppercase;
      font-weight: 300;
      color: white; }
      @media only screen and (min-width: 1025px) {
        .landing .headers span {
          display: none; } }
      @media only screen and (min-width: 1025px) {
        .landing .headers span:nth-of-type(2) {
          display: none; } }
  .landing .imgs {
    width: 100vw;
    height: 46vh; }
    .landing .imgs .alert {
      -webkit-transition: left 1s;
      transition: left 1s;
      z-index: 1;
      width: 8vw;
      height: 8vw;
      border-radius: 4vw;
      background-color: red;
      position: absolute;
      left: 64vw;
      bottom: 67vh;
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-animation: scale 0.3s cubic-bezier(0.17, 0.67, 0.07, 2.04);
              animation: scale 0.3s cubic-bezier(0.17, 0.67, 0.07, 2.04);
      -webkit-animation-delay: 2.8s;
              animation-delay: 2.8s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      color: white;
      font-size: 6vw;
      font-weight: 100;
      -webkit-box-shadow: -1px 2px 0px 0px rgba(0, 0, 0, 0.36);
              box-shadow: -1px 2px 0px 0px rgba(0, 0, 0, 0.36); }
      @media only screen and (min-width: 1025px) {
        .landing .imgs .alert {
          top: 9vh;
          width: 3vw;
          height: 3vw;
          left: 36vw;
          font-size: 2vw;
          z-index: 0; } }
      @media only screen and (max-width: 1024px) and (min-width: 415px) {
        .landing .imgs .alert {
          bottom: 68vh;
          font-size: 5vw; } }
    .landing .imgs img {
      width: 45vw;
      position: absolute;
      left: 130vw;
      -webkit-transition: left 1s;
      transition: left 1s;
      display: none; }
      .landing .imgs img:first-of-type {
        top: 27vh; }
        @media only screen and (min-width: 1025px) {
          .landing .imgs img:first-of-type {
            top: 8vh;
            width: 20vw; } }
        @media only screen and (max-width: 1024px) and (min-width: 415px) {
          .landing .imgs img:first-of-type {
            top: 24vh; } }
      .landing .imgs img:nth-of-type(2) {
        top: 22vh; }
        @media only screen and (min-width: 1025px) {
          .landing .imgs img:nth-of-type(2) {
            width: 17vh;
            padding-top: 17vh; } }
        @media only screen and (max-width: 1024px) and (min-width: 415px) {
          .landing .imgs img:nth-of-type(2) {
            width: 38vw; } }
    .landing .imgs img:first-of-type.active {
      left: 27.5vw; }
      @media only screen and (min-width: 1025px) {
        .landing .imgs img:first-of-type.active {
          left: 20vw; } }
    .landing .imgs img:last-of-type.active {
      left: 27.5vw; }
      @media only screen and (max-width: 1024px) and (min-width: 415px) {
        .landing .imgs img:last-of-type.active {
          left: 31vw; } }
  .landing .subheads {
    width: 80vw;
    margin-left: 10vw;
    font-size: 3.4vw;
    font-weight: 600;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    color: white; }
    @media only screen and (min-width: 1025px) {
      .landing .subheads {
        font-size: 1.5vw;
        font-weight: 400;
        width: 33vw;
        float: right;
        padding-right: 15vw; } }
  .landing .landing-nav {
    margin-top: 4vh; }
    @media only screen and (min-width: 1025px) {
      .landing .landing-nav {
        width: 40vw;
        margin-left: 10vw; } }
    .landing .landing-nav img {
      vertical-align: middle;
      width: 5vw;
      padding: 2vw; }
      @media only screen and (min-width: 1025px) {
        .landing .landing-nav img {
          width: 2vw; } }
      .landing .landing-nav img:last-of-type {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
    .landing .landing-nav span {
      width: 2vw;
      height: 1vw;
      border-radius: 4vw;
      border: #00AEEF 0.4vw solid;
      display: inline-block;
      vertical-align: middle;
      margin-top: 6vh; }
      @media only screen and (min-width: 1025px) {
        .landing .landing-nav span {
          border: #00AEEF 0.2vw solid;
          width: 1vw;
          height: 0.5vw; } }
      .landing .landing-nav span:first-of-type {
        margin-left: 26vw; }
        @media only screen and (min-width: 1025px) {
          .landing .landing-nav span:first-of-type {
            margin-left: 10vw; } }
      .landing .landing-nav span:last-of-type {
        margin-right: 26vw;
        margin-left: 4vw; }
        @media only screen and (min-width: 1025px) {
          .landing .landing-nav span:last-of-type {
            margin-right: 10vw;
            margin-left: 4vw; } }
    .landing .landing-nav span.active {
      background-color: #00AEEF; }
  .landing .down-chevron {
    width: 15vw;
    margin-top: 1vh;
    position: relative;
    top: 65vh;
    -webkit-animation: slide 1s infinite;
            animation: slide 1s infinite;
    opacity: 0; }
    @media only screen and (min-width: 1025px) {
      .landing .down-chevron {
        display: none; } }

@-webkit-keyframes slide {
  0% {
    top: 17vh; }
  100% {
    top: 36vh; } }

@keyframes slide {
  0% {
    top: 17vh; }
  100% {
    top: 36vh; } }

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes scale-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@keyframes scale-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@-webkit-keyframes slide-in {
  0% {
    left: 130vw; }
  100% {
    left: 27.5vw; } }

@keyframes slide-in {
  0% {
    left: 130vw; }
  100% {
    left: 27.5vw; } }

.bottom-third {
  position: absolute;
  width: 100vw;
  bottom: 14vh; }
  @media only screen and (min-width: 1025px) {
    .bottom-third {
      bottom: 36vh; } }

.initial-hide {
  display: none; }

.infographics {
  background-color: white;
  padding-top: 6vh; }
  @media only screen and (min-width: 1025px) {
    .infographics {
      padding-top: 15vh; } }
  .infographics .text span {
    display: block; }
    .infographics .text span:first-of-type {
      display: block;
      font-size: 5vw;
      font-weight: 400;
      margin-left: 10vw; }
      @media only screen and (min-width: 1025px) {
        .infographics .text span:first-of-type {
          font-size: 2.5vw;
          margin-left: 12.5vw;
          display: inline; } }
    .infographics .text span:nth-of-type(2) {
      display: block;
      font-size: 5vw;
      font-weight: 700;
      margin-left: 10vw; }
      @media only screen and (min-width: 1025px) {
        .infographics .text span:nth-of-type(2) {
          font-size: 2.5vw;
          margin-left: .5vw;
          display: inline; } }
    .infographics .text span:nth-of-type(3) {
      margin-top: 5vh;
      width: 70vw;
      margin-left: 15vw;
      font-weight: 600;
      margin-left: 10vw; }
      @media only screen and (min-width: 1025px) {
        .infographics .text span:nth-of-type(3) {
          font-size: 2vw;
          font-weight: 400;
          width: 100%;
          margin-left: 0;
          text-align: center; } }
      @media only screen and (max-width: 1024px) and (min-width: 415px) {
        .infographics .text span:nth-of-type(3) {
          font-size: 3.5vw; } }
    .infographics .text span:last-of-type {
      margin-bottom: 5vh;
      width: 70vw;
      margin-left: 15vw;
      font-weight: 600;
      margin-left: 10vw; }
      @media only screen and (min-width: 1025px) {
        .infographics .text span:last-of-type {
          font-size: 2vw;
          width: 100%;
          font-weight: 400;
          margin-left: 0;
          text-align: center; } }
      @media only screen and (max-width: 1024px) and (min-width: 415px) {
        .infographics .text span:last-of-type {
          font-size: 3.5vw; } }
  .infographics .graphics {
    padding-bottom: 10vh; }
    @media only screen and (min-width: 1025px) {
      .infographics .graphics {
        padding-bottom: 70vh;
        width: 100%; } }
  .infographics img {
    width: 100vw;
    margin-top: 5vh; }
    @media only screen and (min-width: 1025px) {
      .infographics img {
        width: 30%;
        float: left;
        display: inline-block;
        margin-bottom: 5vh; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .infographics img {
        width: 70vw;
        margin-left: 15vw; } }
    @media only screen and (min-width: 1025px) {
      .infographics img:first-of-type {
        padding-left: 5%; } }

.heads {
  display: block;
  font-size: 4vw;
  font-weight: 300;
  width: 80vw;
  margin-bottom: 6vh; }

.gradient {
  padding-left: 10vw;
  padding-top: 6vh;
  padding-bottom: 6vh;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#150958), color-stop(70%, #150958), to(#00aeef));
  background: linear-gradient(to bottom, #150958 0%, #150958 70%, #00aeef 100%); }
  @media only screen and (min-width: 1025px) {
    .gradient {
      padding-left: 10vw;
      padding-right: 10vw; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .gradient {
      background: -webkit-gradient(linear, left top, left bottom, from(#150958), color-stop(83%, #150958), color-stop(93%, #00aeef));
      background: linear-gradient(to bottom, #150958 0%, #150958 83%, #00aeef 93%); } }
  .gradient .plus-messenger {
    margin-bottom: 10vh;
    width: 84vw; }
    @media only screen and (min-width: 1025px) {
      .gradient .plus-messenger {
        width: 100%; } }
    .gradient .plus-messenger .capabilites {
      text-transform: uppercase;
      font-size: 6vw;
      margin-bottom: 5vh; }
      @media only screen and (min-width: 1025px) {
        .gradient .plus-messenger .capabilites {
          text-align: center;
          width: 100%;
          padding-left: 0;
          margin-left: 0;
          padding-top: 10vh;
          padding-bottom: 4vh;
          font-size: 3vw; } }
    @media only screen and (min-width: 1025px) {
      .gradient .plus-messenger .heads {
        font-size: 2.25vw;
        width: 33%;
        margin-right: 0;
        float: left; } }
  @media only screen and (min-width: 1025px) {
    .gradient .smallGraphics {
      width: 66%;
      padding-bottom: 15vh;
      margin-left: 28vw; } }
  .gradient .smallGraphics div {
    margin-bottom: 6vh; }
    @media only screen and (min-width: 1025px) {
      .gradient .smallGraphics div {
        width: 50%;
        float: left; } }
    .gradient .smallGraphics div img {
      vertical-align: middle;
      width: 12vw;
      margin-right: 3vw; }
      @media only screen and (min-width: 1025px) {
        .gradient .smallGraphics div img {
          width: 6vw;
          margin-right: 0; } }
    .gradient .smallGraphics div span {
      vertical-align: middle;
      font-weight: 300;
      font-style: italic;
      font-size: 3.5vw; }
      @media only screen and (min-width: 1025px) {
        .gradient .smallGraphics div span {
          font-size: 1.2vw;
          margin-left: 1vw; } }
  .gradient .cost-effective {
    display: none; }
    @media only screen and (min-width: 1025px) {
      .gradient .cost-effective {
        display: inline-block;
        width: 55%;
        padding-top: 12vh; } }
  .gradient .every-lead {
    margin-bottom: 10vh; }
    @media only screen and (min-width: 1025px) {
      .gradient .every-lead {
        float: right;
        display: inline-block;
        width: 35%;
        margin-top: 10vh; } }
    @media only screen and (min-width: 1025px) {
      .gradient .every-lead .heads {
        font-size: 2.25vw;
        width: 94%;
        margin-right: 0; } }
    .gradient .every-lead span {
      display: block; }
    .gradient .every-lead img {
      margin-bottom: 2vh;
      width: 40vw; }
    .gradient .every-lead .title {
      margin-top: 2vh;
      margin-bottom: 2vh;
      font-weight: 700;
      text-transform: uppercase; }
      @media only screen and (min-width: 1025px) {
        .gradient .every-lead .title {
          font-size: 1.25vw;
          font-weight: 400;
          margin-bottom: 1vh; } }
      @media only screen and (max-width: 1024px) and (min-width: 415px) {
        .gradient .every-lead .title {
          font-size: 3vw; } }
    .gradient .every-lead .description {
      width: 80vw;
      display: block;
      margin-bottom: 6vh; }
      @media only screen and (min-width: 1025px) {
        .gradient .every-lead .description {
          font-weight: 100;
          width: 94%;
          margin-bottom: 5vh; } }
      @media only screen and (max-width: 1024px) and (min-width: 415px) {
        .gradient .every-lead .description {
          font-size: 3.5vw; } }
  @media only screen and (min-width: 1025px) {
    .gradient .future {
      clear: both;
      padding-top: 10vh; } }
  .gradient .future .heads {
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2vh; }
    @media only screen and (min-width: 1025px) {
      .gradient .future .heads {
        font-size: 2vw;
        text-align: center;
        margin-bottom: 4vh; } }
  .gradient .future .desc {
    width: 80vw;
    display: block;
    font-weight: 300; }
    @media only screen and (min-width: 1025px) {
      .gradient .future .desc {
        font-size: 1.5vw;
        font-weight: 100;
        width: 70%;
        margin-left: 15%;
        text-align: center;
        padding-bottom: 5vh; } }
  .gradient .future .news .title {
    display: block;
    font-weight: 600; }
  .gradient .future .news .description {
    width: 80vw;
    display: block;
    margin-top: 2vh;
    margin-bottom: 2vh; }
  .gradient .future .read-more {
    font-weight: 600;
    display: block;
    font-size: 5vw; }

.news-icons {
  width: 2vw;
  height: 1vw;
  border-radius: 4vw;
  border: #FF0000 0.4vw solid;
  display: inline-block;
  margin-right: 2vw;
  -webkit-transition: background-color .5s;
  transition: background-color .5s; }

.news-icons.active {
  background-color: #FF0000; }

.email-icon {
  width: 12vw;
  position: absolute;
  z-index: 1;
  -webkit-animation: scale-down;
          animation: scale-down;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  @media only screen and (min-width: 1025px) {
    .email-icon {
      padding-top: 80vh; } }
  .email-icon:nth-of-type(even) {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }
  .email-icon:nth-of-type(odd) {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    -webkit-animation-duration: .5s;
            animation-duration: .5s; }
  .email-icon:nth-of-type(1) {
    top: 52vh;
    left: 14vw; }
  .email-icon:nth-of-type(2) {
    top: 37vh;
    left: 26vw; }
  .email-icon:nth-of-type(3) {
    top: 33vh;
    left: 69vw; }
  .email-icon:nth-of-type(4) {
    top: 58vh;
    left: 61vw; }
  .email-icon:nth-of-type(5) {
    top: 34vh;
    left: 38vw; }
  .email-icon:nth-of-type(6) {
    top: 51vh;
    left: 27vw; }
  .email-icon:nth-of-type(7) {
    top: 36vh;
    left: 48vw; }
  .email-icon:nth-of-type(8) {
    top: 47vh;
    left: 57vw; }
  .email-icon:nth-of-type(9) {
    top: 53vh;
    left: 29vw; }
  .email-icon:nth-of-type(10) {
    top: 21vh;
    left: 77vw; }
  .email-icon:nth-of-type(11) {
    top: 59vh;
    left: 46vw; }
  .email-icon:nth-of-type(12) {
    top: 49vh;
    left: 85vw; }
  .email-icon:nth-of-type(13) {
    top: 35vh;
    left: 13vw; }
  .email-icon:nth-of-type(14) {
    top: 37vh;
    left: 39vw; }
  .email-icon:nth-of-type(15) {
    top: 42vh;
    left: 83vw; }
  .email-icon:nth-of-type(16) {
    top: 57vh;
    left: 40vw; }
  .email-icon:nth-of-type(17) {
    top: 35vh;
    left: 2vw; }
  .email-icon:nth-of-type(18) {
    top: 27vh;
    left: 50vw; }
  .email-icon:nth-of-type(19) {
    top: 21vh;
    left: 9vw; }
  .email-icon:nth-of-type(20) {
    top: 39vh;
    left: 37vw; }

.display-none {
  display: none; }

.hide-orientation {
  position: fixed;
  background-color: #c1c1c1;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  top: 0; }
  .hide-orientation img {
    width: 30vw;
    margin-left: 35vw;
    margin-top: 30vh; }

body {
  margin: 0;
  background-color: black;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif; }

input:focus, select:focus, textarea:focus, button:focus {
  outline: none; }

header.scrolled {
  height: 4vh; }
  @media only screen and (min-width: 1025px) {
    header.scrolled .headerButton {
      border-radius: 0.5vw;
      padding-top: 0.7vh;
      padding-bottom: 0.7vh; } }
  @media only screen and (min-width: 1025px) {
    header.scrolled .headerButton img {
      width: 0.7vw;
      margin-right: 1vw; } }
  @media only screen and (min-width: 1025px) {
    header.scrolled .headerButton span {
      width: 0.7vw; } }
  @media only screen and (min-width: 1025px) {
    header.scrolled .smallLogo {
      width: 2.2vw; } }
  @media only screen and (min-width: 1025px) {
    header.scrolled a {
      font-size: 1.2vw; } }
  header.scrolled a:first-of-type {
    margin-right: 52vw; }

header {
  background-color: white;
  -webkit-transition: background .8s, height 1s, -webkit-box-shadow 1s;
  transition: background .8s, height 1s, -webkit-box-shadow 1s;
  transition: background .8s, box-shadow 1s, height 1s;
  transition: background .8s, box-shadow 1s, height 1s, -webkit-box-shadow 1s;
  position: fixed;
  width: 100vw;
  z-index: 1;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  top: 0; }
  @media only screen and (min-width: 1025px) {
    header {
      height: 8vh;
      text-align: start; } }
  header img {
    width: 7vw;
    vertical-align: middle; }
  header .smallLogo {
    width: 7vw;
    vertical-align: middle;
    -webkit-transition: width .8s;
    transition: width .8s; }
    @media only screen and (min-width: 1025px) {
      header .smallLogo {
        width: 4vw;
        margin-left: 5vw; } }
  header a {
    -webkit-transition: width .8s, margin-right .8s, font-size .8s;
    transition: width .8s, margin-right .8s, font-size .8s;
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
    text-decoration: none;
    font-weight: 300;
    vertical-align: middle;
    font-size: 3.5vw;
    color: #150958;
    margin-right: 4.8vw; }
    @media only screen and (min-width: 1025px) {
      header a {
        font-size: 1.7vw;
        margin-right: 4vw; }
        header a:first-of-type {
          margin-right: 41vw; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      header a {
        font-size: 3.1vw;
        margin-right: 6.3vw; } }
  header .headerButton {
    -webkit-transition: border-radius .8s, padding-top .8s, padding-bottom .8s;
    transition: border-radius .8s, padding-top .8s, padding-bottom .8s;
    background-color: #150958;
    padding: 3vw;
    border-radius: 2.5vw;
    color: white;
    margin-right: 0vw; }
    @media only screen and (min-width: 1025px) {
      header .headerButton {
        padding: 1.4vw;
        border-radius: 1.2vw;
        font-size: 1.3vw;
        padding-left: 1.4vw;
        padding-right: 1.4vw;
        padding-top: 2vh;
        padding-bottom: 2.4vh; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      header .headerButton {
        padding: 2.1vw;
        border-radius: 1.7vw; } }
    header .headerButton img {
      width: 3vw;
      margin-right: 1vw;
      -webkit-transition: width .8s;
      transition: width .8s; }
      @media only screen and (min-width: 1025px) {
        header .headerButton img {
          width: 1.3vw;
          margin-right: 2.1vw; } }
      @media only screen and (max-width: 1024px) and (min-width: 415px) {
        header .headerButton img {
          width: 2.2vw; } }
    header .headerButton span {
      font-weight: 400;
      -webkit-transition: width .8s;
      transition: width .8s; }
      @media only screen and (min-width: 1025px) {
        header .headerButton span {
          font-weight: 300; } }

footer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  background-color: #00aeef; }
  footer img {
    width: 35vw;
    top: 2.5vh;
    position: relative;
    left: 5vw; }
    @media only screen and (min-width: 1025px) {
      footer img {
        width: 18vw; } }
  footer .link-holder {
    position: relative;
    top: -2.5vh; }
    footer .link-holder a {
      text-decoration: none;
      color: #ffffff;
      display: block;
      font-weight: 300;
      text-align: right;
      font-size: 3.5vw;
      margin-bottom: 3vh;
      width: 20vw;
      margin-left: 75vw; }
      @media only screen and (min-width: 1025px) {
        footer .link-holder a {
          font-size: 1.6vw; } }
  footer .footer-icons {
    position: absolute;
    top: 9.5vh; }
    @media only screen and (min-width: 1025px) {
      footer .footer-icons {
        top: 13.2vh; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      footer .footer-icons {
        top: 11.5vh; } }
    footer .footer-icons .footer-login {
      display: inline;
      vertical-align: middle; }
      footer .footer-icons .footer-login img {
        width: 5vw;
        vertical-align: middle; }
      footer .footer-icons .footer-login p {
        display: inline; }
    footer .footer-icons a {
      vertical-align: middle; }
      footer .footer-icons a:first-of-type img {
        width: 8vw; }
        @media only screen and (min-width: 1025px) {
          footer .footer-icons a:first-of-type img {
            width: 3vw; } }
      footer .footer-icons a:nth-of-type(2) img {
        width: 4vw; }
        @media only screen and (min-width: 1025px) {
          footer .footer-icons a:nth-of-type(2) img {
            width: 1.6vw; } }
      footer .footer-icons a:nth-of-type(3) img {
        width: 7vw; }
        @media only screen and (min-width: 1025px) {
          footer .footer-icons a:nth-of-type(3) img {
            width: 3.7vw; } }
      footer .footer-icons a:nth-of-type(4) img {
        width: 18vw; }
        @media only screen and (min-width: 1025px) {
          footer .footer-icons a:nth-of-type(4) img {
            width: 7vw; } }
      footer .footer-icons a img {
        vertical-align: middle;
        margin-right: 5vw; }
        @media only screen and (min-width: 1025px) {
          footer .footer-icons a img {
            margin-right: 2vw; } }
  footer span:last-of-type {
    position: absolute;
    bottom: 5.5vh;
    color: white;
    font-size: 2.3vw;
    left: 5vw; }
    @media only screen and (min-width: 1025px) {
      footer span:last-of-type {
        font-size: 0.7vw; } }
