body {
  margin: 0;
  padding: 0; }

html {
  margin: 0;
  padding: 0; }

.pricing {
  padding-top: 20vh;
  width: 100vw;
  display: block;
  text-align: center;
  padding-bottom: 10vh; }

.pricingTitle {
  font-size: 6vh;
  text-transform: uppercase;
  color: white; }
  @media only screen and (min-width: 1025px) {
    .pricingTitle {
      font-size: 3vw;
      margin: 7vh; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .pricingTitle {
      font-size: 5vw;
      margin: 8vh; } }

#cards {
  display: none;
  vertical-align: top; }
  @media only screen and (min-width: 1025px) {
    #cards {
      display: inline-block;
      width: 100%; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    #cards {
      display: none;
      width: 100%; } }

@media only screen and (min-width: 1025px) {
  .card {
    width: 20%;
    height: 65vh;
    margin: 0 2% 0 2%;
    padding-bottom: 7vh;
    display: inline-block;
    z-index: 2;
    -webkit-box-shadow: 0 21px 56px rgba(0, 43, 121, 0.07);
            box-shadow: 0 21px 56px rgba(0, 43, 121, 0.07);
    background-color: #c7c7c7;
    vertical-align: top; } }

@media only screen and (max-width: 1024px) and (min-width: 415px) {
  .card {
    width: 23%;
    height: 70vh;
    margin: 0 1% 0 1%;
    padding-bottom: 7vh;
    display: inline-block;
    z-index: 2;
    -webkit-box-shadow: 0 21px 56px rgba(0, 43, 121, 0.07);
            box-shadow: 0 21px 56px rgba(0, 43, 121, 0.07);
    background-color: #c7c7c7;
    vertical-align: top; } }

@media only screen and (min-width: 1025px) {
  .cardTitle {
    height: 18vh;
    background-color: #474747;
    border: 1px solid #474747; } }

@media only screen and (max-width: 1024px) and (min-width: 415px) {
  .cardTitle {
    height: 18vh;
    background-color: #474747;
    border: 1px solid #474747; } }

@media only screen and (min-width: 1025px) {
  .cardTitle h4 {
    text-align: left;
    padding: 3vh 0 1vh 2vw;
    height: 0;
    margin: 2vh 0;
    font-size: 2vw;
    display: inline-block;
    color: white; } }

@media only screen and (max-width: 1024px) and (min-width: 415px) {
  .cardTitle h4 {
    font-size: 2.25vw;
    font-weight: 400;
    text-align: left;
    padding: 3vh 0 1vh 2vw;
    height: 0;
    margin: 2vh 0;
    display: inline-block;
    color: white; } }

.month {
  display: inline;
  color: white; }
  @media only screen and (min-width: 1025px) {
    .month {
      font-size: 1.75vh; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .month {
      font-size: 1.25vh; } }

p.admins {
  text-align: left;
  font-style: italic;
  color: #869ECC; }
  @media only screen and (min-width: 1025px) {
    p.admins {
      padding: .75vh 0 5% 2vw;
      font-size: 1.75vh;
      margin-top: 0vh; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    p.admins {
      padding: .75vh 0 5% 2vw;
      font-size: 1.5vh;
      margin-top: 0vh; } }
  p.admins a {
    text-decoration: none;
    color: #869ECC; }

@media only screen and (min-width: 1025px) {
  p#pro {
    padding: 0 5% 0 5%;
    margin-top: 10%;
    text-align: center;
    color: #224389;
    text-transform: uppercase;
    font-weight: 600; } }

@media only screen and (max-width: 1024px) and (min-width: 415px) {
  p#pro {
    padding: 0 5% 0 5%;
    margin-top: 10%;
    text-align: center;
    color: #224389;
    text-transform: uppercase;
    font-weight: 600; } }

@media only screen and (min-width: 1025px) {
  ul.proList.list {
    margin-top: 8%; } }

@media only screen and (max-width: 1024px) and (min-width: 415px) {
  ul.proList.list {
    margin-top: 8%; } }

@media only screen and (min-width: 1025px) {
  ul.customList.list {
    margin-top: 8%; } }

@media only screen and (max-width: 1024px) and (min-width: 415px) {
  ul.customList.list {
    margin-top: 9%;
    padding: 0 4% 0 7%; } }

@media only screen and (min-width: 1025px) {
  ul {
    padding: 0% 5% 0 10%;
    margin-top: 15%; } }

@media only screen and (max-width: 1024px) and (min-width: 415px) {
  ul {
    padding: 0% 5% 0 10%;
    margin-top: 15%; } }

@media only screen and (min-width: 1025px) {
  ul li {
    list-style: none; } }

@media only screen and (max-width: 1024px) and (min-width: 415px) {
  ul li {
    list-style: none; } }

@media only screen and (min-width: 1025px) {
  .listItem.soon {
    font-size: 1.5vh; } }

@media only screen and (max-width: 1024px) and (min-width: 415px) {
  .listItem.soon {
    font-size: 1.5vh; } }

@media only screen and (min-width: 1025px) {
  .listItem {
    padding-bottom: 2vh;
    font-size: 1.75vh; } }

@media only screen and (max-width: 1024px) and (min-width: 415px) {
  .listItem {
    padding-bottom: 2vh;
    font-size: 1.75vh; } }

.card.custom {
  border: 4px solid #00AEEF; }
  @media only screen and (min-width: 1025px) {
    .card.custom {
      margin-right: 3%; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .card.custom {
      width: 23%;
      margin-right: 1%;
      margin-left: 1%;
      line-height: 1.75vh; } }

@media only screen and (min-width: 1025px) {
  .card.free {
    margin-left: 3%; } }

@media only screen and (max-width: 1024px) and (min-width: 415px) {
  .card.free {
    margin-left: 2%;
    width: 19%; } }

.pricingTable {
  height: auto;
  display: block; }
  @media only screen and (min-width: 1025px) {
    .pricingTable {
      display: none; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .pricingTable {
      display: block; } }

table {
  width: 90%;
  margin: 0 5% 0 5%; }
  @media only screen and (min-width: 1025px) {
    table {
      width: 70%;
      margin: 0 15% 0 15%; } }
  table tr th {
    padding: 0vh 2vw 0vh 2vw;
    text-align: center;
    font-size: 3.5vh;
    color: #869ECC;
    line-height: 1.65vh;
    background-color: transparent; }
    table tr th p {
      font-size: 1.75vh;
      padding-top: 0;
      margin-top: 1vh;
      color: white;
      font-weight: 100; }

td {
  text-align: center;
  font-size: 1.75vh;
  padding: 1vh 0 1vh 0;
  font-weight: 100;
  color: white; }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    td {
      font-weight: 100; } }

.leftTD {
  text-align: left;
  border-left: 0px;
  float: none;
  padding-left: 1.5vw; }

.leftTD.stripe {
  padding-left: 3vw; }

.bottom {
  border-bottom: 0px; }

.add {
  padding: 5% 10% 5% 10%;
  text-align: center; }
  @media only screen and (min-width: 1025px) {
    .add {
      padding: 5% 10% 0% 10%; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .add {
      padding: 4% 10% 0% 10%; } }
  .add p {
    padding-top: 0;
    padding-bottom: 5%;
    font-size: 2.25vh;
    text-align: center;
    color: white; }
    @media only screen and (min-width: 1025px) {
      .add p {
        font-size: 1.25vw;
        font-weight: 500; } }

div.customCallout {
  background-color: #00AEEF;
  color: white;
  text-align: center;
  padding-bottom: 4vh; }
  div.customCallout h2 {
    padding: 7% 5% 0 5%;
    margin-bottom: 0; }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      div.customCallout h2 {
        font-size: 5vw; } }
  div.customCallout h3 {
    margin-top: 4%; }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      div.customCallout h3 {
        font-size: 3.75vw;
        margin-bottom: 7%; } }
  div.customCallout ul {
    list-style: none;
    padding: 0;
    margin-top: 3%; }
  div.customCallout ul.integrations {
    float: left;
    width: 50%; }
  div.customCallout ul.possibilities {
    float: right;
    width: 50%; }
  @media only screen and (min-width: 1025px) {
    div.customCallout {
      display: none; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    div.customCallout {
      display: block;
      height: 73vh;
      margin-top: 20%; } }

.listItem.callout {
  font-size: 4.25vw; }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .listItem.callout {
      font-size: 4vw; } }

.listItem.soon.personalize {
  font-size: 3vw; }

.customButtonDiv {
  padding-top: 33%; }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .customButtonDiv {
      padding-top: 0; } }

.customButton {
  background-color: #5772AC;
  color: white;
  text-decoration: none;
  border-radius: 1.5vw;
  padding: 1.25vh 2.5vw 1.25vh 2.5vw;
  margin: 0 30% 3vh 30%;
  font-size: 3vh;
  display: inline-block;
  width: 40%;
  margin-top: 4vh; }
  @media only screen and (min-width: 1025px) {
    .customButton {
      border-radius: .75vw;
      width: 40%;
      margin: 0 30% 0 30%; }
      .customButton span {
        font-weight: 300;
        vertical-align: inherit; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .customButton {
      padding: 1.3vw;
      border-radius: .75vw;
      margin: 2vh 30% 0 30%;
      width: 40%; }
      .customButton span {
        font-weight: 300;
        vertical-align: middle; } }

.headings {
  background-color: transparent; }

tbody tr:nth-child(odd) {
  background: transparent; }

tbody tr:nth-child(even) {
  background-color: rgba(199, 199, 199, 0.68); }

.body-bg.multiple-desktop {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }

.button {
  margin-top: 30%;
  margin-bottom: 15%;
  width: 85vw;
  margin-left: 7.5vw; }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .button {
      width: 65vw;
      margin-left: 17.5vw; } }
  @media only screen and (min-width: 1025px) {
    .button {
      width: 46vw;
      margin-top: 0;
      margin-left: 27vw; } }

.fbButton {
  background-color: #5772AC;
  color: white;
  text-decoration: none;
  border-radius: 1.5vw;
  font-size: 3vh;
  display: block;
  vertical-align: middle;
  padding: 2vh;
  text-align: center;
  margin-bottom: 5vh;
  -webkit-transition: background-color 1s;
  transition: background-color 1s; }
  @media only screen and (min-width: 1025px) {
    .fbButton {
      border-radius: .5vw;
      font-size: 1.4vw;
      vertical-align: middle;
      text-align: center;
      padding: 1.4vh; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .fbButton {
      border-radius: 1vw;
      vertical-align: middle;
      text-align: center;
      font-size: 2.6vh;
      padding: 1.3vh; } }
  .fbButton:hover {
    background-color: #00AEEF; }
    .fbButton:hover span {
      font-weight: 300;
      vertical-align: middle; }
  .fbButton img {
    width: 4vw;
    vertical-align: middle;
    margin-right: 6vw; }
    @media only screen and (min-width: 1025px) {
      .fbButton img {
        width: 1.1vw;
        vertical-align: middle;
        margin-right: 2vw; } }

.underButton {
  text-align: center; }
  @media only screen and (min-width: 1025px) {
    .underButton {
      width: 30%;
      margin: 3% 0 0 35%; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .underButton {
      width: 40%;
      margin: 3% 0 0 30%; } }

.smallText {
  color: #c1c1c1;
  font-size: 2.75vw; }
  @media only screen and (min-width: 1025px) {
    .smallText {
      font-size: 1.5vh; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .smallText {
      font-size: 1.25vh; } }

.smallText.FB {
  display: inline-block;
  padding-bottom: 2vh; }

.smallText.TC {
  display: inline-block; }

.landing {
  color: #474747;
  background-size: cover;
  background-position-x: center; }
  .landing .logo {
    width: 70vw;
    margin-left: 15vw;
    margin-top: 17vh;
    -webkit-filter: drop-shadow(black 0px 0px 15px);
            filter: drop-shadow(black 0px 0px 15px); }
    @media only screen and (min-width: 1025px) {
      .landing .logo {
        margin-top: 24vh;
        width: 28vw;
        margin-left: 36vw; } }
  .landing a {
    display: inline-block;
    text-decoration: none;
    width: 80vw;
    margin-left: 10vw;
    text-align: center;
    background-color: rgba(21, 9, 88, 0);
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 2vw;
    border: 0.5vw solid #00AEEF;
    margin-bottom: 14vh; }
    @media only screen and (min-width: 1025px) {
      .landing a {
        width: 28vw;
        margin-left: 36vw;
        border: 0.3vw solid #150958 !important;
        border-radius: 1.1vw; } }
    .landing a img {
      width: 4vw;
      margin-right: 4vw;
      vertical-align: middle; }
      @media only screen and (min-width: 1025px) {
        .landing a img {
          width: 1.4vw;
          margin-right: 2vw; } }
    .landing a span {
      vertical-align: middle;
      color: #150958;
      font-weight: 300;
      font-size: 4.5vw;
      color: white; }
      @media only screen and (min-width: 1025px) {
        .landing a span {
          font-size: 1.3vw;
          font-weight: 400; } }
  .landing .soon {
    font-size: 4vw;
    color: white;
    padding-top: 0vh;
    margin-top: 0;
    padding-left: 51vw;
    padding-bottom: 15vh;
    display: inline-block; }
    @media only screen and (min-width: 1025px) {
      .landing .soon {
        padding-left: 51.3vw;
        font-size: 1.7vw; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .landing .soon {
        font-size: 3.1vw;
        padding-left: 53.6vw; } }

.social {
  padding-top: 4vh;
  position: top;
  max-width: auto;
  text-align: center; }
  @media only screen and (min-width: 1025px) {
    .social {
      height: 12vh; } }
  .social .socialIcons {
    display: inline;
    width: 12vw;
    vertical-align: middle; }
    @media only screen and (min-width: 1025px) {
      .social .socialIcons {
        width: 5vw;
        padding-bottom: 0; } }
    .social .socialIcons:first-of-type {
      width: 17vw;
      margin-right: 10vw;
      -webkit-animation: pulse 1.4s infinite ease-in-out;
              animation: pulse 1.4s infinite ease-in-out; }
      @media only screen and (min-width: 1025px) {
        .social .socialIcons:first-of-type {
          width: 7vw;
          margin-right: 7vw; } }
  .social .chevron {
    width: 15vw;
    padding-top: 4vh;
    margin-left: 42.5vw;
    margin-top: 7vh; }
    @media only screen and (min-width: 1025px) {
      .social .chevron {
        width: 8vw;
        padding-top: 2vh;
        padding-bottom: 3vh; } }

input[type="submit"] {
  text-decoration: none;
  color: white;
  font-size: 1em;
  border-radius: 1vh;
  background-color: #150958;
  position: center;
  font-weight: 400;
  cursor: pointer;
  padding: 2vh 3vw;
  margin: 9vh 0vh 0vw 0vw; }
  @media only screen and (min-width: 1025px) {
    input[type="submit"] {
      padding: 2vh 3vw;
      margin: 2vh 0vw; } }

.subtitle {
  margin: 10vh 0 10vh 20vw;
  width: 60vw;
  font-size: 6vw;
  font-weight: 400;
  color: white;
  text-align: center;
  text-shadow: black 0px 0px 60px; }
  @media only screen and (min-width: 1025px) {
    .subtitle {
      margin-left: 35vw;
      width: 30vw;
      font-size: 1.9vw; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .subtitle {
      font-size: 4.6vw; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-filter: drop-shadow(white 0px 0px 5px);
            filter: drop-shadow(white 0px 0px 5px); }
  25% {
    -webkit-filter: drop-shadow(white 0px 0px 15px);
            filter: drop-shadow(white 0px 0px 15px); }
  100% {
    -webkit-filter: drop-shadow(white 0px 0px 5px);
            filter: drop-shadow(white 0px 0px 5px); } }

@keyframes pulse {
  0% {
    -webkit-filter: drop-shadow(white 0px 0px 5px);
            filter: drop-shadow(white 0px 0px 5px); }
  25% {
    -webkit-filter: drop-shadow(white 0px 0px 15px);
            filter: drop-shadow(white 0px 0px 15px); }
  100% {
    -webkit-filter: drop-shadow(white 0px 0px 5px);
            filter: drop-shadow(white 0px 0px 5px); } }

.grey {
  width: 46vw;
  display: inline-block;
  margin-left: 38vw;
  background-color: black; }

.blue {
  color: white;
  padding-top: 10vh;
  padding-bottom: 10vh; }
  @media only screen and (min-width: 1025px) {
    .blue {
      padding-bottom: 20vh; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .blue {
      height: 435vh; } }
  .blue .h3 {
    display: block;
    text-align: center;
    margin-bottom: 3vh;
    font-size: 6vw;
    font-weight: 700;
    padding-top: 7vh; }
    @media only screen and (min-width: 1025px) {
      .blue .h3 {
        font-size: 2.5vw;
        font-weight: 700;
        padding-top: 5vh; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .blue .h3 {
        font-size: 5.2vw; } }
  .blue .h5 {
    font-size: 4.9vw;
    font-weight: 400;
    color: white;
    text-align: center;
    width: 80vw;
    display: block;
    margin-left: 10vw;
    padding-bottom: 10vh; }
    @media only screen and (min-width: 1025px) {
      .blue .h5 {
        font-size: 1.7vw;
        width: 70vw;
        margin-left: 15vw; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .blue .h5 {
        font-size: 3.9vw; } }
  .blue .three-phones {
    padding-top: 15vh;
    position: relative; }
    @media only screen and (min-width: 1025px) {
      .blue .three-phones {
        padding-top: 15vh;
        width: 76vw;
        margin-left: 12vw; } }
    .blue .three-phones .device {
      width: 56vw;
      margin-left: 5vw;
      position: absolute;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); }
      @media only screen and (min-width: 1025px) {
        .blue .three-phones .device {
          width: 31vw; } }
    .blue .three-phones .device.right {
      right: -6vw;
      top: 23vh; }
      @media only screen and (min-width: 1025px) {
        .blue .three-phones .device.right {
          top: 29vh; } }
      @media only screen and (max-width: 1024px) and (min-width: 415px) {
        .blue .three-phones .device.right {
          top: 26vh; } }
    .blue .three-phones .device.left {
      left: -11vw;
      top: 60vh; }
      @media only screen and (max-width: 1024px) and (min-width: 415px) {
        .blue .three-phones .device.left {
          top: 70vh; } }
      @media only screen and (min-width: 1025px) {
        .blue .three-phones .device.left {
          top: 91vh; } }
    .blue .three-phones .content-holder.left {
      text-align: right; }
      @media only screen and (min-width: 1025px) {
        .blue .three-phones .content-holder.left {
          margin-right: 25vw; } }
      .blue .three-phones .content-holder.left span:last-of-type {
        padding-left: 20vw; }
        @media only screen and (max-width: 1024px) and (min-width: 415px) {
          .blue .three-phones .content-holder.left span:last-of-type {
            padding-left: 0; } }
    .blue .three-phones .content-holder.right {
      margin-left: 45vw;
      padding-top: 24vh;
      text-align: left;
      float: none; }
      @media only screen and (min-width: 1025px) {
        .blue .three-phones .content-holder.right {
          margin-left: 25vw; } }
      @media only screen and (max-width: 1024px) and (min-width: 415px) {
        .blue .three-phones .content-holder.right {
          padding-top: 34vh; } }
      @media only screen and (max-width: 1024px) and (min-width: 415px) {
        .blue .three-phones .content-holder.right span:first-of-type {
          padding-top: 8vh; } }
      .blue .three-phones .content-holder.right span:last-of-type {
        display: block; }
        @media only screen and (min-width: 1025px) {
          .blue .three-phones .content-holder.right span:last-of-type {
            padding-right: 20vw; } }
    .blue .three-phones .content-holder {
      display: inline-block;
      width: 50vw;
      vertical-align: top;
      margin-left: 5vw;
      padding-top: 0; }
      @media only screen and (min-width: 1025px) {
        .blue .three-phones .content-holder {
          margin-left: 0vw; } }
      .blue .three-phones .content-holder span:first-of-type {
        margin-bottom: 5.5vh;
        font-weight: 600;
        display: block;
        font-size: 6vw;
        padding-top: 2vh; }
        @media only screen and (min-width: 1025px) {
          .blue .three-phones .content-holder span:first-of-type {
            font-size: 2vw;
            margin-bottom: 2vh;
            padding-top: 5vh; } }
        @media only screen and (max-width: 1024px) and (min-width: 415px) {
          .blue .three-phones .content-holder span:first-of-type {
            font-size: 4.5vw;
            margin-bottom: 2vh;
            padding-top: 5vh; } }
      .blue .three-phones .content-holder span:last-of-type {
        font-weight: 300;
        font-size: 4.2vw; }
        @media only screen and (min-width: 1025px) {
          .blue .three-phones .content-holder span:last-of-type {
            font-size: 1.65vw; } }
        @media only screen and (max-width: 1024px) and (min-width: 415px) {
          .blue .three-phones .content-holder span:last-of-type {
            font-size: 3.5vw;
            margin-bottom: 2vh; } }
  .blue .why {
    margin-top: 6vh;
    font-size: 6.8vw;
    font-weight: 600;
    width: 63vw;
    margin-left: 18.5vw;
    text-align: center;
    display: block; }
    @media only screen and (min-width: 1025px) {
      .blue .why {
        font-size: 3vw; } }
  .blue .because {
    text-align: center;
    display: block;
    font-size: 6vw;
    font-weight: 300; }
    @media only screen and (min-width: 1025px) {
      .blue .because {
        font-size: 3vw; } }
  .blue .stats {
    margin-bottom: 0vh;
    padding-top: 15vh; }
    .blue .stats:last-of-type {
      padding-bottom: 10vh; }
    @media only screen and (min-width: 1025px) {
      .blue .stats {
        padding-top: 18vh; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .blue .stats {
        height: 0;
        padding-top: 21vh; } }
    .blue .stats span:first-of-type {
      line-height: 8vh;
      position: absolute;
      left: 17vw;
      font-size: 12vw;
      font-weight: 500; }
      @media only screen and (min-width: 1025px) {
        .blue .stats span:first-of-type {
          left: 24vw;
          font-size: 4vw;
          padding-left: 7vw;
          line-height: 8vh; } }
    .blue .stats span:last-of-type {
      width: 44vw;
      display: inline-block;
      position: absolute;
      right: 10vw;
      font-weight: 300; }
      @media only screen and (min-width: 1025px) {
        .blue .stats span:last-of-type {
          right: 14vw;
          padding-top: 1.5vh; } }
      @media only screen and (max-width: 1024px) and (min-width: 415px) {
        .blue .stats span:last-of-type {
          font-weight: 300;
          font-size: 3vw; } }
  .blue .stats.first {
    height: 10vh; }
    @media only screen and (min-width: 1025px) {
      .blue .stats.first {
        height: 0vh;
        padding-top: 9vh; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .blue .stats.first {
        padding-top: 10vh;
        height: 0; } }
  .blue .stats.second {
    height: 20vh; }
    @media only screen and (min-width: 1025px) {
      .blue .stats.second {
        height: 0vh; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .blue .stats.second {
        height: 0; } }
    .blue .stats.second span:first-of-type {
      padding-left: 5vw; }
      @media only screen and (min-width: 1025px) {
        .blue .stats.second span:first-of-type {
          padding-left: 8.5vw; } }
  .blue .stats.third {
    height: 23vh; }
    @media only screen and (min-width: 1025px) {
      .blue .stats.third {
        height: 0vh; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .blue .stats.third {
        height: 0; } }
    .blue .stats.third span:first-of-type {
      padding-left: 2vw; }
      @media only screen and (min-width: 1025px) {
        .blue .stats.third span:first-of-type {
          padding-left: 7vw; } }

.features {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 1vh; }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .features {
      padding-bottom: 0; } }
  .features span:first-of-type {
    padding: 10vh 0 0 0;
    text-align: center;
    margin-bottom: 1vh;
    font-weight: 600;
    font-size: 8vw;
    display: block; }
    @media only screen and (min-width: 1025px) {
      .features span:first-of-type {
        font-size: 3.5vw;
        padding: 10vh 0 0vh 0;
        text-align: center; } }
  .features h5 {
    font-size: 5vw;
    font-weight: 300;
    text-align: left;
    width: 90vw;
    padding: 0 0 9vh 0;
    margin-top: 0;
    text-align: center;
    margin-left: 5vw; }
    @media only screen and (min-width: 1025px) {
      .features h5 {
        font-size: 2.125vw;
        font-weight: 400;
        padding: 0 0vw 7vh 0;
        text-align: center; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .features h5 {
        font-size: 4.5vw;
        padding: 0 0 10vh 0; } }
  .features h6 {
    font-weight: 500;
    font-size: 5vw;
    margin: 0;
    padding-bottom: .75vh; }
    @media only screen and (min-width: 1025px) {
      .features h6 {
        font-size: 2vw;
        margin: 5vh 0 0 5vw;
        text-align: center; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .features h6 {
        font-size: 4vw; } }
  .features p {
    font-weight: 300;
    font-size: 4.2vw;
    margin: 0; }
    @media only screen and (min-width: 1025px) {
      .features p {
        font-size: 1.5vw;
        font-weight: 100;
        margin: 1vh 0 3vh 0; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .features p {
        font-size: 3vw;
        font-weight: 100; } }

.circles:last-of-type {
  margin-bottom: 15vh; }

.circles div {
  display: inline-block;
  margin-bottom: 10vh;
  margin-right: 5vw;
  text-align: center; }
  @media only screen and (min-width: 1025px) {
    .circles div {
      margin-bottom: 0vh;
      margin-left: 0;
      margin-right: 0; } }

.featureItem {
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
  text-align: center; }
  .featureItem h6 {
    width: 100vw;
    margin-left: 0;
    margin-right: 0; }
  .featureItem p {
    width: 70vw;
    margin-left: 15vw; }
    @media only screen and (min-width: 1025px) {
      .featureItem p {
        width: 50vw;
        margin-left: 25vw; } }

.multiple-mobile-wrapper {
  height: 110% !important; }

.gif1 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  right: -6.9vw;
  width: 57.2vw;
  margin-top: 11.2vh; }
  @media only screen and (min-width: 1025px) {
    .gif1 {
      right: 8vw;
      width: 24.6vw;
      margin-top: 15.9vh; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .gif1 {
      right: -6.5vw;
      margin-top: 14.9vh; } }

.gif2 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: -6.1vw;
  width: 57.2vw;
  margin-top: 11.2vh; }
  @media only screen and (min-width: 1025px) {
    .gif2 {
      width: 24.6vw;
      margin-top: 15.8vh;
      left: 12.2vw; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .gif2 {
      left: -6.1vw;
      margin-top: 14.9vh; } }

.steps {
  padding-top: 24vh;
  padding-bottom: 15vh; }
  @media only screen and (min-width: 1025px) {
    .steps {
      padding-top: 24vh;
      padding-bottom: 15vh;
      width: 80vw;
      margin-left: 10vw;
      text-align: center; } }
  .steps p {
    font-size: 7vw;
    text-align: center;
    margin-top: 12vh;
    font-weight: 600; }
    @media only screen and (min-width: 1025px) {
      .steps p {
        font-size: 2.5vw;
        margin-top: 32vh; } }
  .steps .a-step {
    margin-bottom: 10vh;
    width: 50vw;
    display: inline-block;
    margin-left: 25vw;
    text-align: center; }
    @media only screen and (min-width: 1025px) {
      .steps .a-step {
        width: 13vw;
        display: inline-block;
        text-align: center;
        margin-right: 6vw;
        margin-left: 6vw;
        vertical-align: top; } }
    .steps .a-step img {
      width: 18vw; }
      @media only screen and (min-width: 1025px) {
        .steps .a-step img {
          width: 4.4vw; } }
    .steps .a-step span {
      display: block; }
      .steps .a-step span:first-of-type {
        font-weight: 600;
        font-size: 6vw;
        margin-top: 2vh; }
        @media only screen and (min-width: 1025px) {
          .steps .a-step span:first-of-type {
            font-size: 1.9vw; } }
      .steps .a-step span:last-of-type {
        font-weight: 300;
        font-size: 4vw; }
        @media only screen and (min-width: 1025px) {
          .steps .a-step span:last-of-type {
            font-size: 1.2vw; } }

.grad {
  background-color: #150958; }

@media only screen and (min-width: 1025px) {
  .spacer {
    padding-top: 54vh !important; } }

.about-copy {
  color: white;
  font-size: 4.5vw; }
  @media only screen and (min-width: 1025px) {
    .about-copy {
      margin-top: 10vh;
      font-size: 1.8vw; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .about-copy {
      font-size: 3.4vw; } }
  .about-copy span {
    width: 90vw;
    margin-left: 5vw;
    display: inline-block;
    font-weight: 300;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 0; }
    @media only screen and (min-width: 1025px) {
      .about-copy span {
        width: 50vw;
        margin-left: 25vw; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .about-copy span {
        width: 60vw;
        margin-left: 20vw; } }
    .about-copy span:first-of-type {
      padding-top: 27vh;
      opacity: 1; }
      @media only screen and (min-width: 1025px) {
        .about-copy span:first-of-type {
          padding-top: 27vh; } }
    .about-copy span:nth-of-type(2) {
      padding-bottom: 14vh;
      font-weight: 600;
      opacity: 1; }
      @media only screen and (min-width: 1025px) {
        .about-copy span:nth-of-type(2) {
          padding-bottom: 30vh; } }
    .about-copy span:nth-of-type(4) {
      font-weight: 600;
      margin-bottom: 14vh; }
      @media only screen and (min-width: 1025px) {
        .about-copy span:nth-of-type(4) {
          margin-bottom: 30vh; } }
    .about-copy span:nth-of-type(5) {
      margin-bottom: 14vh; }
      @media only screen and (min-width: 1025px) {
        .about-copy span:nth-of-type(5) {
          margin-bottom: 30vh; } }
    .about-copy span:nth-of-type(6) {
      font-weight: 600; }
    .about-copy span:nth-of-type(7) {
      margin-bottom: 14vh; }
      @media only screen and (min-width: 1025px) {
        .about-copy span:nth-of-type(7) {
          margin-bottom: 30vh; } }
    .about-copy span:nth-of-type(8) {
      font-weight: 600; }
    .about-copy span:nth-of-type(9) {
      margin-bottom: 14vh; }
      @media only screen and (min-width: 1025px) {
        .about-copy span:nth-of-type(9) {
          margin-bottom: 30vh; } }
    .about-copy span:nth-of-type(10) {
      font-weight: 600;
      margin-bottom: 14vh; }
      @media only screen and (min-width: 1025px) {
        .about-copy span:nth-of-type(10) {
          margin-bottom: 30vh; } }
    .about-copy span:last-of-type {
      margin-bottom: 14vh; }

.scroll-indicator {
  position: fixed;
  width: 20vw;
  left: 40vw;
  top: 50vh;
  -webkit-animation: drag 1.4s infinite cubic-bezier(0.4, 0, 0.2, 1);
          animation: drag 1.4s infinite cubic-bezier(0.4, 0, 0.2, 1); }
  @media only screen and (min-width: 1025px) {
    .scroll-indicator {
      left: 46.5vw;
      width: 7vw;
      top: 70vh; } }

@-webkit-keyframes drag {
  0% {
    top: 70vh; }
  100% {
    top: 77vh; } }

@keyframes drag {
  0% {
    top: 70vh; }
  100% {
    top: 77vh; } }

header {
  top: 0; }

.customize-content {
  color: #150958;
  height: 166vh;
  background: url("imgs/nature-photos/10.png") top no-repeat;
  position: relative; }
  @media only screen and (min-width: 1025px) {
    .customize-content {
      width: 100vw;
      height: 158vh;
      z-index: -1; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .customize-content {
      width: 100vw;
      height: 198vh;
      z-index: -1; } }
  .customize-content .customizeTitle h2 {
    font-size: 6vh;
    padding-top: 12vh;
    text-transform: uppercase;
    text-align: center;
    color: white; }
    @media only screen and (min-width: 1025px) {
      .customize-content .customizeTitle h2 {
        padding-top: 20vh;
        font-size: 3vw;
        font-weight: 500; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .customize-content .customizeTitle h2 {
        padding-top: 15vh;
        font-size: 7vh; } }

.content {
  background-color: rgba(255, 255, 255, 0.65);
  position: absolute;
  height: auto;
  width: 100vw;
  top: 31vh;
  display: block; }
  @media only screen and (min-width: 1025px) {
    .content {
      top: 42vh;
      padding: 5% 0 5% 0; } }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .content {
      top: 37vh;
      padding: 5% 0 5% 0; } }
  .content .bullets {
    display: block;
    width: 80vw;
    margin: 5vh 0 2vh 10vw;
    text-align: center;
    font-size: 5.75vw;
    font-weight: 600;
    color: #224389; }
    @media only screen and (min-width: 1025px) {
      .content .bullets {
        font-size: 2.125vw;
        font-weight: 700; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .content .bullets {
        width: 80%;
        margin-left: 10%;
        font-size: 4.2vw;
        font-weight: 700; } }
    .content .bullets:last-of-type {
      margin-bottom: 6vh; }
      @media only screen and (min-width: 1025px) {
        .content .bullets:last-of-type {
          margin-bottom: 8%; } }
  .content p {
    width: 90vw;
    font-size: 4.6vw;
    font-weight: 100;
    margin: 4% 0 5vh 5vw;
    color: #150958; }
    @media only screen and (min-width: 1025px) {
      .content p {
        font-size: 1.5vw; } }
  .content .btn-holder-customize {
    margin-bottom: 7vh;
    margin-top: 7vh;
    height: 5vh; }
    @media only screen and (min-width: 1025px) {
      .content .btn-holder-customize {
        margin-bottom: 17vh;
        margin-top: 10vh; } }
    .content .btn-holder-customize a {
      background-color: #150958;
      text-decoration: none;
      width: 20%;
      height: 5vh;
      color: white;
      border-radius: 2vw;
      padding: 1.25vh 2vw 1.25vh 2vw; }
      @media only screen and (max-width: 1024px) and (min-width: 415px) {
        .content .btn-holder-customize a {
          padding: 4vw; } }
      @media only screen and (min-width: 1025px) {
        .content .btn-holder-customize a {
          border-radius: 0.8vw;
          width: 15vw;
          padding: 1vw; } }
      .content .btn-holder-customize a img {
        width: 4vw;
        height: 4vh;
        vertical-align: middle;
        padding: .5% .5% .5% 1%;
        margin: 0; }
        @media only screen and (min-width: 1025px) {
          .content .btn-holder-customize a img {
            width: 1.7vw; } }
        @media only screen and (max-width: 1024px) and (min-width: 415px) {
          .content .btn-holder-customize a img {
            width: 5.8vw;
            margin-right: 2vw; } }
      .content .btn-holder-customize a .btn-copy {
        vertical-align: middle;
        text-align: center;
        font-size: 4vw;
        padding-right: 1.5%; }
        @media only screen and (min-width: 1025px) {
          .content .btn-holder-customize a .btn-copy {
            font-size: 1.4vw; } }
        @media only screen and (max-width: 1024px) and (min-width: 415px) {
          .content .btn-holder-customize a .btn-copy {
            font-size: 3.8vw; } }

.left {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  text-align: center; }

.right {
  float: right;
  width: 50%;
  padding: 0;
  margin: 0;
  text-align: center; }
  @media only screen and (min-width: 1025px) {
    .right .btn-copy {
      padding: 0 4% 0 2.5%; } }

#privacyPolicyBody {
  background: white; }

#ppBody {
  font-size: 1.8vh;
  width: 80vw;
  margin: 0 10vw;
  text-align: justify;
  padding-bottom: 5vh;
  color: #474747; }

#ppHeader {
  font-size: 3vw;
  width: 100%;
  margin: 0 auto;
  padding: 20vh 0 5vh 0;
  text-align: center;
  color: #150958; }

.ppConsistencies {
  display: none; }

.greyText {
  font-size: 2.125vh; }

#innerTextPP {
  padding-bottom: 4vh; }

#termsBody {
  background: white; }

#termsBodyText {
  font-size: 1.8vh;
  width: 80vw;
  margin: 0 10vw;
  text-align: justify;
  padding-bottom: 5vh;
  color: #474747; }

#termsHeader {
  font-size: 3vw;
  width: 100%;
  margin: 0 auto;
  padding: 20vh 0 5vh 0;
  text-align: center;
  color: #150958; }

.termsConsistencies {
  display: none; }

.termsText {
  font-size: 2.125vh; }

#innerTextTerms {
  padding-bottom: 4vh; }

.grayTextUL {
  margin-top: 2%;
  padding-left: 5%; }

.display-none {
  display: none; }

.hide-orientation {
  position: fixed;
  background-color: #c1c1c1;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  top: 0; }
  .hide-orientation img {
    width: 30vw;
    margin-left: 35vw;
    margin-top: 30vh; }

body {
  margin: 0;
  background-color: #E0E0E0;
  font-family: 'Open Sans', sans-serif; }

input:focus, select:focus, textarea:focus, button:focus {
  outline: none; }

header.scrolled {
  height: 4vh; }
  @media only screen and (min-width: 1025px) {
    header.scrolled .headerButton {
      border-radius: 0.5vw;
      padding-top: 0.7vh;
      padding-bottom: 0.7vh; } }
  @media only screen and (min-width: 1025px) {
    header.scrolled .headerButton img {
      width: 0.7vw;
      margin-right: 1vw; } }
  @media only screen and (min-width: 1025px) {
    header.scrolled .headerButton span {
      width: 0.7vw; } }
  @media only screen and (min-width: 1025px) {
    header.scrolled .smallLogo {
      width: 2.2vw; } }
  @media only screen and (min-width: 1025px) {
    header.scrolled a {
      font-size: 1.2vw; } }
  header.scrolled a:first-of-type {
    margin-right: 52vw; }

header {
  background-color: white;
  -webkit-transition: background .8s, height 1s, -webkit-box-shadow 1s;
  transition: background .8s, height 1s, -webkit-box-shadow 1s;
  transition: background .8s, box-shadow 1s, height 1s;
  transition: background .8s, box-shadow 1s, height 1s, -webkit-box-shadow 1s;
  position: fixed;
  width: 100vw;
  z-index: 1;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh; }
  @media only screen and (min-width: 1025px) {
    header {
      height: 8vh;
      text-align: start;
      top: 0; } }
  header img {
    width: 7vw;
    vertical-align: middle; }
  header .smallLogo {
    width: 7vw;
    vertical-align: middle;
    -webkit-transition: width .8s;
    transition: width .8s; }
    @media only screen and (min-width: 1025px) {
      header .smallLogo {
        width: 4vw;
        margin-left: 5vw; } }
  header a {
    -webkit-transition: width .8s, margin-right .8s, font-size .8s;
    transition: width .8s, margin-right .8s, font-size .8s;
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
    text-decoration: none;
    font-weight: 300;
    vertical-align: middle;
    font-size: 3.5vw;
    color: #150958;
    margin-right: 4.8vw; }
    @media only screen and (min-width: 1025px) {
      header a {
        font-size: 1.7vw;
        margin-right: 4vw; }
        header a:first-of-type {
          margin-right: 41vw; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      header a {
        font-size: 3.1vw;
        margin-right: 6.3vw; } }
  header .headerButton {
    -webkit-transition: border-radius .8s, padding-top .8s, padding-bottom .8s;
    transition: border-radius .8s, padding-top .8s, padding-bottom .8s;
    background-color: #150958;
    padding: 3vw;
    border-radius: 2.5vw;
    color: white;
    margin-right: 0vw; }
    @media only screen and (min-width: 1025px) {
      header .headerButton {
        padding: 1.4vw;
        border-radius: 1.2vw;
        font-size: 1.3vw;
        padding-left: 1.4vw;
        padding-right: 1.4vw;
        padding-top: 2vh;
        padding-bottom: 2.4vh; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      header .headerButton {
        padding: 2.1vw;
        border-radius: 1.7vw; } }
    header .headerButton img {
      width: 3vw;
      margin-right: 1vw;
      -webkit-transition: width .8s;
      transition: width .8s; }
      @media only screen and (min-width: 1025px) {
        header .headerButton img {
          width: 1.3vw;
          margin-right: 2.1vw; } }
      @media only screen and (max-width: 1024px) and (min-width: 415px) {
        header .headerButton img {
          width: 2.2vw; } }
    header .headerButton span {
      font-weight: 400;
      -webkit-transition: width .8s;
      transition: width .8s; }
      @media only screen and (min-width: 1025px) {
        header .headerButton span {
          font-weight: 300; } }

footer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative; }
  footer img {
    width: 35vw;
    top: 2.5vh;
    position: relative;
    left: 5vw; }
    @media only screen and (min-width: 1025px) {
      footer img {
        width: 18vw; } }
  footer .link-holder {
    position: relative;
    top: -2.5vh; }
    footer .link-holder a {
      text-decoration: none;
      color: white;
      display: block;
      font-weight: 300;
      text-align: right;
      font-size: 3.5vw;
      margin-bottom: 3vh;
      width: 20vw;
      margin-left: 75vw; }
      @media only screen and (min-width: 1025px) {
        footer .link-holder a {
          font-size: 1.6vw; } }
  footer .footer-icons {
    position: absolute;
    top: 9.5vh; }
    @media only screen and (min-width: 1025px) {
      footer .footer-icons {
        top: 13.2vh; } }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      footer .footer-icons {
        top: 11.5vh; } }
    footer .footer-icons .footer-login {
      display: inline;
      vertical-align: middle; }
      footer .footer-icons .footer-login img {
        width: 5vw;
        vertical-align: middle; }
      footer .footer-icons .footer-login p {
        display: inline; }
    footer .footer-icons a {
      vertical-align: middle; }
      footer .footer-icons a:first-of-type img {
        width: 8vw; }
        @media only screen and (min-width: 1025px) {
          footer .footer-icons a:first-of-type img {
            width: 3vw; } }
      footer .footer-icons a:nth-of-type(2) img {
        width: 4vw; }
        @media only screen and (min-width: 1025px) {
          footer .footer-icons a:nth-of-type(2) img {
            width: 1.6vw; } }
      footer .footer-icons a:nth-of-type(3) img {
        width: 7vw; }
        @media only screen and (min-width: 1025px) {
          footer .footer-icons a:nth-of-type(3) img {
            width: 3.7vw; } }
      footer .footer-icons a:nth-of-type(4) img {
        width: 18vw; }
        @media only screen and (min-width: 1025px) {
          footer .footer-icons a:nth-of-type(4) img {
            width: 7vw; } }
      footer .footer-icons a img {
        vertical-align: middle;
        margin-right: 5vw; }
        @media only screen and (min-width: 1025px) {
          footer .footer-icons a img {
            margin-right: 2vw; } }
  footer span:last-of-type {
    position: absolute;
    bottom: 5.5vh;
    color: white;
    font-size: 2.3vw;
    left: 5vw; }
    @media only screen and (min-width: 1025px) {
      footer span:last-of-type {
        font-size: 0.7vw; } }
