.landing
  text-align: center
  height: 100vh
  width: 100vw
  position: relative
  .icon
    margin-top: 3vh
    width: 40vw
  .headers
    font-size: 4.7vw
    width: 80vw
    margin-left: 10vw
    margin-top: 1vh
    font-weight: 700
  .imgs
    .alert
      transition: left 1s
      z-index: 1
      width: 8vw
      height: 8vw
      border-radius: 4vw
      background-color: red
      position: absolute
      left: 63vw
      bottom: 69vh
      transform: scale(0)
      animation: scale .3s cubic-bezier(0.17, 0.67, 0.07, 2.04)
      animation-delay: 2.8s
      animation-fill-mode: forwards
      color: white
      font-size: 6vw
      font-weight: 100
      box-shadow: -1px 2px 0px 0px rgba(0, 0, 0, 0.36)
    img
      width: 56vw
      position: absolute
      left: 130vw
      transition: left 1s
      display: none
      &:first-of-type
        top: 25vh
      &:nth-of-type(2)
        top: 12vh
      &:nth-of-type(3)
        margin-top: 6vh
    img.active
      left: 22vw
    img.inactive
      left: -50vw
      // animation: slide-in 1s cubic-bezier(0.42, 0, 0.17, 1.18)
      // animation-delay: .4s
      // animation-fill-mode: forwards
      //   width: 45vw
      //   margin-top: 7vh
      //   margin-bottom: 7vh
  .subheads
    width: 80vw
    margin-left: 10vw
    font-size: 3.4vw
    font-weight: 600
    transition: opacity .5s
  .landing-nav
    margin-top: 4vh
    // margin-bottom: 4vh
    img
      vertical-align: middle
      width: 5vw
      padding: 2vw
      &:last-of-type
        transform: rotate(180deg)
    span
      width: 2vw
      height: 1vw
      border-radius: 4vw
      border: $fifthMain 0.4vw solid
      display: inline-block
      vertical-align: middle
      &:first-of-type
        margin-left: 26vw
      &:last-of-type
        margin-right: 26vw
        margin-left: 4vw
    span.active
      background-color: $fifthMain
  .down-chevron
    width: 15vw
    margin-top: 1vh
    position: relative
    top: 65vh
    animation: slide 1s infinite
    opacity: 0

@keyframes slide
  0%
    top: 73vh
  100%
    top: 82vh

@keyframes scale
  0%
    transform: scale(0)
  100%
    transform: scale(1)

@keyframes scale-down
  0%
    transform: scale(1)
  100%
    transform: scale(0)

@keyframes slide-in
  0%
    left: 130vw
  100%
    left: 27.5vw

.bottom-third
  position: absolute
  width: 100vw
  bottom: 14vh

.initial-hide
  display: none

.infographics
  background-color: white
  padding-top: 6vh
  // padding-bottom: 6vh
  // text-align: center
  span
    display: block
    &:first-of-type
      display: block
      font-size: 5vw
      font-weight: 400
      margin-left: 10vw
    &:nth-of-type(2)
      display: block
      font-size: 5vw
      font-weight: 700
      margin-left: 10vw
    &:last-of-type
      margin-top: 5vh
      margin-bottom: 5vh
      width: 70vw
      margin-left: 15vw
      font-weight: 600
      margin-left: 10vw
  img
    width: 100vw
    margin-top: 5vh

.heads
  display: block
  font-size: 5vw
  font-weight: 700
  width: 80vw
  // margin-left: 10vw
  margin-bottom: 6vh

.gradient
  padding-left: 10vw
  // text-align: center
  padding-top: 6vh
  padding-bottom: 6vh
  color: white
  background: linear-gradient(to bottom, rgba(21,9,88,0.5) 0%,rgba(21,9,88,0.5) 64%,rgba(0,174,239,0.5) 100%)
  .plus-messenger
    margin-bottom: 16vh
  .every-lead
    margin-bottom: 16vh
    span
      display: block
    img
      margin-bottom: 2vh
      width: 40vw
    .title
      margin-top: 2vh
      margin-bottom: 2vh
      font-weight: 700
    .description
      width: 80vw
      display: block
      // margin-left: 10vw
      margin-bottom: 6vh
  .future
    .desc
      width: 80vw
      display: block
      margin-bottom: 6vh
    .news
      .title
        display: block
        font-weight: 600
      .description
        width: 80vw
        display: block
        // margin-left: 10vw
        margin-top: 2vh
        margin-bottom: 2vh
    .read-more
      font-weight: 600
      display: block
      font-size: 5vw

.back
  opacity: 0

.email-icon
  width: 12vw
  position: absolute
  z-index: 1
  animation: scale-down
  animation-delay: 1.7s
  transform: scale(1)
  animation-fill-mode: forwards
  &:nth-of-type(even)
    transform: rotate((random(20) * -1) + deg)
    animation-duration: .3s
  &:nth-of-type(odd)
    transform: rotate(random(20) + deg)
    animation-duration: .5s
  &:nth-of-type(1)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
  &:nth-of-type(2)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
  &:nth-of-type(3)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
  &:nth-of-type(4)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
  &:nth-of-type(5)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
  &:nth-of-type(6)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
  &:nth-of-type(7)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
  &:nth-of-type(8)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
  &:nth-of-type(9)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
  &:nth-of-type(10)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
  &:nth-of-type(11)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
  &:nth-of-type(12)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
  &:nth-of-type(13)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
  &:nth-of-type(14)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
  &:nth-of-type(15)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
  &:nth-of-type(16)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
  &:nth-of-type(17)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
  &:nth-of-type(18)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
  &:nth-of-type(19)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
  &:nth-of-type(20)
    top: (random(40vh) + 20) + vh
    left: random(88) + vw
