.landing
  text-align: center
  height: 100vh
  width: 100vw
  position: relative
  .icon
    margin-top: 2vh
    width: 8vw
  .headers
    font-size: 7.6vw
    width: 80vw
    margin-left: 10vw
    margin-top: 1vh
  .imgs
    .alert
      width: 8vw
      height: 8vw
      border-radius: 4vw
      background-color: red
      position: absolute
      left: 63vw
      bottom: 65vh
      transform: scale(0)
      animation: scale .3s cubic-bezier(0.17, 0.67, 0.07, 2.04)
      animation-delay: 1.8s
      animation-fill-mode: forwards
      color: white
      font-size: 6vw
      font-weight: 100
    img
      &:first-of-type
        width: 45vw
        margin-top: 7vh
        margin-bottom: 7vh
  .subheads
    width: 80vw
    margin-left: 10vw
    font-size: 3.4vw
    font-weight: 600
  .landing-nav
    margin-top: 4vh
    // margin-bottom: 4vh
    img
      vertical-align: middle
      width: 5vw
      &:last-of-type
        transform: rotate(180deg)
    span
      width: 2vw
      height: 2vw
      border-radius: 4vw
      border: $fifthMain 0.4vw solid
      // background-color: $fifthMain
      display: inline-block
      vertical-align: middle
      &:first-of-type
        margin-left: 26vw
      &:nth-of-type(2)
        margin-left: 4vw
        margin-right: 4vw
      &:last-of-type
        margin-right: 26vw
  .down-chevron
    width: 15vw
    margin-top: 1vh
    animation: slide 1s infinite

@keyframes slide
  0%
    margin-top: 1vh
  100%
    margin-top: 10vh

@keyframes scale
  0%
    transform: scale(0)
  100%
    transform: scale(1)
