<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multiple.js/0.0.1/multiple.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/multiple.js/0.0.1/multiple.js"></script>
  <link rel="stylesheet" href="/prod/website.css">
  <script src="https://cdn.jsdelivr.net/lodash/4.6.1/lodash.min.js"></script>
  <script type="text/javascript" src='/js/index.js'>
  </script>
  <title>Irrigate - Pricing</title>
</head>

<body>
  <header>
    <a href="/">
      <img class='smallLogo' src="/imgs/landing-page/irrigate-icon-truecolor.svg" alt="Logo">
    </a>
    <a href="/pricing">Pricing</a>
    <a href="/">Customize</a>
    <a href="/about">About Us</a>
    <a class='headerButton' href='/auth/facebook'>
        <img src="/imgs/landing-page/small-fb-icon.svg" alt="Facebook Icon">
        <span>Log In</span>
      </a>
  </header>

  <div class="about-copy">
    <span>We like technology.</span>
    <span>But we like people more.</span>
    <span>The best technology helps people connect in ways were impossible 20 years ago.</span>
    <span>The worst technology reminds us that spam’s got nothing on a message from a friend.</span>
    <span>Because when you get spam, you learn what a few million other people do: there’s a company selling something you might like. Which isn’t the same as a message from a friend who already knows the very specific, possibly weird things you and only you, like.</span>
    <span>Small businesses and organisations work the same way.</span>
    <span>You know exactly who you are, and you know what your community needs.</span>
    <span>You also might know a spam marketing budget isn’t cheap.</span>
    <span>Our goal is to get back to what makes technology great: let’s communicate better.</span>
    <span>Let’s say what we mean – without a sales pitch.</span>
    <span>Our mission is to help you connect to your community in a genuine way.</span>
    <span>And if connecting with them means making it easier to make appointments, buy products, talk to you or do pretty much anything else in 3 minutes on Messenger, we’ll build that for you.</span>
  </div>

  <footer class="grad">
    <img src="/imgs/landing-page/logo-white-side.svg" alt="Logo">
    <div class="link-holder">
      <a href="/">Request Demo</a>
      <a href="/pricing">Pricing</a>
      <a href="/">Customize</a>
      <a href="/about">About Us</a>
    </div>
    <div class="footer-icons">
      <a href="#"><img src="/imgs/landing-page/white-facebook-messenger-icon.svg" alt=""></a>
      <a href="#"><img src="/imgs/landing-page/small-fb-icon.svg" alt=""></a>
      <a href="#"><img src="/imgs/landing-page/mail-icon.svg" alt=""></a>
      <a href="#"><img src="/imgs/landing-page/footer-login.svg" alt=""></a>
    </div>
    <span>© 2017 Irrigate Messaging LLC All Rights Reserved</span>
  </footer>
</body>

</html>
