<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/css/styles.css">
  <title>Chat SASS Front-End</title>
</head>

<body>
  <div class="login">
    <span>Log In</span>
    <hr>
    <form action="index.html" method="post">
      <label for="email">Email</label>
      <input type="text" name="email" value="">
      <label for="pass">Password</label>
      <input type="password" name="pass" value="">
      <input type="submit" name="submit" value="Sign In">
    </form>
    <a href="#">Need to Sign Up?</a>
  </div>

  <div class="signup">
    <span>Sign Up</span>
    <hr>
    <form action="index.html" method="post">
      <label for="email">Email</label>
      <input type="text" name="email" value="">
      <label for="pass">Company Name</label>
      <input type="text" name="pass" value="">
      <label for="pass">Password</label>
      <input type="password" name="pass" value="">
      <input type="submit" name="submit" value="Sign In">
    </form>
    <a href="#">Need to Log In?</a>
  </div>
</body>

</html>
