<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/prod/commerce.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multiple.js/0.0.1/multiple.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/multiple.js/0.0.1/multiple.js"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.6.1/lodash.min.js"></script>
  <script type="text/javascript" src='/js/commerce.js'></script>
  <script type="text/javascript" src='/js/rotate.js'></script>
  <script type="text/javascript" src='/js/lazyload.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Irrigate Messaging</title>
</head>

<body>
  <div class="hide-orientation display-none">
    <img src="/imgs/rotate.svg" alt="">
  </div>
  <!-- <header>
    <a href="/">
      <img class='smallLogo' src="/imgs/landing-page/irrigate-icon-truecolor.svg" alt="Logo">
    </a>
    <a href="/pricing">Pricing</a>
    <a href="/customize">Customize</a>
    <a href="/about">About Us</a>
    <a class='headerButton' href='/auth/facebook'>
        <img src="/imgs/landing-page/small-fb-icon.svg" alt="Facebook Icon">
        <span>Log In</span>
      </a>
  </header> -->

  <section class="landing">
    <img class="icon" src="/imgs/commerce/icon-truecolor.png" alt="">
    <div class="headers">
      <span>Meet Conversational e-Commerce</span>
      <!-- <span>Meet Conversational e-Commerce</span> -->
      <!-- <span>Capabilities</span> -->
    </div>
    <div class="imgs">
      <img src="/imgs/commerce/messenger-icon.png" alt="">
      <img src="/imgs/commerce/phone.png" alt="">
      <img src="/imgs/commerce/phone.png" alt="">
      <span class="alert">1</span>
    </div>
    <section class="bottom-third">
      <div class="subheads">
        <p>Transform Messenger into an interactive, all-in-one e-commerce tool to maximize engagement, foster relationships and sell more.</p>
        <!-- <p>Transform Messenger into an interactive, all-in-one e-commerce tool to maximize engagement, foster relationships and sell more.</p> -->
        <!-- <p>Engage users instantly through an automated chat crafted with your brand’s voice, complete with quick replies based on common interactions.</p> -->
      </div>
      <div class="landing-nav">
        <img class='back' src="/imgs/commerce/lr-chevron.svg" alt="">
        <span class="active"></span>
        <span></span>
        <span></span>
        <img class='fwd' src="/imgs/commerce/lr-chevron.svg" alt="">
      </div>
    </section>
    <img class="down-chevron" src="/imgs/commerce/down-chevron.svg" alt="">
  </section>

  <footer class="grad">
    <img src="/imgs/landing-page/logo-white-side.svg" alt="Logo">
    <div class="link-holder">
      <a href="https://m.me/irrigatemsg">See A Demo</a>
      <a href="/pricing">Pricing</a>
      <a href="/customize">Customize</a>
      <a href="/about">About Us</a>
    </div>
    <div class="footer-icons">
      <a href="https://m.me/irrigatemsg"><img src="/imgs/landing-page/white-facebook-messenger-icon.svg" alt=""></a>
      <a href="https://www.facebook.com/irrigatemsg"><img src="/imgs/landing-page/small-fb-icon.svg" alt=""></a>
      <a href="mailto:dom@irrigatemsg.com?Subject=Irrigate%20Inquiry"><img src="/imgs/landing-page/mail-icon.svg" alt=""></a>
      <a href="/auth/facebook"><img src="/imgs/landing-page/footer-login.svg" alt=""></a>
    </div>
    <span>© 2017 Irrigate Messaging LLC All Rights Reserved</span>
  </footer>
</body>

</html>
