<!DOCTYPE html>
<html>
<head>
  <!-- HTML Meta Tags -->
  <title>Irrigate Messaging</title>
  <meta name="description" content="Irrigate is a direct messaging system that enables businesses to have better conversations with customers and monetize messaging applications.">

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Irrigate Messaging">
  <meta itemprop="description" content="Irrigate is a direct messaging system that enables businesses to have better conversations with customers and monetize messaging applications.">
  <meta itemprop="image" content="https://www.irrigatemsg.com/imgs/logo-w-bg.png">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://www.irrigatemsg.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Irrigate Messaging">
  <meta property="og:description" content="Irrigate is a direct messaging system that enables businesses to have better conversations with customers and monetize messaging applications.">
  <meta property="og:image" content="https://www.irrigatemsg.com/imgs/logo-w-bg.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Irrigate Messaging">
  <meta name="twitter:description" content="Irrigate is a direct messaging system that enables businesses to have better conversations with customers and monetize messaging applications.">
  <meta name="twitter:image" content="https://www.irrigatemsg.com/imgs/logo-w-bg.png">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/prod/website.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multiple.js/0.0.1/multiple.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/multiple.js/0.0.1/multiple.js"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.6.1/lodash.min.js"></script>
  <script type="text/javascript" src='/js/index.js'></script>
  <script type="text/javascript" src='/js/rotate.js'></script>
  <script type="text/javascript" src='/js/lazyload.js'></script>


  <title>Customize</title>
</head>
  <body>
    <div class="hide-orientation display-none">
      <img src="/imgs/rotate.svg" alt="">
    </div>
    <header>
      <a href="/">
        <img class='smallLogo' src="/imgs/landing-page/irrigate-icon-truecolor.svg" alt="Logo">
      </a>
      <a href="/pricing">Pricing</a>
      <a href="/customize">Customize</a>
      <a href="/about">About Us</a>
      <a class='headerButton' href='/auth/facebook'>
          <img src="/imgs/landing-page/small-fb-icon.svg" alt="Facebook Icon">
          <span>Log In</span>
        </a>
    </header>

    <div class="customize-content">
      <div class="customizeTitle">
      <h2>Customize</h2>
    </div>
  </div>

<div class="content">
      <span class='bullets'>Make all of your interactions unique to your audience</span>
      <span class='bullets'>Keep it simple, keep it conversational</span>
      <span class='bullets'>Personalize your audience's experience</span>
      <p>If you can dream it, we can build it. People don’t want to go searching for information anymore. By leveraging machine learning and AI, we can do better.</p>
      <p>Enterprises can now optimize the customer journey by using assistive and predictive technology to rapidly enhance business processes while providing analytics to help your organization focus on what is important. Unlimited conversations, unlimited interactions, and unlimited insights to your customer.</p>
      <p>Together we will create the best solution for your business requirements. Whether you want to lower headcount, increase awareness, answer questions more rapidly, or capture true customer insights, we can integrate with your current systems and create a customized solution for you.</p>

      <div class="btn-holder-customize">
        <div class="left">
          <a href="https://www.facebook.com/irrigatemsg">
            <img src="/imgs/landing-page/small-fb-icon.svg" alt="Message Us">
            <span class="btn-copy">Message Us</span>
          </a>
        </div>
        <div class="right">
        <a href="mailto:dom@irrigatemsg.com?Subject=Irrigate%20Customization">
          <img src="/imgs/landing-page/mail-icon.svg" alt="Email Us">
          <span class="btn-copy">Email Us</span>
        </a>
      </div>
      </div>
</div>

    <footer class="grad">
      <img src="/imgs/landing-page/logo-white-side.svg" alt="Logo">
      <div class="link-holder">
        <a href="https://m.me/irrigatemsg">See A Demo</a>
        <a href="/pricing">Pricing</a>
        <a href="/customize">Customize</a>
        <a href="/about">About Us</a>
      </div>
      <div class="footer-icons">
        <a href="https://m.me/irrigatemsg"><img src="/imgs/landing-page/white-facebook-messenger-icon.svg" alt=""></a>
        <a href="https://www.facebook.com/irrigatemsg"><img src="/imgs/landing-page/small-fb-icon.svg" alt=""></a>
        <a href="mailto:dom@irrigatemsg.com?Subject=Irrigate%20Inquiry"><img src="/imgs/landing-page/mail-icon.svg" alt=""></a>
        <a href="/auth/facebook"><img src="/imgs/landing-page/footer-login.svg" alt=""></a>
      </div>
      <span>© 2017 Irrigate Messaging LLC All Rights Reserved</span>
    </footer>
  </body>
</html>
