<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css">
  <script src="/js/moment.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/fullcalendar.js"></script>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/css/styles.css">

  <script src="/js/dashboard.js" charset="utf-8"></script>
  <title>Chat SASS Front-End</title>
</head>
  <body>

    <nav>
      <img class="left" src="/imgs/left-arrow.svg" alt="Left Arrow">
      <img class="right" src="/imgs/right-arrow.svg" alt="Right Arrow">
    </nav>

    <div class="messeges">
    </div>

    <div id="main-calendar"></div>

    <footer>
      <div class="toggle">
        <span class="month"></span>
        <img src="/imgs/triangle.svg" alt="toggle calendar">
      </div>
      <div class="add-new">
        <div></div>
        <div></div>
      </div>
      <div class="hamburger">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </footer>

    <div class="sub-menu">

    </div>

    <div id="toggle-calendar"></div>

  </body>
</html>
