<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css">

  <script src="/js/dashboard.js" charset="utf-8"></script>
  <title>Chat SASS Front-End</title>
</head>
  <body>

    <nav>
      <img src="/imgs/left-arrow.svg" alt="Left Arrow">
      <span>DATE</span>
      <img src="/imgs/right-arrow.svg" alt="Right Arrow">
    </nav>

    <div class="messeges">
    </div>

    <footer>
      <div class="toggle">
        <span>Month</span>
        <img src="/imgs/triangle.svg" alt="toggle calendar">
      </div>
      <div class="add-new">
        <div></div>
        <div></div>
      </div>
      <div class="hamburger">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </footer>

    <div id='calendar'></div>

  </body>
</html>
