<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/socket.io/socket.io.js"></script>
  <script
    src="https://code.jquery.com/jquery-2.2.4.js"
    integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
    crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/css/styles.css">
  <script src="/js/asq.js" charset="utf-8"></script>
  <script src="/js/calendar.js" charset="utf-8"></script>
  <script src="/js/add-msg.js" charset="utf-8"></script>
  <title>Chat SASS Front-End</title>
</head>

<body>

  <nav>
    <img class="left" src="/imgs/left-arrow.svg" alt="Left Arrow">
    <span class="main-calendar"></span>
    <img class="right" src="/imgs/right-arrow.svg" alt="Right Arrow">
  </nav>

  <div class="todays-msgs">
    
  </div>

  <footer>
    <div class="toggle">
      <span class="month"></span>
      <img src="/imgs/triangle.svg" alt="toggle calendar">
    </div>
    <div class="add-new">
      <div></div>
      <div></div>
    </div>
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </footer>
  <div class="toggle-calendar">
    <div class="weekdays">
      <span>Su</span>
      <span>Mo</span>
      <span>Tu</span>
      <span>We</span>
      <span>Th</span>
      <span>Fr</span>
      <span>Sa</span>
    </div>
    <div class="days">
      <div class="first"></div>
      <div class="second"></div>
      <div class="third"></div>
      <div class="fourth"></div>
      <div class="fifth"></div>
      <div class="sixth"></div>
    </div>
  </div>

  <div class="sub-menu">
  </div>

  <div class="chat-ui">
    <div class="botMessages"></div>
    <form class="msg-data" action="http://localhost:4000/submit-data" method="post" enctype="multipart/form-data">
      <input class="organization" type="hidden" name="organization" value="">
      <input class="input1" type="text" name="type" value="">
      <input class="input2" type="text" name="date" value="">
      <input class="input3" type="text" name="" value="">
      <input class="input4" type="text" name="" value="">
      <input class="input5" type="text" name="msgText" value="">
      <input class="input6" type="text" name="time" value="">
      <input class="file-upload" type="file" name="uploadedImage" value="">
    </form>
    <img class="send1" src="/imgs/send.svg" alt="Send Button">
    <img class="send2" src="/imgs/send.svg" alt="Send Button">
    <img class="send3" src="/imgs/send.svg" alt="Send Button">
    <img class="send4" src="/imgs/send.svg" alt="Send Button">
    <img class="send5" src="/imgs/send.svg" alt="Send Button">
    <img class="send6" src="/imgs/send.svg" alt="Send Button">
  </div>
</body>

</html>
