<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
    <meta charset="utf-8">
    <script
      src="https://code.jquery.com/jquery-2.2.4.js"
      integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/css/styles.css">
    <title>Irrigate</title>
  </head>
  <body>

    <div class="landing">
      <img class='logo' src="/imgs/logo.png" alt="Logo">
      <a href="/auth/facebook">Log In with Facebook</a>
    </div>

  </body>
</html>
