<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <script
      src="https://code.jquery.com/jquery-2.2.4.js"
      integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/css/landing.css">
    <title>Irrigate</title>
  </head>

  <body>
    <header>
      <div id="header">
        <img class='smallLogo' src="/imgs/landing-page/irrigate-icon-truecolor.svg" alt="Logo">
        <a href="/pricing.html">Pricing</a>
        <a href="/">Customize</a>
        <a href="/">About Us</a>
          <button id="headerButton" type="submit" onclick="location.href = '/auth/facebook';">Log In</button>
      </div>
    </header>

    <div class="landing">
      <img class='logo' src="/imgs/logo.png" alt="Logo">
        <p class="subtitle">How small businesses engage and grow</p>
      <form action="/auth/facebook">
        <input type="submit" value="Log In with Facebook" />
      </form>
      <img class='chevron' src="/imgs/landing-page/down-chevron.svg" alt="Down">
    </div>

    <div class="market landing">
      <div class="social">
        <img class='socialIcons' src="/imgs/landing-page/fullcolor-facebook-messenger-icon.svg" alt="Social Icon">
        <img class='socialIcons grey' src="/imgs/landing-page/grey-imessage-logo.svg" alt="Social Icon">
        <img class='socialIcons grey' src="/imgs/landing-page/grey-instagram-logo.svg" alt="Social Icon">
        <img class='socialIcons grey' src="/imgs/landing-page/grey-whatsapp-logo.svg" alt="Logo">
      </div>
      <p class="soon">*Coming Soon</p>
      <h3>Don't target a market Build a community</h3>
      <h5>The big guys spend big bucks to send millions of emails that drown in
        inboxes. By leveraging the power of Facebook Messenger, small businesses
        can do better.</h5>
    </div>

    <div class="blue">
      <div class="how">
        <h4>Spark the connection</h4>
        <p>People choose to receive your messages. Starting a conversation
          always beats sending spam.</p>

        <h4>Foster relationships</h4>
        <p>Emails talk like corporations. Messages chat like friends. Nice to
          meet you too.</p>

        <h4>Make it easy</h4>
        <p>Nothing to download, no new technology to master. If you can
          text, you can Irrigate.</p>
      </div>
      <div class="audience">
        <h3>Why talk through a messaging app?</h3>
        <h5>Because your audience is:</h5>

        <h2>1.2</h2>
        <p>billion people are on Facebook Messenger right now</p>

        <h2>3</h2>
        <p>years ago more people started communicating on mobile apps instead
          of sitting down at a computer.</p>

        <h2>70</h2>
        <p>% more people opened Facebook messages from a company than
          emails from the #1 email marketing company in 2016.</p>

      </div>
    </div>

    <div class="features market landing">
      <h3>Key features</h3>
      <h5>Meet technology that fits into your routine - instead of interrupting it.</h5>

      <div class="circles">
        <h6>Hit Send 1 time. Reach 1000s</h6>
        <p>Or more. Or less. Bottom line: Create a message, send it to as many people
          as you want in 1 click. No database required.</p>
        <img class='circle' src="/imgs/landing-page/icon-placeholder.svg" alt="Icons">
      </div>

      <div class="circles">
        <h6>Schedule messages</h6>
        <p>Write your message today to automatically send tomorrow, next week
          – or whenever.</p>
        <img class='circle' src="/imgs/landing-page/icon-placeholder.svg" alt="Icons">
      </div>

      <div class="circles">
        <h6>Send multimedia messages</h6>
        <p>Text. Photo. Video. Link. YouTube. Or all five at once.</p>
        <img class='circle' src="/imgs/landing-page/icon-placeholder.svg" alt="Icons">
      </div>

      <div class="circles">
        <h6>Segment by audience</h6>
        <p>Tailor messages based on preferences, gender, age or whatever suits your
          community.</p>
        <img class='circle' src="/imgs/landing-page/icon-placeholder.svg" alt="Icons">
      </div>

      <div class="circles">
        <h6>Customize & scale</h6>
        <p>Customize to let your people shop within the app, get their voices heard,
          schedule a class or ...? If you can dream it, we’ll build it.</p>
        <img class='circle' src="/imgs/landing-page/icon-placeholder.svg" alt="Icons">
      </div>

      <div class="circles">
        <h6>Optimized for Mobile</h6>
        <p>Many business owners are on the go. We work where you work.</p>
        <img class='circle' src="/imgs/landing-page/icon-placeholder.svg" alt="Icons">
      </div>

      <div class="circles">
        <h6>Buy Now, Pay Now</h6>
        <p>Have customers make payments through messenger.</p>
        <img class='circle' src="/imgs/landing-page/icon-placeholder.svg" alt="Icons">
    </div>


  <footer class="footer">
    <div id="footer">
      <img class='smallLogo' src="/imgs/landing-page/logo-white-side.svg" alt="Logo">
      <a href="/">Request Demo</a>
      <a href="/pricing.html">Pricing</a>
      <a href="/">Customize</a>
      <a href="/">About Us</a>
    </div>
  </footer>
</body>
</html>
