<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/prod/website.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multiple.js/0.0.1/multiple.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/multiple.js/0.0.1/multiple.js"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.6.1/lodash.min.js"></script>
  <script type="text/javascript" src='/js/index.js'></script>
  <script type="text/javascript" src='/js/rotate.js'></script>

  <title>Irrigate Msg</title>
</head>

<body>
  <div class="hide-orientation display-none">
    <img src="/imgs/rotate.svg" alt="">
  </div>
  <header>
    <a href="/">
      <img class='smallLogo' src="/imgs/landing-page/irrigate-icon-truecolor.svg" alt="Logo">
    </a>
    <a href="/pricing">Pricing</a>
    <a href="/customize">Customize</a>
    <a href="/about">About Us</a>
    <a class='headerButton' href='/auth/facebook'>
        <img src="/imgs/landing-page/small-fb-icon.svg" alt="Facebook Icon">
        <span>Log In</span>
      </a>
  </header>

  <div class="landing biz-photo">
    <img src='/imgs/new-logo.png' class='logo' alt="Logo">
    <p class="subtitle">How small businesses engage and grow</p>
    <a href="/auth/facebook">
      <img src="/imgs/landing-page/small-fb-icon.svg" alt="Facebook Icon">
      <span>Log In with Facebook</span>
    </a>
    <div class="social">
      <img class='socialIcons' src="/imgs/landing-page/fullcolor-facebook-messenger-icon.svg" alt="Social Icon">
      <img class='socialIcons' src="/imgs/landing-page/grey-imessage-logo.png" alt="Social Icon">
      <img class='socialIcons' src="/imgs/landing-page/grey-instagram-logo.png" alt="Social Icon">
      <img class='socialIcons' src="/imgs/landing-page/grey-whatsapp-logo.png" alt="Logo">
    </div>
    <!-- <hr class="grey" noshade> -->
    <p class="soon">*Coming Soon</p>
    <h3>Don't target a market <br>Build a community</h3>
    <h5>The big guys spend big bucks to send millions of emails that drown in
      inboxes. By leveraging the power of messaging apps, small businesses
      can do better.</h5>
  </div>

  <div class="blue grad">
    <!-- <div class="three-phones">
      <img class="device" src="/imgs/landing-page/android-device.svg" alt="">
      <div class="content-holder">
        <span>Spark the connection</span>
        <span>People choose to receive your messages. Starting a conversation always beats sending spam.</span>
      </div>
    </div> -->

    <div class="three-phones">
      <div class="content-holder right">
        <span>Foster relationships</span>
        <span>Emails talk like corporations. Messages chat like friends. Nice to meet you too.</span>
      </div>
      <img class='gif1' src="/imgs/landing-page/foster.gif" alt="">
      <img class="device" src="/imgs/landing-page/android-device.svg" alt="">
    </div>
    <div class="three-phones">
      <img class='gif2' src="/imgs/landing-page/make-it-easy.gif" alt="">
      <img class="device" src="/imgs/landing-page/android-device.svg" alt="">
      <div class="content-holder">
        <span>Make it easy</span>
        <span>Nothing to download, no new technology to master. If you can text, you can Irrigate.</span>
      </div>
    </div>
    <div class="steps">
      <p>How It Works:</p>
      <span class="a-step">
        <img src="/imgs/1-circle.png" alt="One Two Three">
        <span>Decide who</span>
        <span>you’re talking to – everyone or a hand-picked group.</span>
      </span>
      <span class="a-step">
        <img src="/imgs/2-circle.png" alt="One Two Three">
        <span>Choose how</span>
        <span>to talk today – text, video, photo, link or all of them.</span>
      </span>
      <span class="a-step">
        <img src="/imgs/3-circle.png" alt="One Two Three">
        <span>Hit send.</span>
        <span>Get back to whatever you were doing 5 minutes ago.</span>
      </span>
    </div>
      <span class="why">Why talk through a messaging app?</span>
      <span class="because">Because your audience is:</span>

      <div class="stats first">
        <span>1.2</span>
        <span>billion people are on Facebook Messenger right now.</span>
      </div>

      <div class="stats second">
        <span>3</span>
        <span>years ago more people started communicating on mobile apps instead of sitting down at a computer.</span>
      </div>

      <div class="stats third">
        <span>70</span>
        <span>% more people opened Facebook messages from a company than emails from the #1 email marketing company in 2016.</span>
      </div>
    </div>

  <div class="features">
    <span>Key features</span>
    <h5>Meet technology that fits into your routine - instead of interrupting it.</h5>

    <div class="circles">
      <div class="">
        <h6>Hit Send 1 time. Reach 1000s</h6>
        <p>Or more. Or less. Bottom line: Create a message, send it to as many people as you want in 1 click. No database required.</p>
      </div>
      <!-- <img class='circle' src="/imgs/landing-page/bull-horn.svg" alt="Icons"> -->
    </div>

    <div class="circles">
      <div class="">
        <h6>Schedule messages</h6>
        <p>Write your message today to automatically send tomorrow, next week – or whenever.</p>
      </div>
      <!-- <img class='circle' src="/imgs/landing-page/calendar.svg" alt="Icons"> -->
    </div>

    <div class="circles">
      <div class="">
        <h6>Send multimedia messages</h6>
        <p>Text. Photo. Video. Link. YouTube. Or all five at once.</p>
      </div>
      <!-- <img class='circle' src="/imgs/landing-page/reel.svg" alt="Icons"> -->
    </div>

    <div class="circles">
      <div class="">
        <h6>Access anytime, anywhere</h6>
        <p>Irrigate works wherever you do. Schedule and send messages from your desktop in the office, iPad on the train or phone at the beach.</p>
      </div>
      <!-- <img class='circle' src="/imgs/landing-page/people-slider.svg" alt="Icons"> -->
    </div>

    <div class="circles">
      <div class="">
        <h6>Target by group</h6>
        <p>Tailor messages based on preferences, gender, age or whatever suits your community.</p>
      </div>
      <!-- <img class='circle' src="/imgs/landing-page/cart-msg.svg" alt="Icons"> -->
    </div>

    <div class="circles">
      <div class="">
        <h6>Make Messenger your online store </h6>
        <p>Your audience can scroll through your inventory and make a purchase without ever leaving Messenger. Ecommerce just got easier.</p>
      </div>
      <!-- <img class='circle' src="/imgs/landing-page/phone.svg" alt="Icons"> -->
    </div>

    <div class="circles">
      <div class="">
        <h6>Customize & scale</h6>
        <p>Customize to let your community schedule a class, vote, RSVP or shop your inventory in Messenger. If you can dream it, we’ll build it.</p>
      </div>
      <!-- <img class='circle' src="/imgs/landing-page/customize.svg" alt="Icons"> -->
    </div>
  </div>

  <footer class="grad">
    <img src="/imgs/landing-page/logo-white-side.svg" alt="Logo">
    <div class="link-holder">
      <a href="https://m.me/1affirmationtoday">See A Demo</a>
      <a href="/pricing">Pricing</a>
      <a href="/customize">Customize</a>
      <a href="/about">About Us</a>
    </div>
    <div class="footer-icons">
      <a href="m.me/irrigatemsg"><img src="/imgs/landing-page/white-facebook-messenger-icon.svg" alt=""></a>
      <a href="https://www.facebook.com/irrigatemsg"><img src="/imgs/landing-page/small-fb-icon.svg" alt=""></a>
      <a href="mailto:dom@irrigatemsg.com?Subject=Irrigate%20Inquiry"><img src="/imgs/landing-page/mail-icon.svg" alt=""></a>
      <a href="/auth/facebook"><img src="/imgs/landing-page/footer-login.svg" alt=""></a>
    </div>
    <span>© 2017 Irrigate Messaging LLC All Rights Reserved</span>
  </footer>
</body>

</html>
