<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="/socket.io/socket.io.js"></script>
    <script
      src="https://code.jquery.com/jquery-2.2.4.js"
      integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/css/styles.css">
    <script src="/js/pages.js" charset="utf-8"></script>
    <script type="text/javascript" src='/js/rotate.js'></script>
    <title>Choose Page</title>
  </head>
  <body>
    <div class="pages">
      <p>Tap the name of the Facebook Page you would like to set up:</p>
      <div class="pageList">
      </div>
    </div>
  </body>
</html>
