<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multiple.js/0.0.1/multiple.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/multiple.js/0.0.1/multiple.js"></script>
  <link rel="stylesheet" href="/prod/website.css">
  <script src="https://cdn.jsdelivr.net/lodash/4.6.1/lodash.min.js"></script>
  <script type="text/javascript" src='/js/index.js'></script>
  <script type="text/javascript" src='/js/rotate.js'></script>
  <title>Pricing</title>
</head>

<body>
  <div class="hide-orientation display-none">
    <img src="/imgs/rotate.svg" alt="">
  </div>
  <header>
    <a href="/">
      <img class='smallLogo' src="/imgs/landing-page/irrigate-icon-truecolor.svg" alt="Logo">
    </a>
    <a href="/pricing">Pricing</a>
    <a href="/customize">Customize</a>
    <a href="/about">About Us</a>
    <a class='headerButton' href='/auth/facebook'>
        <img src="/imgs/landing-page/small-fb-icon.svg" alt="Facebook Icon">
        <span>Log In</span>
      </a>
  </header>
  <div class="body-bg">


    <div class="pricing">
      <span class="pricingTitle">Pricing</span>
    </div>

    <div id="cards">

      <div class="card free">
        <div class="cardTitle">
          <h4>Free Forever!</h4>
          <p class="admins">Admins: 1</p>
        </div>

        <ul class="freeList list">
          <li class="listItem">&#x2713; Optimized for mobile</li>
          <li class="listItem">&#x2713; Send unlimited text messages</li>
          <li class="listItem">&#x2713; Message scheduling</li>
          <li class="listItem">&#x2713; Message forwarding</li>
          <li class="listItem">&#x2713; Unlimited members</li>
        </ul>
      </div>


      <div class="card lite">
        <div class="cardTitle">
          <h4>Lite - $22</h4>
          <p class="month">/ month</p>
          <p class="admins">Admins: 1</p>
        </div>

        <ul class="liteList list">
          <li class="listItem">&#x2713; Optimized for mobile</li>
          <li class="listItem">&#x2713; Send unlimited text messages</li>
          <li class="listItem">&#x2713; Message scheduling</li>
          <li class="listItem">&#x2713; Message forwarding</li>
          <li class="listItem">&#x2713; Unlimited members</li>
          <li class="listItem">&#x2713; Unlimited multimedia messages</li>
          <li class="listItem">&#x2713; Group creation</li>
        </ul>
      </div>


      <div class="card pro">
        <div class="cardTitle">
          <h4>Pro - $65</h4>
          <p class="month">/ month</p>
          <p class="admins">Admins: 5</p>
        </div>
        <p id="pro">All the Lite features, plus:</p>
        <ul class="proList list">
          <li class="listItem">&#x2713; Virtual store: list up to 4 items</li>
          <li class="listItem">&#x2713; Digital receipts</li>
          <li class="listItem">&#x2713; Payment processing</li>
          <li class="listItem soon">&#10038; Stripe payment integration</li>
          <li class="listItem soon">&#10038; 2.9% Stripe fee/transaction</li>
          <li class="listItem soon">&#10038; Setup required</li>
          <li class="listItem soon">&#10038; No setup fee for Beta users</li>
        </ul>
      </div>

      <div class="card custom">
        <div class="cardTitle">
          <h4>Custom</h4>
          <p class="admins"><a href="mailto:dom@irrigatemsg.com?Subject=Irrigate%20Inquiry">*Request a quote</a></p>
        </div>
        <ul class="customList list">
          <li class="listItem">&#x2713; Unlimited integrations</li>
          <li class="listItem soon">&#10038; CRM</li>
          <li class="listItem soon">&#10038; Set appointments</li>
          <li class="listItem soon">&#10038; E-commerce platforms</li>
          <li class="listItem soon">&#10038; Surveys</li>


          <li class="listItem">&#x2713; Unlimited possibilities</li>
          <li class="listItem soon">&#10038; Consumer insights</li>
          <li class="listItem soon">&#10038; Lead generation</li>
          <li class="listItem soon">&#10038; AI / Machine learning</li>
          <li class="listItem soon">&#10038; Brand persona</li>
          <li class="listItem soon">&#10038; Customer service</li>

        </ul>
      </div>
    </div>

    <div class="pricingTable">
      <table>
        <tr class="headings">
          <th class="left"></th>
          <th>Free!
            <p>$0</p>
          </th>
          <th>Lite
            <p>$22/mo</p>
          </th>
          <th>Pro
            <p>$65/mo</p>
          </th>
        </tr>
        <tr>
          <td id="mobile" class="leftTD">Admins</td>
          <td>1</td>
          <td>5</td>
          <td>10</td>
        </tr>
        <tr>
          <td class="leftTD">Optimized for mobile</td>
          <td>&#x2713;</td>
          <td>&#x2713;</td>
          <td>&#x2713;</td>
        </tr>
        <tr>
          <td class="leftTD">Unlimited members</td>
          <td>&#x2713;</td>
          <td>&#x2713;</td>
          <td>&#x2713;</td>
        </tr>
        <tr>
          <td class="leftTD">Send unlimited text messages</td>
          <td>&#x2713;</td>
          <td>&#x2713;</td>
          <td>&#x2713;</td>
        </tr>

        <tr>
          <td class="leftTD">Message scheduling</td>
          <td>&#x2713;</td>
          <td>&#x2713;</td>
          <td>&#x2713;</td>
        </tr>
        <tr>
          <td class="leftTD">Message forwarding</td>
          <td>&#x2713;</td>
          <td>&#x2713;</td>
          <td>&#x2713;</td>
        </tr>

      </tr>
        <td class="leftTD">Unlimited multimedia messages</td>
        <td></td>
        <td>&#x2713;</td>
        <td>&#x2713;</td>
      </tr>

        <tr>
          <td class="leftTD">Group creation</td>
          <td></td>
          <td>&#x2713;</td>
          <td>&#x2713;</td>
        </tr>

        <tr>
          <td class="leftTD">Virtual store: list up to 4 items</td>
          <td></td>
          <td></td>
          <td>&#x2713;</td>
        </tr>
        <tr>
          <td class="leftTD">Digital receipts</td>
          <td></td>
          <td></td>
          <td>&#x2713;</td>
        </tr>
        <tr>
          <td class="leftTD">Payment processing with Stripe</td>
          <td></td>
          <td></td>
          <td>&#x2713;</td>
        </tr>
        <tr>
          <td class="leftTD stripe">* Stripe setup required, free for Beta users.</td>
          <td></td>
          <td></td>
          <td>&#x2713;</td>
        </tr>
        <tr>
          <td class="leftTD stripe">* 2.9% Stripe fee per transaction</td>
          <td></td>
          <td></td>
          <td>&#x2713;</td>
        </tr>



      </table>
    </div>

    <div class="add">
      <p id="analytics">Add-on: Additional company pages can be added to any package for $22/mo</p>
    </div>

    <div class="customCallout">
      <h2>Need a personalized experience with your customers?</h2>
      <h3>We can build that.</h3>
      <ul class="integrations">
        <li class="listItem callout">Unlimited integrations</li>
        <li class="listItem soon personalize">&#10038; CRM</li>
        <li class="listItem soon personalize">&#10038; Set appointments</li>
        <li class="listItem soon personalize">&#10038; E-commerce platforms</li>
        <li class="listItem soon personalize">&#10038; Surveys</li>
      </ul>

      <ul class="possibilities">
        <li class="listItem callout">Unlimited possibilities</li>
        <li class="listItem soon personalize">&#10038; Consumer insights</li>
        <li class="listItem soon personalize">&#10038; Lead generation</li>
        <li class="listItem soon personalize">&#10038; AI / Machine learning</li>
        <li class="listItem soon personalize">&#10038; Brand persona</li>
        <li class="listItem soon personalize">&#10038; Customer service</li>
      </ul>

      <div class="customButtonDiv">
        <a class='customButton' href="mailto:dom@irrigatemsg.com?Subject=Irrigate%20Inquiry" target="_blank">
          <!-- <img src="/imgs/landing-page/small-fb-icon.svg" alt="Facebook Icon"> -->
          <span>Get a Quote</span>
        </a>
      </div>
    </div>

   <div class="button">
      <a class='fbButton' href='/auth/facebook' target="_blank">
        <img src="/imgs/landing-page/small-fb-icon.svg" alt="Facebook Icon">
        <span>Continue with Facebook</span>
      </a>
      <div class="underButton">
        <span class="smallText FB">You will be directed to Facebook to log in and complete your account setup.</span><br>
        <span class="smallText TC">By signing in, you agree to our Terms of Service and Privacy Policy</span>
    </div>
  </div>

  </div>
  <footer class="grad">
    <img src="/imgs/landing-page/logo-white-side.svg" alt="Logo">
    <div class="link-holder">
      <a href="https://m.me/irrigatemsg">See A Demo</a>
      <a href="/pricing">Pricing</a>
      <a href="/customize">Customize</a>
      <a href="/about">About Us</a>
    </div>
    <div class="footer-icons">
      <a href="https://m.me/irrigatemsg"><img src="/imgs/landing-page/white-facebook-messenger-icon.svg" alt=""></a>
      <a href="https://www.facebook.com/irrigatemsg"><img src="/imgs/landing-page/small-fb-icon.svg" alt=""></a>
      <a href="mailto:dom@irrigatemsg.com?Subject=Irrigate%20Inquiry"><img src="/imgs/landing-page/mail-icon.svg" alt=""></a>
      <a href="/auth/facebook"><img src="/imgs/landing-page/footer-login.svg" alt=""></a>
    </div>
    <span>© 2017 Irrigate Messaging LLC All Rights Reserved</span>
  </footer>
</body>

</html>
