<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <script
      src="https://code.jquery.com/jquery-2.2.4.js"
      integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/css/landing.css">
    <title>Irrigate</title>
  </head>

  <body>
    <header>
      <div id="header">
        <img class='smallLogo' src="/imgs/landing-page/irrigate-icon-truecolor.svg" alt="Logo">
        <a href="/">Pricing</a>
        <a href="/">Customize</a>
        <a href="/">About Us</a>
          <button id="headerButton" type="submit" onclick="location.href = '/auth/facebook';">Log In</button>
      </div>
    </header>

    <div class="landing">
    </div>

  </body>
</html>
