<!DOCTYPE html>
<html>
  <head>
    <!-- HTML Meta Tags -->
    <title>Irrigate Messaging</title>
    <meta name="description" content="Irrigate is a direct messaging system that enables businesses to have better conversations with customers and monetize messaging applications.">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Irrigate Messaging">
    <meta itemprop="description" content="Irrigate is a direct messaging system that enables businesses to have better conversations with customers and monetize messaging applications.">
    <meta itemprop="image" content="https://www.irrigatemsg.com/imgs/logo-w-bg.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.irrigatemsg.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Irrigate Messaging">
    <meta property="og:description" content="Irrigate is a direct messaging system that enables businesses to have better conversations with customers and monetize messaging applications.">
    <meta property="og:image" content="https://www.irrigatemsg.com/imgs/logo-w-bg.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Irrigate Messaging">
    <meta name="twitter:description" content="Irrigate is a direct messaging system that enables businesses to have better conversations with customers and monetize messaging applications.">
    <meta name="twitter:image" content="https://www.irrigatemsg.com/imgs/logo-w-bg.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/prod/website.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multiple.js/0.0.1/multiple.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/multiple.js/0.0.1/multiple.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.6.1/lodash.min.js"></script>
    <script type="text/javascript" src='/js/index.js'></script>
    <script type="text/javascript" src='/js/rotate.js'></script>

    <title>Terms and Conditions</title>
</head>
  <body id="termsBody">

    <!-- <div class="hide-orientation display-none">
      <img src="/imgs/rotate.svg" alt="">
    </div> -->
    <header>
      <a href="/">
        <img class='smallLogo' src="/imgs/landing-page/irrigate-icon-truecolor.svg" alt="Logo">
      </a>
      <a href="/pricing">Pricing</a>
      <a href="/customize">Customize</a>
      <a href="/about">About Us</a>
      <a class='headerButton' href='/auth/facebook'>
          <img src="/imgs/landing-page/small-fb-icon.svg" alt="Facebook Icon">
          <span>Log In</span>
        </a>
    </header>




<div id='termsHeader'>Irrigate Terms and Conditions</div>

<div id='termsBodyText'>


<div class='innerText' id="innerTextTerms">These Website Standard Terms and Conditions written on this webpage shall manage your use of this website. These Terms will be applied
  fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website
  if you disagree with any of these Website Standard Terms and Conditions.</div><br>

<div class='grayText'><strong>Intellectual Property Rights</strong></div><br />
  <div class='innerText'>Other than the content you own, under these Terms, IRRIGATE MESSAGING LLC and/or its licensors own all the intellectual property rights and materials contained in this Website.
  <br>You are granted limited license only for purposes of viewing the material contained on this Website.</div>
  <br> <span id='infoUs'></span><br>

  <div class='grayText'><strong>Restrictions</strong></div><br />
    <div class='innerText'>You are specifically restricted from all of the following:
    <ul class="grayTextUL">
      <li>publishing any Website material in any other media</li>
    <li>selling, sublicensing and/or otherwise commercializing any Website material</li>
    <li>publicly performing and/or showing any Website material</li>
    <li>using this Website in any way that is or may be damaging to this Website</li>
    <li>using this Website in any way that impacts user access to this Website</li>
    <li>using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity</li>
    <li>engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website</li>
    <li>using this Website to engage in any advertising or marketing</li>
  </ul><br>
    Certain areas of this Website are restricted from being access by you and IRRIGATE MESSAGING LLC may further restrict access by you to any areas of this Website, at any time, in absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality as well.
    </div>
    <br> <span id='infoUs'></span><br>

  <div class='grayText'><strong>Your Content</strong></div><br />
    <div class='innerText'>In these Website Standard Terms and Conditions, “Your Content” shall mean any audio, video text, images or other material you choose to display on this Website. By displaying Your Content, you grant IRRIGATE MESSAGING LLC a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.
    Your Content must be your own and must not be invading any third-party’s rights. IRRIGATE MESSAGING LLC reserves the right to remove any of Your Content from this Website at any time without notice.
    </div>
    <br> <span id='infoUs'></span><br>

    <div class='grayText'><strong>No Warranties</strong></div><br />
      <div class='innerText'>This Website is provided “as is,” with all faults, and IRRIGATE MESSAGING LLC express no representations or warranties, of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.
       </div>
      <br> <span id='infoUs'></span><br>

      <div class='grayText'><strong>Limitation of Liability</strong></div><br />
        <div class='innerText'>In no event shall IRRIGATE MESSAGING LLC, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this Website whether such liability is under contract.  IRRIGATE MESSAGING LLC, including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.
        </div>
        <br> <span id='infoUs'></span><br>

        <div class='grayText'><strong>Privacy and Data Usage</strong></div><br />
          <div class='innerText'>When you connect with Messenger, IRRIGATE MESSAGING LLC will collect a Facebook-generated unique identifier, which is used to identify you when you interact with IRRIGATE. In the event that you log out of IRRIGATE, Facebook uses this unique identifier to recall and display your conversation history when/if you reconnect (provided the conversation was not deleted).
	IRRIGATE also collects and uses any data you include in a message in accordance with the IRRIGATE Privacy Statement. Facebook also collects and uses such data in accordance with Facebook’s Data Policy and subject to certain restrictions, including Facebook from sharing this data with third parties.
IRRIGATE collects and uses technical data and related information including, but not limited to, technical data about your interactions with the customers (collectively, “Technical Data”) to facilitate updates to our services. This Technical Data may personally identify you, and IRRIGATE may use it to improve our products or to provide you with services or technologies. Facebook may also periodically collect and use Technical Data in accordance with Facebook's Data Policy.
</div>
          <br> <span id='infoUs'></span><br>

          <div class='grayText'><strong> Security</strong></div><br />
            <div class='innerText'>It is solely you and your customer’s responsibility to maintain the physical security of your devices and the confidentiality of the information on your devices, including on Facebook, in Messenger, and with the IRRIGATE platform.
          	You should keep your devices, any User IDs and Passwords, and other credentials secure in the same manner as you would keep secure your cash, checks, credit cards, and other personal identification numbers and passwords.
          	Anyone with whom you share your devices, Facebook, and/or Messenger credentials will be able to see any messages sent or received via IRRIGATE, including any information made available through Messenger. For your customers, to the extent you wish to avoid this from happening, customers must delete the conversation between them and your company in Messenger prior to sharing or transferring your device or giving access to your Facebook or Messenger account to another.
          	We recommend you always use available security and lock features on your devices. If you do not utilize the lock screen feature of your devices, and if you have not logged out of Messenger, the Messages and other information contained in your IRRIGATE account will be accessible to anyone with access to your device.
          	Please note that push notifications can be displayed on a locked or inactive device screen on some devices. Since it is possible to view this information even when your devices are locked, we strongly encourage you to maintain physical control over your devices and/or turn off push notifications if you are uncomfortable with this possibility.
          	Do not include any sensitive personal information (e.g., your EIN number, bank account info, date of birth, security PIN, etc.) in a Messenger conversation. Please note Stripe’s privacy policy in regards to payment processing.
           </div>
            <br> <span id='infoUs'></span><br>

            <div class='grayText'><strong>Indemnification </strong></div><br />
              <div class='innerText'>The access and use of IRRIGATE are subject to applicable international, federal, state, and local laws. You hereby indemnify to the fullest extent IRRIGATE MESSAGING LLC from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms. IRRIGATE reserves the right to seek council/remedies available if/when violations of these Terms of Use occur or if/when your actions impede or are in contest with applicable laws and regulations. </div>
              <br> <span id='infoUs'></span><br>

              <div class='grayText'><strong>Interference/Tampering </strong></div><br />
                <div class='innerText'>Any attempt to make changes, interrupt, damage, audit, enhance, divert or otherwise interfere with any and all aspects the IRRIGATE platform that would hinder the operation of the platform, officers, or company is a violation of criminal and civil laws. We reserve the right to seek damages and costs including and without limitation incurred to the fullest extent permitted by law.
             </div>
                <br> <span id='infoUs'></span><br>

                <div class='grayText'><strong>Third Party Agreements </strong></div><br />
                  <div class='innerText'>Facebook, your mobile operating system provider and other third party services or sites incorporated in Messenger or linked to or through IRRIGATE MESSAGING LLC have their own terms and conditions and privacy policies and practices (collectively, “Third Party Agreements”). You may be subject to these Third Party Agreements when you use IRRIGATE in Messenger, give these third parties your personal information, or otherwise use their services (e.g. if you are presented with the option to add your Card number and billing information to your Facebook account for purchases and choose to do so) or visit their respective mobile or websites. It is your responsibility to review and accept all applicable Third Party Agreements before using IRRIGATE.
                	IRRIGATE is not responsible for the security, accuracy, legality, appropriateness or any other aspect of the content or function of Facebook, Messenger, your device or any third party's products or services that may be incorporated or linkable from IRRIGATE.
                	We are not responsible for, and do not provide, any support or assistance for any third party hardware, software or other products or services. If you have any questions or issues with a third party product or service, including issues pertaining to the operation of your supported iOS or Android device, please contact the appropriate third party in accordance with its procedures for customer support. If you have any questions or issues pertaining to Messenger (other than questions or issues specific to the use of IRRIGATE), please contact Facebook.
                 You will be responsible for all fees from your IRRIGATE subscriptions as well as any additional fees that may be imposed by non-IRRIGATE parties in connection with such use (such as data usage or text messaging charges imposed on you by your wireless carrier, or payment processing fees) and subject to any restrictions those third parties may impose.
                 </div>
                  <br> <span id='infoUs'></span><br>

                  <div class='grayText'><strong>Severability </strong></div><br />
                    <div class='innerText'>If any provision of these Terms is found to be invalid under any applicable international, federal, state, and local law, such provisions shall be deleted without affecting the remaining provisions herein.
                     </div>
                    <br> <span id='infoUs'></span><br>

                    <div class='grayText'><strong>Variation of Terms and Termination </strong></div><br />
                      <div class='innerText'>IRRIGATE MESSAGING LLC is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review these Terms on a regular basis.
                      We may revise, stop, limit, throttle, interrupt, discontinue, terminate, any and all aspects of the IRRIGATE platform and service(s) at our sole discretion, for any reason, with or without notice or liability to you, your company, or third parties.
                       </div>
                      <br> <span id='infoUs'></span><br>

                      <div class='grayText'><strong>No Waiver </strong></div><br />
                        <div class='innerText'>Our failure to exercise or enforce any provision of these Terms of Use shall not constitute a waiver of such provision. </div>
                        <br> <span id='infoUs'></span><br>

                        <div class='grayText'><strong>Assignment </strong></div><br />
                          <div class='innerText'>The IRRIGATE MESSAGING LLC is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.
                           </div>
                          <br> <span id='infoUs'></span><br>

                          <div class='grayText'><strong>Entire Agreement </strong></div><br />
                            <div class='innerText'>These Terms constitute the entire agreement between IRRIGATE MESSAGING LLC and you in relation to your use of this Website, and supersede all prior agreements and understandings.
                             </div>
                            <br> <span id='infoUs'></span><br>

                            <div class='grayText'><strong>Governing Law & Jurisdiction </strong></div><br />
                              <div class='innerText'>These Terms will be governed by and interpreted in accordance with the laws of the State of OH, and you submit to the non-exclusive jurisdiction of the state and federal courts located in OH for the resolution of any disputes.</div>
                              <br> <span id='infoUs'></span><br>

</div>


      <footer class="grad">
        <img src="/imgs/landing-page/logo-white-side.svg" alt="Logo">
        <div class="link-holder">
          <a href="https://m.me/irrigatemsg">See A Demo</a>
          <a href="/pricing">Pricing</a>
          <a href="/customize">Customize</a>
          <a href="/about">About Us</a>
        </div>
        <div class="footer-icons">
          <a href="https://m.me/irrigatemsg"><img src="/imgs/landing-page/white-facebook-messenger-icon.svg" alt=""></a>
          <a href="https://www.facebook.com/irrigatemsg"><img src="/imgs/landing-page/small-fb-icon.svg" alt=""></a>
          <a href="mailto:dom@irrigatemsg.com?Subject=Irrigate%20Inquiry"><img src="/imgs/landing-page/mail-icon.svg" alt=""></a>
          <a href="/auth/facebook"><img src="/imgs/landing-page/footer-login.svg" alt=""></a>
        </div>
        <span>© 2017 Irrigate Messaging LLC All Rights Reserved</span>
      </footer>

  </body>
</html>
