<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <script src="/socket.io/socket.io.js"></script>
  <script
    src="https://code.jquery.com/jquery-2.2.4.js"
    integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
    crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="/prod/styles.css"> -->
  <script type="text/javascript" src='/js/rotate.js'></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script type="text/javascript" src='/js/webviewCheckout.js'></script>

  <title>Payment Screen</title>

</head>
  <body>

  </body>
</html>
