header {
  background-color: white;
  -webkit-transition: background .8s, -webkit-box-shadow 1s;
  transition: background .8s, -webkit-box-shadow 1s;
  transition: background .8s, box-shadow 1s;
  transition: background .8s, box-shadow 1s, -webkit-box-shadow 1s;
  position: fixed;
  width: 100vw;
  z-index: 1;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh; }
  header img {
    width: 7vw;
    vertical-align: middle;
    margin-right: 4vw; }
  header a {
    text-decoration: none;
    font-weight: 300;
    vertical-align: middle;
    font-size: 3.5vw;
    color: #150958;
    margin-right: 4.8vw; }
    @media only screen and (min-width: 1025px) {
      header a {
        font-size: 1.7vw;
        padding: 0 4vw 0 4vw;
        float: right; } }
  header .headerButton {
    background-color: #150958;
    padding: 3vw;
    border-radius: 2.5vw;
    color: white;
    margin-right: 0vw; }
    header .headerButton img {
      width: 3vw;
      margin-right: 1vw; }
    header .headerButton span {
      font-weight: 400;
      vertical-align: middle; }

.landing {
  color: #474747;
  height: 100vh;
  background-size: cover;
  background-position-x: center; }
  @media only screen and (min-width: 1025px) {
    .landing {
      height: 110vh; } }
  .landing .logo {
    width: 70vw;
    margin: 16vh 0vw 0vh 15vw; }
    @media only screen and (min-width: 1025px) {
      .landing .logo {
        padding-top: 3vw;
        width: 40vw;
        margin: 10vh 0vh 6vh 0vh; } }
  .landing a {
    display: inline-block;
    text-decoration: none;
    width: 80vw;
    margin-left: 10vw;
    text-align: center;
    background-color: #150958;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 2vw; }
    .landing a img {
      width: 4vw;
      margin-right: 4vw;
      vertical-align: middle; }
    .landing a span {
      vertical-align: middle;
      color: white;
      font-weight: 300;
      font-size: 4.5vw; }
  .landing .chevron {
    width: 15vw;
    padding-top: 4vh;
    margin-left: 42.5vw;
    margin-top: 7vh; }
    @media only screen and (min-width: 1025px) {
      .landing .chevron {
        width: 8vw;
        padding-top: 2vh;
        padding-bottom: 3vh; } }

input[type="submit"] {
  text-decoration: none;
  color: white;
  font-size: 1em;
  border-radius: 1vh;
  background-color: #150958;
  position: center;
  font-weight: 400;
  cursor: pointer;
  padding: 2vh 3vw;
  margin: 9vh 0vh 0vw 0vw; }
  @media only screen and (min-width: 1025px) {
    input[type="submit"] {
      padding: 2vh 3vw;
      margin: 2vh 0vw; } }

.subtitle {
  margin: 10vh 0 10vh 20vw;
  width: 60vw;
  font-size: 6vw;
  font-weight: 300;
  color: #150958;
  text-align: center; }
  @media only screen and (min-width: 1025px) {
    .subtitle {
      margin-left: 35vw;
      width: 30vw;
      font-size: 3vw; } }

.market {
  height: 100vh;
  background-size: cover;
  background-position-x: center; }
  @media only screen and (min-width: 1025px) {
    .market {
      height: 100vh; } }
  .market h3 {
    font-size: 6.5vw;
    font-weight: 700;
    color: #150958;
    text-align: left;
    width: 80vw;
    padding: 10vh 0vw 5vh 5vw; }
    @media only screen and (min-width: 1025px) {
      .market h3 {
        font-size: 3vw;
        width: 40vw;
        text-transform: uppercase; } }
  .market h5 {
    font-size: 6.5vw;
    font-weight: 400;
    color: #150958;
    text-align: right;
    width: 80vw;
    padding: 0vh 0vw 2vh 15vw; }
    @media only screen and (min-width: 1025px) {
      .market h5 {
        font-size: 3vw;
        width: 60vw;
        padding: 0vh 0vw 2vh 30vw; } }
  .market p {
    font-weight: 200;
    font-size: 6vw;
    color: #150958;
    float: right;
    text-align: right;
    width: 70vw;
    padding-right: 7vw; }
    @media only screen and (min-width: 1025px) {
      .market p {
        font-size: 4vh;
        width: 55vw;
        font-weight: 300; } }
  .market .soon {
    font-size: 4vw;
    color: white;
    padding-top: 0vh;
    margin-top: 0;
    padding-right: 23vw; }
    @media only screen and (min-width: 1025px) {
      .market .soon {
        font-size: 1.2vw;
        padding-right: 30%;
        margin: 0 0 10vh 0; } }
  .market .social {
    padding-top: 4vh;
    position: top;
    max-width: auto;
    text-align: center; }
    @media only screen and (min-width: 1025px) {
      .market .social {
        height: 12vh; } }
  .market .socialIcons {
    display: inline;
    width: 12vw;
    vertical-align: middle; }
    .market .socialIcons:first-of-type {
      width: 17vw;
      margin-right: 10vw;
      -webkit-animation: pulse .8s infinite;
              animation: pulse .8s infinite; }
    @media only screen and (min-width: 1025px) {
      .market .socialIcons {
        width: 6vw;
        height: 6vh;
        padding-bottom: 0; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-filter: drop-shadow(white 0px 0px 5px);
            filter: drop-shadow(white 0px 0px 5px); }
  25% {
    -webkit-filter: drop-shadow(white 0px 0px 15px);
            filter: drop-shadow(white 0px 0px 15px); }
  100% {
    -webkit-filter: drop-shadow(white 0px 0px 5px);
            filter: drop-shadow(white 0px 0px 5px); } }

@keyframes pulse {
  0% {
    -webkit-filter: drop-shadow(white 0px 0px 5px);
            filter: drop-shadow(white 0px 0px 5px); }
  25% {
    -webkit-filter: drop-shadow(white 0px 0px 15px);
            filter: drop-shadow(white 0px 0px 15px); }
  100% {
    -webkit-filter: drop-shadow(white 0px 0px 5px);
            filter: drop-shadow(white 0px 0px 5px); } }

.grey {
  width: 46vw;
  display: inline-block;
  margin-left: 38vw;
  background-color: black; }

.blue {
  color: white;
  height: 380vh; }
  .blue .three-phones {
    padding-top: 30vh; }
    .blue .three-phones .device {
      width: 35vw;
      display: inline-block;
      margin-left: 5vw; }
    .blue .three-phones .content-holder.right {
      text-align: right; }
    .blue .three-phones .content-holder {
      display: inline-block;
      width: 50vw;
      vertical-align: top;
      margin-left: 5vw;
      padding-top: 0; }
      .blue .three-phones .content-holder span:first-of-type {
        margin-bottom: 6vh;
        font-weight: 700;
        display: block;
        font-size: 6vw; }
      .blue .three-phones .content-holder span:last-of-type {
        font-weight: 400;
        font-size: 4.2vw; }
  .blue .why {
    margin-top: 26vh;
    font-size: 6.8vw;
    font-weight: 600;
    width: 63vw;
    margin-left: 18.5vw;
    text-align: center;
    display: block; }
  .blue .because {
    text-align: center;
    display: block;
    font-size: 6vw;
    font-weight: 300; }
  .blue .stats {
    margin-bottom: 0vh;
    padding-top: 15vh; }
    .blue .stats span:first-of-type {
      line-height: 8vh;
      position: absolute;
      left: 14vw;
      font-size: 17vw;
      font-weight: 300; }
    .blue .stats span:last-of-type {
      width: 44vw;
      display: inline-block;
      position: absolute;
      right: 8vw;
      font-weight: 600; }
  .blue .stats.first {
    height: 10vh; }
  .blue .stats.second {
    height: 20vh; }
  .blue .stats.third {
    height: 23vh; }

.features {
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  @media only screen and (min-width: 1025px) {
    .features {
      height: 205vh; } }
  .features span:first-of-type {
    padding: 10vh 2vw 0vh 5vw;
    margin-bottom: 1vh;
    font-weight: 500;
    font-size: 8vw;
    color: #150958;
    display: block; }
  .features h5 {
    font-size: 5vw;
    font-weight: 300;
    color: #150958;
    text-align: left;
    width: 80vw;
    padding: 0vh 0vw 2vh 5vw;
    margin: 0 0 2.5vh 0; }
    @media only screen and (min-width: 1025px) {
      .features h5 {
        font-size: 3vw;
        width: 60vw; } }
  .features h6 {
    color: #150958;
    font-weight: 700;
    font-size: 4.2vw;
    margin: 0; }
    @media only screen and (min-width: 1025px) {
      .features h6 {
        font-size: 2vw;
        margin: 5vh 0 0 5vw; } }
  .features p {
    font-weight: 300;
    font-size: 5vw;
    color: #150958;
    width: 60vw;
    margin: 0; }
    @media only screen and (min-width: 1025px) {
      .features p {
        font-size: 2vw;
        font-weight: 100;
        margin: 3vh 0 8vh 5vw;
        width: 55vw; } }

.circles div {
  display: inline-block;
  margin-bottom: 10vh;
  margin-left: 5vw;
  margin-right: 5vw; }

.circles img {
  width: 24vw;
  vertical-align: top; }

footer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative; }
  footer img {
    width: 35vw;
    top: 2.5vh;
    position: relative;
    left: 5vw; }
  footer .link-holder {
    position: relative;
    right: 5vw;
    top: -2.5vh; }
    footer .link-holder a {
      text-decoration: none;
      color: white;
      display: block;
      font-weight: 300;
      text-align: right;
      font-size: 3.5vw;
      margin-bottom: 3vh; }
  footer .footer-icons {
    position: absolute;
    top: 9.5vh; }
    footer .footer-icons .footer-login {
      display: inline;
      vertical-align: middle; }
      footer .footer-icons .footer-login img {
        width: 5vw;
        vertical-align: middle; }
      footer .footer-icons .footer-login p {
        display: inline; }
    footer .footer-icons a {
      vertical-align: middle; }
      footer .footer-icons a:first-of-type img {
        width: 8vw; }
      footer .footer-icons a:nth-of-type(2) img {
        width: 4vw; }
      footer .footer-icons a:nth-of-type(3) img {
        width: 7vw; }
      footer .footer-icons a:nth-of-type(4) img {
        width: 18vw; }
      footer .footer-icons a img {
        vertical-align: middle;
        margin-right: 5vw; }
  footer span:last-of-type {
    position: absolute;
    bottom: 5.5vh;
    color: white;
    font-size: 2.3vw;
    left: 5vw; }

.multiple-mobile-wrapper {
  height: 110% !important; }

body {
  margin: 0;
  background-color: #E0E0E0;
  font-family: 'Open Sans', sans-serif; }

input:focus, select:focus, textarea:focus, button:focus {
  outline: none; }
