.landing {
  color: #474747;
  text-align: center; }
  .landing p {
    font-size: 6vw;
    padding-top: 6vh; }
  .landing a {
    text-decoration: none;
    color: #474747;
    border-bottom: 0.4vh solid #474747;
    font-size: 6vw;
    position: fixed;
    left: 33vw;
    bottom: 10vh;
    width: 34vw;
    -webkit-transition: border-bottom 1s;
    transition: border-bottom 1s; }
    .landing a:hover {
      border-bottom: 0.4vh solid red; }

.login {
  background-color: #474747;
  color: white;
  text-align: center;
  width: 84vw;
  position: fixed;
  left: 8vw;
  height: 60vh;
  top: 20vh;
  font-size: 6vw;
  padding-top: 5vh;
  -webkit-transition: left .8s, -webkit-transform .8s;
  transition: left .8s, -webkit-transform .8s;
  transition: transform .8s, left .8s;
  transition: transform .8s, left .8s, -webkit-transform .8s; }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .login {
      height: 68vh;
      top: 16vh; } }
  @media only screen and (min-width: 1025px) {
    .login {
      font-size: 2vw; } }
  .login p {
    font-size: 2.6vw;
    margin: 0vh 0vw 1vh 0vw;
    padding: 0vh 0vw 0vh 0vw;
    color: red; }
  .login hr {
    width: 40vw; }
  .login form label {
    display: block;
    padding-top: 3vh; }
  .login form input[type='text'], .login form input[type='password'] {
    font-size: 6vw; }
    @media only screen and (min-width: 1025px) {
      .login form input[type='text'], .login form input[type='password'] {
        font-size: 2vw; } }
  .login form input[type='password'] {
    margin-bottom: 5vh; }
  .login form input[type='submit'] {
    display: block;
    width: 30vw;
    margin: 0 auto;
    font-size: 6vw;
    background-color: white;
    margin-bottom: 7vh; }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .login form input[type='submit'] {
        margin-bottom: 3vh; } }
    @media only screen and (min-width: 1025px) {
      .login form input[type='submit'] {
        font-size: 2vw;
        width: 14vw; } }
  .login a:last-of-type {
    color: white;
    font-size: 5.6vw; }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .login a:last-of-type {
        font-size: 3.4vw; } }
    @media only screen and (min-width: 1025px) {
      .login a:last-of-type {
        font-size: 1.6vw; } }

.signup {
  background-color: #474747;
  color: white;
  text-align: center;
  width: 84vw;
  position: fixed;
  left: 8vw;
  height: 80vh;
  top: 8vh;
  font-size: 6vw;
  padding-top: 5vh;
  -webkit-transition: left .8s, -webkit-transform .8s;
  transition: left .8s, -webkit-transform .8s;
  transition: transform .8s, left .8s;
  transition: transform .8s, left .8s, -webkit-transform .8s; }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .signup {
      height: 80vh; } }
  @media only screen and (min-width: 1025px) {
    .signup {
      font-size: 2vw; } }
  .signup hr {
    width: 40vw; }
  .signup form label {
    display: block;
    padding-top: 5vh; }
  .signup form input[type='text'], .signup form input[type='password'] {
    font-size: 6vw; }
    @media only screen and (min-width: 1025px) {
      .signup form input[type='text'], .signup form input[type='password'] {
        font-size: 2vw; } }
  .signup form input[type='password'] {
    margin-bottom: 5vh; }
  .signup form input[type='submit'] {
    display: block;
    width: 30vw;
    margin: 0 auto;
    font-size: 6vw;
    background-color: white;
    margin-bottom: 7vh; }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .signup form input[type='submit'] {
        margin-bottom: 3vh; } }
    @media only screen and (min-width: 1025px) {
      .signup form input[type='submit'] {
        font-size: 2vw;
        width: 14vw; } }
  .signup a:last-of-type {
    color: white;
    font-size: 5.6vw; }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      .signup a:last-of-type {
        font-size: 3.4vw; } }
    @media only screen and (min-width: 1025px) {
      .signup a:last-of-type {
        font-size: 1.6vw; } }

.signup.rotate {
  left: 128vw;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .signup.rotate {
      left: 110vw;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); } }

.login.rotate {
  left: -95vw;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    .login.rotate {
      left: -86vw;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); } }

footer {
  position: fixed;
  width: 100vw;
  background-color: #474747;
  bottom: 0;
  font-size: 6vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
  height: 2vh; }
  footer .toggle {
    cursor: pointer;
    padding-left: 8vw;
    width: 33vw;
    vertical-align: middle;
    display: inline-block; }
    footer .toggle img {
      width: 4vw;
      -webkit-transition: -webkit-transform 1s;
      transition: -webkit-transform 1s;
      transition: transform 1s;
      transition: transform 1s, -webkit-transform 1s; }
  footer .add-new {
    cursor: pointer;
    width: 33vw;
    display: inline-block;
    vertical-align: middle; }
    footer .add-new div {
      width: 11vw;
      height: 0.3vh;
      background-color: lightgrey;
      border-radius: 50px;
      margin-left: 7vw;
      margin-right: 16vw; }
      footer .add-new div:first-of-type {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); }
      @media only screen and (max-width: 1024px) and (min-width: 415px) {
        footer .add-new div {
          width: 7.4vw;
          margin-left: 9vw; } }
  footer .hamburger {
    cursor: pointer;
    width: 33vw;
    vertical-align: middle;
    display: inline-block; }
    footer .hamburger div {
      width: 16vw;
      max-width: 10vw;
      height: 0.4vh;
      background-color: lightgrey;
      border-radius: 50px;
      margin-left: 4vw; }
      footer .hamburger div:first-of-type {
        margin-bottom: 1.1vh; }
      footer .hamburger div:nth-of-type(2) {
        margin-bottom: 1vh; }

footer.active {
  bottom: 49vh; }
  footer.active img {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); }
  @media only screen and (max-width: 1024px) and (min-width: 415px) {
    footer.active {
      bottom: 44vh; } }

.main-calendar {
  font-size: 15vw; }

nav {
  text-align: center;
  padding-top: 5vh; }
  nav img {
    z-index: 2;
    position: fixed;
    width: 4vw; }
    @media only screen and (max-width: 1024px) and (min-width: 415px) {
      nav img:first-of-type {
        left: 20vw; }
      nav img:last-of-type {
        right: 20vw; } }
    nav img:first-of-type {
      left: 10vw; }
    nav img:last-of-type {
      right: 10vw; }

.active-day {
  background-color: black;
  color: white;
  border-radius: 16px;
  padding: 0.3vh;
  width: 4vh;
  height: 4vh; }

.toggle-calendar.active {
  bottom: 6vh; }

.toggle-calendar {
  text-align: center;
  font-size: 5vw;
  position: fixed;
  bottom: -44vh;
  -webkit-transition: bottom 1s;
  transition: bottom 1s; }
  .toggle-calendar .weekdays span:nth-of-type(1) {
    position: fixed;
    left: 6vw; }
  .toggle-calendar .weekdays span:nth-of-type(2) {
    position: fixed;
    left: 18.85vw; }
  .toggle-calendar .weekdays span:nth-of-type(3) {
    position: fixed;
    left: 31.7vw; }
  .toggle-calendar .weekdays span:nth-of-type(4) {
    position: fixed;
    left: 44.55vw; }
  .toggle-calendar .weekdays span:nth-of-type(5) {
    position: fixed;
    left: 57.4vw; }
  .toggle-calendar .weekdays span:nth-of-type(6) {
    position: fixed;
    left: 70.25vw; }
  .toggle-calendar .weekdays span:nth-of-type(7) {
    position: fixed;
    left: 83.1vw; }
  .toggle-calendar .days .first {
    padding-top: 7vh; }
    .toggle-calendar .days .first span:nth-of-type(1) {
      position: fixed;
      left: 6vw; }
    .toggle-calendar .days .first span:nth-of-type(2) {
      position: fixed;
      left: 18.85vw; }
    .toggle-calendar .days .first span:nth-of-type(3) {
      position: fixed;
      left: 31.7vw; }
    .toggle-calendar .days .first span:nth-of-type(4) {
      position: fixed;
      left: 44.55vw; }
    .toggle-calendar .days .first span:nth-of-type(5) {
      position: fixed;
      left: 57.4vw; }
    .toggle-calendar .days .first span:nth-of-type(6) {
      position: fixed;
      left: 70.25vw; }
    .toggle-calendar .days .first span:nth-of-type(7) {
      position: fixed;
      left: 83.1vw; }
  .toggle-calendar .days .second {
    padding-top: 7vh; }
    .toggle-calendar .days .second span:nth-of-type(1) {
      position: fixed;
      left: 6vw; }
    .toggle-calendar .days .second span:nth-of-type(2) {
      position: fixed;
      left: 18.85vw; }
    .toggle-calendar .days .second span:nth-of-type(3) {
      position: fixed;
      left: 31.7vw; }
    .toggle-calendar .days .second span:nth-of-type(4) {
      position: fixed;
      left: 44.55vw; }
    .toggle-calendar .days .second span:nth-of-type(5) {
      position: fixed;
      left: 57.4vw; }
    .toggle-calendar .days .second span:nth-of-type(6) {
      position: fixed;
      left: 70.25vw; }
    .toggle-calendar .days .second span:nth-of-type(7) {
      position: fixed;
      left: 83.1vw; }
  .toggle-calendar .days .third {
    padding-top: 7vh; }
    .toggle-calendar .days .third span:nth-of-type(1) {
      position: fixed;
      left: 6vw; }
    .toggle-calendar .days .third span:nth-of-type(2) {
      position: fixed;
      left: 18.85vw; }
    .toggle-calendar .days .third span:nth-of-type(3) {
      position: fixed;
      left: 31.7vw; }
    .toggle-calendar .days .third span:nth-of-type(4) {
      position: fixed;
      left: 44.55vw; }
    .toggle-calendar .days .third span:nth-of-type(5) {
      position: fixed;
      left: 57.4vw; }
    .toggle-calendar .days .third span:nth-of-type(6) {
      position: fixed;
      left: 70.25vw; }
    .toggle-calendar .days .third span:nth-of-type(7) {
      position: fixed;
      left: 83.1vw; }
  .toggle-calendar .days .fourth {
    padding-top: 7vh; }
    .toggle-calendar .days .fourth span:nth-of-type(1) {
      position: fixed;
      left: 6vw; }
    .toggle-calendar .days .fourth span:nth-of-type(2) {
      position: fixed;
      left: 18.85vw; }
    .toggle-calendar .days .fourth span:nth-of-type(3) {
      position: fixed;
      left: 31.7vw; }
    .toggle-calendar .days .fourth span:nth-of-type(4) {
      position: fixed;
      left: 44.55vw; }
    .toggle-calendar .days .fourth span:nth-of-type(5) {
      position: fixed;
      left: 57.4vw; }
    .toggle-calendar .days .fourth span:nth-of-type(6) {
      position: fixed;
      left: 70.25vw; }
    .toggle-calendar .days .fourth span:nth-of-type(7) {
      position: fixed;
      left: 83.1vw; }
  .toggle-calendar .days .fifth {
    padding-top: 7vh; }
    .toggle-calendar .days .fifth span:nth-of-type(1) {
      position: fixed;
      left: 6vw; }
    .toggle-calendar .days .fifth span:nth-of-type(2) {
      position: fixed;
      left: 18.85vw; }
    .toggle-calendar .days .fifth span:nth-of-type(3) {
      position: fixed;
      left: 31.7vw; }
    .toggle-calendar .days .fifth span:nth-of-type(4) {
      position: fixed;
      left: 44.55vw; }
    .toggle-calendar .days .fifth span:nth-of-type(5) {
      position: fixed;
      left: 57.4vw; }
    .toggle-calendar .days .fifth span:nth-of-type(6) {
      position: fixed;
      left: 70.25vw; }
    .toggle-calendar .days .fifth span:nth-of-type(7) {
      position: fixed;
      left: 83.1vw; }
  .toggle-calendar .days .sixth {
    padding-top: 7vh; }
    .toggle-calendar .days .sixth span:nth-of-type(1) {
      position: fixed;
      left: 6vw; }
    .toggle-calendar .days .sixth span:nth-of-type(2) {
      position: fixed;
      left: 18.85vw; }
    .toggle-calendar .days .sixth span:nth-of-type(3) {
      position: fixed;
      left: 31.7vw; }
    .toggle-calendar .days .sixth span:nth-of-type(4) {
      position: fixed;
      left: 44.55vw; }
    .toggle-calendar .days .sixth span:nth-of-type(5) {
      position: fixed;
      left: 57.4vw; }
    .toggle-calendar .days .sixth span:nth-of-type(6) {
      position: fixed;
      left: 70.25vw; }
    .toggle-calendar .days .sixth span:nth-of-type(7) {
      position: fixed;
      left: 83.1vw; }

.chat-ui.live-chat {
  bottom: 0vh;
  z-index: 2; }

.chat-ui {
  height: 80vh;
  position: fixed;
  bottom: -100vh;
  background-color: #474747;
  width: 100vw;
  -webkit-transition: bottom 1.5s;
  transition: bottom 1.5s;
  -webkit-transition-timing-function: cubic-bezier(0.44, 0.29, 0.53, 1.2);
          transition-timing-function: cubic-bezier(0.44, 0.29, 0.53, 1.2); }
  .chat-ui input:focus {
    outline: none; }
  .chat-ui input {
    width: 75vw;
    font-size: 8vw;
    position: absolute;
    bottom: 1.5vh;
    border-radius: 0vh 10vw 10vw 0vw;
    border: none;
    left: -90vw;
    -webkit-transition: left 1s;
    transition: left 1s; }
  .chat-ui input.active {
    left: 0vw; }
  .chat-ui input.file-upload.active {
    color: white;
    font-size: 6vw;
    width: 74vw; }
  .chat-ui img {
    width: 15vw;
    position: absolute;
    bottom: 1vh;
    right: -30vw;
    -webkit-transition: right .5s;
    transition: right .5s; }
  .chat-ui img.active {
    right: 5vw; }
  .chat-ui .botMessages {
    padding-top: 5vh;
    padding-left: 5vw;
    width: 90vw;
    text-align: center; }
    .chat-ui .botMessages span {
      color: white;
      font-size: 5vw; }

body {
  margin: 0;
  padding-top: 5vh; }
