



.about-copy
  color: white
  font-size: 4.5vw
  @include desktop
    margin-top: 10vh
    font-size: 1.8vw
  @include tablet
    font-size: 3.4vw
  span
    width: 90vw
    margin-left: 5vw
    display: inline-block
    font-weight: 300
    transition: opacity 1s
    opacity: 0
    @include desktop
      width: 50vw
      margin-left: 25vw
    @include tablet
      width: 60vw
      margin-left: 20vw
    &:first-of-type
      padding-top: 12vh
      opacity: 1
      @include desktop
        padding-top: 17vh
    &:nth-of-type(2)
      padding-bottom: 14vh
      font-weight: 600
      opacity: 1
      @include desktop
        padding-bottom: 30vh
    &:nth-of-type(3)
    &:nth-of-type(4)
      font-weight: 600
      margin-bottom: 14vh
      @include desktop
        margin-bottom: 30vh
    &:nth-of-type(5)
      margin-bottom: 14vh
      @include desktop
        margin-bottom: 30vh
    &:nth-of-type(6)
      font-weight: 600
    &:nth-of-type(7)
      margin-bottom: 14vh
      @include desktop
        margin-bottom: 30vh
    &:nth-of-type(8)
      // margin-bottom: 24vh
      font-weight: 600
      @include desktop
        // padding-bottom: 22vh
    &:nth-of-type(9)
      margin-bottom: 14vh
      @include desktop
        margin-bottom: 30vh
    &:nth-of-type(10)
      font-weight: 600
      margin-bottom: 14vh
      @include desktop
        margin-bottom: 30vh
    &:nth-of-type(11)
      // font-weight: 600
    &:last-of-type
      margin-bottom: 14vh

  .aboutTitle
    h2
      font-size: 6vh
      padding-top: 17vh
      text-transform: uppercase
      text-align: center
      color: white
      font-weight: 400
      @include desktop
        padding-top: 12vh
        font-size: 3vw
        font-weight: 300
      @include tablet
        padding-top: 17vh
        font-size: 4vh

.scroll-indicator
  position: fixed
  width: 20vw
  left: 40vw
  top: 50vh
  animation: drag 1.4s infinite cubic-bezier(0.4, 0, 0.2, 1)
  @include desktop
    left: 46.5vw
    width: 7vw
    top: 70vh
@keyframes drag
  0%
    top: 70vh
  100%
    top: 77vh
