.login
  background-color: $siteGrey
  color: white
  text-align: center
  width: 84vw
  position: fixed
  left: 8vw
  height: 60vh
  top: 20vh
  font-size: 6vw
  padding-top: 5vh
  transition: transform .8s, left .8s
  @include tablet
    height: 68vh
    top: 16vh
  @include desktop
    font-size: 2vw
  p
    font-size: 2.6vw
    margin: 0vh 0vw 1vh 0vw
    padding: 0vh 0vw 0vh 0vw
    color: red
  hr
    width: 40vw
  form
    label
      display: block
      padding-top: 5vh
    input[type='text'], input[type='password']
      font-size: 6vw
      @include desktop
        font-size: 2vw
    input[type='password']
      margin-bottom: 5vh
    input[type='submit']
      display: block
      width: 30vw
      margin: 0 auto
      font-size: 6vw
      background-color: white
      margin-bottom: 7vh
      @include tablet
        margin-bottom: 3vh
      @include desktop
        font-size: 2vw
        width: 14vw
  a:last-of-type
    color: white
    font-size: 5.6vw
    @include tablet
      font-size: 3.4vw
    @include desktop
      font-size: 1.6vw

.signup
  background-color: $siteGrey
  color: white
  text-align: center
  width: 84vw
  position: fixed
  left: 8vw
  height: 80vh
  top: 8vh
  font-size: 6vw
  padding-top: 5vh
  transition: transform .8s, left .8s
  @include tablet
    height: 80vh
  @include desktop
    font-size: 2vw
  hr
    width: 40vw
  form
    label
      display: block
      padding-top: 5vh
    input[type='text'], input[type='password']
      font-size: 6vw
      @include desktop
        font-size: 2vw
    input[type='password']
      margin-bottom: 5vh
    input[type='submit']
      display: block
      width: 30vw
      margin: 0 auto
      font-size: 6vw
      background-color: white
      margin-bottom: 7vh
      @include tablet
        margin-bottom: 3vh
      @include desktop
        font-size: 2vw
        width: 14vw
  a:last-of-type
    color: white
    font-size: 5.6vw
    @include tablet
      font-size: 3.4vw
    @include desktop
      font-size: 1.6vw

.signup.rotate
  left: 128vw
  transform: rotate(-90deg)
  @include tablet
    left: 110vw
    transform: rotate(-90deg)

.login.rotate
  left: -95vw
  transform: rotate(90deg)
  @include tablet
    left: -86vw
    transform: rotate(90deg)
