$weekPadding: 7vh

.active-day
  color: #8a8a8a
  transition: color 1.3s

.msg-day
  color: $siteMain
  transition: background-color .9s

.toggle-calendar.active
  opacity: 1
  bottom: 0vh
.toggle-calendar
  border-radius: 1vh 1vh 0vh 0vh
  opacity: 0
  text-align: center
  font-size: 3.9vw
  position: fixed
  bottom: -64vh
  transition: opacity .6s, bottom .6s, height .4s
  transition-delay: bottom .4s
  background-color: $fifthMain
  color: white
  width: 100vw
  height: 57vh
  padding-bottom: 6vh
  @include desktop
    font-size: 1.9vw
  nav
    padding-bottom: 4vh
    text-align: center
    padding-top: 3vh
    .controls-month
      font-weight: 600
      line-height: 8vh
      font-size: 10vw
      margin-bottom: 3vh
      @include desktop
        font-size: 4vw
    img
      display: inline-block
      vertical-align: middle
      z-index: 2
      position: fixed
      width: 8vw
      height: 7vh
      &:first-of-type , &:last-of-type
        width: 6vw
      &:first-of-type
        left: 5vw
        @include desktop
          left: 30vw
      &:nth-of-type(2)
        left: 22vw
        @include desktop
          left: 35vw
      &:nth-of-type(3)
        right: 22vw
        @include desktop
          right: 35vw
      &:last-of-type
        right: 5vw
        @include desktop
          right: 30vw
  span
    line-height: 4.5vh
  .weekdays
    font-weight: 700
    font-size: 5vw
    @include desktop
      font-size: 3vw
    span:nth-of-type(1)
      position: fixed
      left: 5vw
      @include desktop
        left: 15vw

    span:nth-of-type(2)
      position: fixed
      left: 18.5vw
      @include desktop
        left: 25.5vw

    span:nth-of-type(3)
      position: fixed
      left: 33vw
      @include desktop
        left: 37vw

    span:nth-of-type(4)
      position: fixed
      left: 46vw
      @include desktop
        left: 48vw

    span:nth-of-type(5)
      position: fixed
      right: 33vw
      @include desktop
        right: 37vw

    span:nth-of-type(6)
      position: fixed
      right: 18.5vw
      @include desktop
        right: 25.5vw

    span:nth-of-type(7)
      position: fixed
      right: 5vw
      @include desktop
        right: 15vw

  .days
    .first
      padding-top: $weekPadding

      span:nth-of-type(1)
        position: fixed
        left: 5vw
        @include desktop
          left: 15vw

      span:nth-of-type(2)
        position: fixed
        left: 18.5vw
        @include desktop
          left: 25.5vw

      span:nth-of-type(3)
        position: fixed
        left: 33vw
        @include desktop
          left: 37vw

      span:nth-of-type(4)
        position: fixed
        left: 46vw
        padding-left: 1vw
        @include desktop
          left: 48vw

      span:nth-of-type(5)
        position: fixed
        right: 33vw
        @include desktop
          right: 37vw

      span:nth-of-type(6)
        position: fixed
        right: 18.5vw
        @include desktop
          right: 25.5vw

      span:nth-of-type(7)
        position: fixed
        right: 5vw
        @include desktop
          right: 15vw

    .second
      padding-top: $weekPadding

      span:nth-of-type(1)
        position: fixed
        left: 5vw
        @include desktop
          left: 15vw

      span:nth-of-type(2)
        position: fixed
        left: 18.5vw
        @include desktop
          left: 25.5vw

      span:nth-of-type(3)
        position: fixed
        left: 33vw
        @include desktop
          left: 37vw

      span:nth-of-type(4)
        position: fixed
        left: 46vw
        padding-left: 1vw
        @include desktop
          left: 48vw

      span:nth-of-type(5)
        position: fixed
        right: 33vw
        @include desktop
          right: 37vw

      span:nth-of-type(6)
        position: fixed
        right: 18.5vw
        @include desktop
          right: 25.5vw

      span:nth-of-type(7)
        position: fixed
        right: 5vw
        @include desktop
          right: 15vw

    .third
      padding-top: $weekPadding

      span:nth-of-type(1)
        position: fixed
        left: 5vw
        @include desktop
          left: 15vw

      span:nth-of-type(2)
        position: fixed
        left: 18.5vw
        @include desktop
          left: 25.5vw

      span:nth-of-type(3)
        position: fixed
        left: 33vw
        @include desktop
          left: 37vw

      span:nth-of-type(4)
        position: fixed
        left: 46vw
        padding-left: 1vw
        @include desktop
          left: 48vw

      span:nth-of-type(5)
        position: fixed
        right: 33vw
        @include desktop
          right: 37vw

      span:nth-of-type(6)
        position: fixed
        right: 18.5vw
        @include desktop
          right: 25.5vw

      span:nth-of-type(7)
        position: fixed
        right: 5vw
        @include desktop
          right: 15vw

    .fourth
      padding-top: $weekPadding

      span:nth-of-type(1)
        position: fixed
        left: 5vw
        @include desktop
          left: 15vw

      span:nth-of-type(2)
        position: fixed
        left: 18.5vw
        @include desktop
          left: 25.5vw

      span:nth-of-type(3)
        position: fixed
        left: 33vw
        @include desktop
          left: 37vw

      span:nth-of-type(4)
        position: fixed
        left: 46vw
        padding-left: 1vw
        @include desktop
          left: 48vw

      span:nth-of-type(5)
        position: fixed
        right: 33vw
        @include desktop
          right: 37vw

      span:nth-of-type(6)
        position: fixed
        right: 18.5vw
        @include desktop
          right: 25.5vw

      span:nth-of-type(7)
        position: fixed
        right: 5vw
        @include desktop
          right: 15vw

    .fifth
      padding-top: $weekPadding

      span:nth-of-type(1)
        position: fixed
        left: 5vw
        @include desktop
          left: 15vw

      span:nth-of-type(2)
        position: fixed
        left: 18.5vw
        @include desktop
          left: 25.5vw

      span:nth-of-type(3)
        position: fixed
        left: 33vw
        @include desktop
          left: 37vw

      span:nth-of-type(4)
        position: fixed
        left: 46vw
        padding-left: 1vw
        @include desktop
          left: 48vw

      span:nth-of-type(5)
        position: fixed
        right: 33vw
        @include desktop
          right: 37vw

      span:nth-of-type(6)
        position: fixed
        right: 18.5vw
        @include desktop
          right: 25.5vw

      span:nth-of-type(7)
        position: fixed
        right: 5vw
        @include desktop
          right: 15vw
    .sixth
      padding-top: $weekPadding

      span:nth-of-type(1)
        position: fixed
        left: 5vw
        @include desktop
          left: 15vw

      span:nth-of-type(2)
        position: fixed
        left: 18.5vw
        @include desktop
          left: 25.5vw

      span:nth-of-type(3)
        position: fixed
        left: 33vw
        @include desktop
          left: 37vw

      span:nth-of-type(4)
        position: fixed
        left: 46vw
        padding-left: 1vw
        @include desktop
          left: 48vw

      span:nth-of-type(5)
        position: fixed
        right: 33vw
        @include desktop
          right: 37vw

      span:nth-of-type(6)
        position: fixed
        right: 18.5vw
        @include desktop
          right: 25.5vw

      span:nth-of-type(7)
        position: fixed
        right: 5vw
        @include desktop
          right: 15vw
