$weekPadding: 7vh

.active-day
  color: $secondMain
  transition: color 1.3s

.msg-day
  color: $thirdMain
  border-radius: 16px
  padding: 0.3vh
  width: 4vh
  height: 4vh
  transition: background-color .9s

.toggle-calendar.active
  opacity: 1
  bottom: 0vh
.toggle-calendar
  border-radius: 1vh
  opacity: 0
  text-align: center
  font-size: 3.9vw
  position: fixed
  bottom: -64vh
  transition: opacity .6s, bottom .6s
  transition-delay: bottom .4s
  background-color: $fifthMain
  color: white
  width: 100vw
  height: 58vh
  padding-bottom: 6vh
  nav
    padding-bottom: 3vh
    text-align: center
    padding-top: 3vh
    .controls-month
      font-weight: 100
      line-height: 10vh
      font-size: 10vw
      margin-bottom: 3vh
    img
      z-index: 2
      position: fixed
      width: 10vw
  span
    line-height: 4.5vh
  .weekdays
    font-weight: 500
    font-size: 5vw
    span:nth-of-type(1)
      position: fixed
      left: 5vw

    span:nth-of-type(2)
      position: fixed
      left: 18.5vw

    span:nth-of-type(3)
      position: fixed
      left: 33vw

    span:nth-of-type(4)
      position: fixed
      left: 46vw

    span:nth-of-type(5)
      position: fixed
      right: 33vw

    span:nth-of-type(6)
      position: fixed
      right: 18.5vw

    span:nth-of-type(7)
      position: fixed
      right: 5vw

  .days
    .first
      padding-top: $weekPadding

      span:nth-of-type(1)
        position: fixed
        left: 5vw

      span:nth-of-type(2)
        position: fixed
        left: 18.5vw

      span:nth-of-type(3)
        position: fixed
        left: 33vw

      span:nth-of-type(4)
        position: fixed
        left: 46vw
        padding-left: 1vw

      span:nth-of-type(5)
        position: fixed
        right: 33vw

      span:nth-of-type(6)
        position: fixed
        right: 18.5vw

      span:nth-of-type(7)
        position: fixed
        right: 5vw

    .second
      padding-top: $weekPadding

      span:nth-of-type(1)
        position: fixed
        left: 5vw

      span:nth-of-type(2)
        position: fixed
        left: 18.5vw

      span:nth-of-type(3)
        position: fixed
        left: 33vw

      span:nth-of-type(4)
        position: fixed
        left: 46vw
        padding-left: 1vw

      span:nth-of-type(5)
        position: fixed
        right: 33vw

      span:nth-of-type(6)
        position: fixed
        right: 18.5vw

      span:nth-of-type(7)
        position: fixed
        right: 5vw

    .third
      padding-top: $weekPadding

      span:nth-of-type(1)
        position: fixed
        left: 5vw

      span:nth-of-type(2)
        position: fixed
        left: 18.5vw

      span:nth-of-type(3)
        position: fixed
        left: 33vw

      span:nth-of-type(4)
        position: fixed
        left: 46vw
        padding-left: 1vw

      span:nth-of-type(5)
        position: fixed
        right: 33vw

      span:nth-of-type(6)
        position: fixed
        right: 18.5vw

      span:nth-of-type(7)
        position: fixed
        right: 5vw

    .fourth
      padding-top: $weekPadding

      span:nth-of-type(1)
        position: fixed
        left: 5vw

      span:nth-of-type(2)
        position: fixed
        left: 18.5vw

      span:nth-of-type(3)
        position: fixed
        left: 33vw

      span:nth-of-type(4)
        position: fixed
        left: 46vw
        padding-left: 1vw

      span:nth-of-type(5)
        position: fixed
        right: 33vw

      span:nth-of-type(6)
        position: fixed
        right: 18.5vw

      span:nth-of-type(7)
        position: fixed
        right: 5vw

    .fifth
      padding-top: $weekPadding

      span:nth-of-type(1)
        position: fixed
        left: 5vw

      span:nth-of-type(2)
        position: fixed
        left: 18.5vw

      span:nth-of-type(3)
        position: fixed
        left: 33vw

      span:nth-of-type(4)
        position: fixed
        left: 46vw
        padding-left: 1vw

      span:nth-of-type(5)
        position: fixed
        right: 33vw

      span:nth-of-type(6)
        position: fixed
        right: 18.5vw

      span:nth-of-type(7)
        position: fixed
        right: 5vw
    .sixth
      padding-top: $weekPadding

      span:nth-of-type(1)
        position: fixed
        left: 5vw

      span:nth-of-type(2)
        position: fixed
        left: 18.5vw

      span:nth-of-type(3)
        position: fixed
        left: 33vw

      span:nth-of-type(4)
        position: fixed
        left: 46vw
        padding-left: 1vw

      span:nth-of-type(5)
        position: fixed
        right: 33vw

      span:nth-of-type(6)
        position: fixed
        right: 18.5vw

      span:nth-of-type(7)
        position: fixed
        right: 5vw
