.card
  width: 60vw
  box-shadow: 0vw 0vh 1vh 0vh rgba(0, 0, 0, 0.75)
  margin-left: 20vw
  border-radius: 2vw
  margin-bottom: 6vh
  @include desktop
    width: 30vw
    margin-left: 35vw
  .card-top
    background-color: $siteMain
    color: white
    font-size: 4vw
    padding-top: 3vh
    padding-bottom: 2vh
    font-weight: 300
    border-radius: 2vw 2vw 0vw 0vw
    padding-left: 5vw
    @include desktop
      font-size: 1.3vw
      padding-left: 2vw
  .card-middle
    text-align: center
    background-color: white
    img
      width: 60vw
      @include desktop
        width: 30vw
    p
      font-size: 4.2vw
      max-width: 60vw
      @include desktop
        font-size: 2vw
  .card-bottom
    width: 60vw
    background-color: white
    border-radius: 0vw 0vw 2vw 2vw
    padding-bottom: 1vh
    padding-top: 0.7vh
    position: relative
    @include desktop
      width: 30vw
      height: 5vh
      display: flex
    span
      vertical-align: middle
      font-weight: 300
      font-size: 4vw
      color: $siteMain
      padding-left: 2vw
      @include desktop
        font-size: 1.2vw
        line-height: 5.1vh
        padding-left: 1vw
    img
      &:first-of-type
        width: 6vw
        vertical-align: middle
        padding-left: 2vw
        @include desktop
          width: 2vw
      &:last-of-type
        cursor: pointer
        width: 6vw
        vertical-align: middle
        position: absolute
        right: 2vw
        @include desktop
          width: 2.2vw

.are-you-sure
  z-index: 3
  position: fixed
  background-color: $siteMain
  text-align: center
  width: 90vw
  margin-left: 5vw
  margin-top: 30vh
  padding-bottom: 5vh
  border-radius: 2vh
  box-shadow: 0vw 0.2vh 0.6vh 0vh rgba(0, 0, 0, 0.35)
  @include desktop
    width: 60vw
    margin-left: 20vw
  p
    color: white
    font-size: 9vw
    font-weight: 100
    @include desktop
      font-size: 5vw
  button
    width: 28vw
    height: 7vh
    border-radius: 1vh
    border: none
    font-size: 5vw
    color: white
    margin: 0
    box-shadow: 0vw 0.2vh 0.6vh 0vh rgba(0, 0, 0, 0.35)
    font-weight: 300
    @include desktop
      font-size: 2vw
      width: 14vw
    &:first-of-type
      background-color: $siteGreen
      margin-right: 5vw
    &:last-of-type
      background-color: $siteRed
