$siteGrey: #474747
$siteMain: #150958
$bodyBackground: #E0E0E0
$siteGreen: #70B51F
$siteRed: #D0021B
$secondMain: #869ECC
$thirdMain: #5772AC
$fourthMain: #224389
$fifthMain: #00AEEF

//  grey color
// #7d7d7d  -- too dark
// #c1c1c1  -- ok
// #a4a4a4  -- darker than above, maybe too dark



// Used for pricing table and cards
// #c7c7c7  --  medium grey, muted close to body background
