.customize-content
  color: #150958
  text-shadow: 0px 0px 60px white
  span
    display: block
    width: 70vw
    margin-left: 15vw
    text-align: center
    margin-bottom: 2vh
    font-size: 5.4vw
    font-weight: 400
    &:first-of-type
      padding-top: 18vh
    &:last-of-type
      margin-bottom: 6vh
  p
    width: 90vw
    margin-left: 5vw
    font-size: 4.6vw
    font-weight: 300
    margin-bottom: 5vh
