footer
  position: fixed
  width: 100vw
  background-color: $siteMain
  bottom: 0
  font-size: 6vw
  padding-top: 4vh
  padding-bottom: 4vh
  color: white
  display: flex
  justify-content: center
  align-items: center
  transition: bottom 1s
  height: 5vh
  img
    &:first-of-type
      width: 12vw
      @include desktop
        width: 7vw
    &:nth-of-type(2)
      padding-left: 20vw
      padding-right: 20vw
      width: 15vw
      @include desktop
        width: 5vw
      @include tablet
        width: 12vw
    &:last-of-type
      width: 12vw
      opacity: 0
      @include desktop
        width: 7vw

.main-calendar
  font-size: 15vw

nav
  text-align: center
  padding-top: 5vh

  img
    z-index: 2
    position: fixed
    width: 4vw

    +tablet
      &:first-of-type
        left: 20vw

      &:last-of-type
        right: 20vw


    &:first-of-type
      left: 10vw

    &:last-of-type
      right: 10vw

.todays-msgs
  font-size: 6vw
  transition: opacity .7s
  padding-top: 20vh
  padding-bottom: 25vh
  opacity: 1
  min-height: 100vh
  hr
    width: 75vw
    margin-bottom: 8vw
    background-color: $thirdMain
    border: #cccccc 0.1vh solid
    border-radius: 10vw
    @include desktop
      width: 45vw
      margin-bottom: 3vw
.todays-msgs.inactive
  opacity: 0
  display: none

.submenu
  div
    position: fixed
    height: 10vh
    width: 50vw
    background-color: $thirdMain
    line-height: 10vh
    text-align: center
    color: white
    font-size: 4.6vw
    font-weight: 300
    @include desktop
      font-size: 2vw
    &:first-of-type
      bottom: 10vh
      left: 0vw
      transition: bottom 1s
    &:nth-of-type(2)
      bottom: 10vh
      right: 0vw
      transition: bottom 1s
    &:nth-of-type(3)
      bottom: 0vh
      left: 0vw
      transition: bottom 1s
    &:nth-of-type(4)
      bottom: 0vh
      right: 0vw
      transition: bottom 1s
.submenu.inactive
  div
    &:nth-child(1)
      bottom: -15vh
    &:nth-child(2)
      bottom: -15vh
    &:nth-child(3)
      bottom: -20vh
    &:nth-child(4)
      bottom: -20vh

.hide
  display: none

header
  background-color: $siteMain
  height: 9vh
  color: white
  vertical-align: middle
  padding-left: 5vw
  padding-top: 4vh
  font-weight: 300
  z-index: 1
  position: fixed
  width: 100vw
  top: 0
  span:first-of-type
      img
        width: 8vw
        vertical-align: middle
        margin-right: 3vw
        vertical-align: bottom
        @include desktop
          width: 3vw

  .go-to-today
    line-height: 5vh
    position: fixed
    right: 5vw
    font-weight: 500
    transition: color .5s
    @include desktop
      font-size: 2vw
    @include tablet
      font-size: 3vw

.header-month, .header-date
  @include desktop
    font-size: 2vw
  @include tablet
    font-size: 4vw

.loading
  opacity: 0
  display: none
  text-align: center
  position: fixed
  top: 0
  background-color: black
  opacity: 0.7
  height: 100vh
  width: 100vw
  img
    height: 20vh
    margin-top: 40vh
    animation: rotate 1.9s linear infinite


@keyframes rotate
  from
    transform: rotate(0deg)
  50%
    height: 15vh
    margin-top: 42.5vh
  to
    transform: rotate(360deg)

.send-now
  border: 0.2vw solid #150958
  font-size: 5vw
  padding-top: 1.5vh
  padding-bottom: 1.5vh
  border-radius: 5vw
  color: #150958
  font-weight: 300
  transition: background-color 1s, color 1s, border 3s
  @include desktop
    width: 24vw
    font-size: 2vw
    text-align: center
    margin-left: 28vw
    border: 0.1vw solid #150958
.send-now.selected
  background-color: #869ECC
  font-weight: 100
  color: white
  border: none

.new-user-icon
  width: 5vw !important
  margin-left: 3vw
