.groups.hide
  opacity: 0
  // transition: opacity 1s
  top: -107vh
.groups
  opacity: 1
  transition: opacity 1s
  width: 100vw
  background-color: white
  position: absolute
  top: 0
  z-index: 2
  min-height: 105vh
  .header
    text-align: center
    padding-bottom: 4vh
    img
      position: absolute
      left: 6vw
      top: 3vh
      width: 10vw
      display: inline-block
    p
      display: inline-block
      line-height: 0vh
      font-size: 10vw
  .list, .new
    background-color: $siteGrey
    color: white
    width: 84vw
    font-size: 6vw
    border-radius: 4vw
  .list
    opacity: 1
    left: 8vw
    transition: opacity .8s
    padding-top: 5vh
    margin-left: 8vw
    text-align: center
    padding-bottom: 2vh
    div
      border: 1vw dotted
      width: 50vw
      border-radius: 5vw
      padding: 3vw
      margin-left: 12.5vw
  .list.hide
    opacity: 0
    left: -100vw
    position: fixed
    left: -102vw
  .new.hide
    position: initial
    height: 40vh
    bottom: -44vh
    opacity: 0
    transition: opacity 1.1s
  .new
    bottom: 0
    margin-left: 8vw
    transition: opacity 1.1s
    transition-delay: .3s
    opacity: 1
    margin-bottom: 6vh
    input
      width: 77.5vw
      left: 0
      top: 0
      font-size: 5.7vw
      height: 7vh
      border-radius: 4vw 4vw 0vw 0vw
      padding-left: 5vw
      margin-bottom: 1vh
    button
      width: 84vw
      height: 10vh
      border: none
      border-radius: 0vw 0vw 4vw 4vw
      font-size: 7vw
      box-shadow: none
      color: white
      background-color: green
      margin: 0
    .names
      margin-top: 3.5vh
      div.selected
        background-color: lightgrey
      div
        margin-bottom: 3.5vh
        padding-left: 5vw
        padding-bottom: 1vh
        padding-top: 1vh
        transition: background-color .5s
        img
          width: 10vw
          vertical-align: middle
        p
          display: inline
          vertical-align: middle
          padding-left: 4vw
