.landing
  color: $siteGrey
  background-size: cover
  background-position-x: center
  .logo
    width: 70vw
    margin-left: 15vw
    margin-top: 17vh
    filter: drop-shadow(black 0px 0px 15px)
    @include desktop
      margin-top: 24vh
      width: 28vw
      margin-left: 36vw
  a
    display: inline-block
    text-decoration: none
    width: 80vw
    margin-left: 10vw
    text-align: center
    background-color: rgba(21, 9, 88, 0)
    padding-top: 2vh
    padding-bottom: 2vh
    border-radius: 2vw
    border: 0.5vw solid $fifthMain
    margin-bottom: 14vh
    @include desktop
      width: 28vw
      margin-left: 36vw
      border: 0.3vw solid $siteMain !important
      border-radius: 1.1vw
    img
      width: 4vw
      margin-right: 4vw
      vertical-align: middle
      @include desktop
        width: 1.4vw
        margin-right: 2vw
    span
      vertical-align: middle
      color: $siteMain
      font-weight: 300
      font-size: 4.5vw
      color: white
      @include desktop
        font-size: 1.3vw
        font-weight: 400
  .soon
    font-size: 4vw
    color: white
    padding-top: 0vh
    margin-top: 0
    padding-left: 51vw
    padding-bottom: 15vh
    display: inline-block
    @include desktop
      padding-left: 51.3vw
      font-size: 1.7vw
    @include tablet
      font-size: 3.1vw
      padding-left: 53.6vw

.social
  padding-top: 4vh
  position: top
  max-width: auto
  text-align: center
  @include desktop
    height: 12vh
  .socialIcons
    display: inline
    width: 12vw
    vertical-align: middle
    @include desktop
      width: 5vw
      padding-bottom: 0
    &:first-of-type
      width: 17vw
      margin-right: 10vw
      animation: pulse 1.4s infinite ease-in-out
      @include desktop
        width: 7vw
        margin-right: 7vw

  .chevron
    width: 15vw
    padding-top: 4vh
    margin-left: 42.5vw
    margin-top: 7vh
    @include desktop
      width: 8vw
      padding-top: 2vh
      padding-bottom: 3vh


input[type="submit"]
  text-decoration: none
  color: white
  font-size: 1em
  border-radius: 1vh
  background-color: $siteMain
  position: center
  font-weight: 400
  cursor: pointer
  padding: 2vh 3vw
  margin: 9vh 0vh 0vw 0vw
  @include desktop
    padding: 2vh 3vw
    margin: 2vh 0vw

.subtitle
  margin: 10vh 0 10vh 20vw
  width: 60vw
  font-size: 6vw
  font-weight: 400
  color: white
  text-align: center
  text-shadow: black 0px 0px 60px
  @include desktop
    margin-left: 35vw
    width: 30vw
    font-size: 1.9vw
  @include tablet
     font-size: 4.6vw

// not in use
// .market
//   height: 100vh
//   @include desktop
//     padding-bottom: 15vh
//
//   p
//     font-weight: 200
//     font-size: 6vw
//     color: $siteMain
//     float: right
//     text-align: right
//     width: 70vw
//     padding-right: 7vw
//     @include desktop
//       font-size: 4vh
//       width: 55vw
//       font-weight: 300

@keyframes pulse
  0%
    filter: drop-shadow(white 0px 0px 5px)
  25%
    filter: drop-shadow(white 0px 0px 15px)
  100%
    filter: drop-shadow(white 0px 0px 5px)

.grey
  width: 46vw
  display: inline-block
  margin-left: 38vw
  background-color: black

.blue
  color: white
  padding-top: 10vh
  padding-bottom: 10vh
  @include desktop
    padding-bottom: 20vh
  @include tablet
    height: 435vh
  .h3
    display: block
    text-align: center
    margin-bottom: 3vh
    font-size: 6vw
    font-weight: 700
    padding-top: 7vh
    @include desktop
      font-size: 2.5vw
      font-weight: 700
      padding-top: 5vh
    @include tablet
      font-size: 5.2vw
  .h5
    font-size: 4.9vw
    font-weight: 400
    color: white
    text-align: center
    width: 80vw
    display: block
    margin-left: 10vw
    padding-bottom: 10vh
    @include desktop
      font-size: 1.7vw
      width: 70vw
      margin-left: 15vw
    @include tablet
      font-size: 3.9vw
  .three-phones
    padding-top: 15vh
    position: relative
    @include desktop
      padding-top: 15vh
      width: 76vw
      margin-left: 12vw
    .device
      width: 56vw
      margin-left: 5vw
      position: absolute
      transform: rotate(-90deg)
      @include desktop
        width: 31vw
    .device.right
      right: -6vw
      top: 23vh
      @include desktop
        top: 29vh
      @include tablet
        top: 26vh
    .device.left
      left: -11vw
      top: 60vh
      @include tablet
        top: 70vh
      @include desktop
        top: 91vh
    .content-holder.left
      text-align: right
      @include desktop
        margin-right: 25vw
      span
        &:last-of-type
          padding-left: 20vw
          @include tablet
            padding-left: 0
    .content-holder.right
      margin-left: 45vw
      padding-top: 24vh
      text-align: left
      float: none
      // display: block
      @include desktop
        margin-left: 25vw
      @include tablet
        padding-top: 34vh
      span
        &:first-of-type
          @include tablet
            padding-top: 8vh
        &:last-of-type
          display: block
          @include desktop
            padding-right: 20vw

    .content-holder
      display: inline-block
      width: 50vw
      vertical-align: top
      margin-left: 5vw
      padding-top: 0
      @include desktop
        margin-left: 0vw
      span
        &:first-of-type
          margin-bottom: 5.5vh
          font-weight: 600
          display: block
          font-size: 6vw
          padding-top: 2vh
          @include desktop
            font-size: 2vw
            margin-bottom: 2vh
            padding-top: 5vh
          @include tablet
            font-size: 4.5vw
            margin-bottom: 2vh
            padding-top: 5vh
        &:last-of-type
          font-weight: 300
          font-size: 4.2vw
          @include desktop
            font-size: 1.65vw
          @include tablet
            font-size: 3.5vw
            margin-bottom: 2vh


  .why
    margin-top: 6vh
    font-size: 6.8vw
    font-weight: 600
    width: 63vw
    margin-left: 18.5vw
    text-align: center
    display: block
    @include desktop
      font-size: 3vw
  .because
    text-align: center
    display: block
    font-size: 6vw
    font-weight: 300
    @include desktop
      font-size: 3vw
  .stats
    margin-bottom: 0vh
    padding-top: 15vh
    &:last-of-type
      padding-bottom: 10vh
    @include desktop
      padding-top: 18vh
    @include tablet
      height: 0
      padding-top: 21vh
    span
      &:first-of-type
        line-height: 8vh
        position: absolute
        left: 17vw
        font-size: 12vw
        font-weight: 500
        @include desktop
          left: 24vw
          font-size: 4vw
          padding-left: 7vw
          line-height: 8vh
      &:last-of-type
        width: 44vw
        display: inline-block
        position: absolute
        right: 10vw
        font-weight: 300
        @include desktop
          right: 14vw
          padding-top: 1.5vh
        @include tablet
          font-weight: 300
          font-size: 3vw
  .stats.first
    height: 10vh
    @include desktop
      height: 0vh
      padding-top: 9vh
    @include tablet
      padding-top: 10vh
      height: 0
  .stats.second
    height: 20vh
    @include desktop
      height: 0vh
    @include tablet
      height: 0
    span
      &:first-of-type
        padding-left: 5vw
        @include desktop
          padding-left: 8.5vw
  .stats.third
    height: 23vh
    @include desktop
      height: 0vh
    @include tablet
      height: 0
    span
      &:first-of-type
        padding-left: 2vw
        @include desktop
          padding-left: 7vw

.features
  background-size: cover
  background-position: center
  background-attachment: fixed
  @include desktop
    // padding-bottom: 10vh
  @include tablet
    padding-bottom: 0
  span:first-of-type
    padding: 10vh 0 0 0
    text-align: center
    margin-bottom: 1vh
    font-weight: 600
    font-size: 8vw
    display: block
    @include desktop
      font-size: 3.5vw
      padding: 10vh 0 0vh 0
      text-align: center
  h5
    font-size: 5vw
    font-weight: 300
    text-align: left
    width: 90vw
    padding: 0 0 9vh 0
    margin-top: 0
    text-align: center
    margin-left: 5vw
    @include desktop
      font-size: 2.125vw
      font-weight: 400
      padding: 0 0vw 7vh 0
      text-align: center
    @include tablet
      font-size: 4.5vw
      padding: 0 0 10vh 0
  h6
    font-weight: 500
    font-size: 5vw
    margin: 0
    padding-bottom: .75vh
    @include desktop
      font-size: 2vw
      margin: 5vh 0 0 5vw
      text-align: center
    @include tablet
      font-size: 4vw
  p
    font-weight: 300
    font-size: 4.2vw
    margin: 0
    @include desktop
      font-size: 1.5vw
      font-weight: 100
      margin: 1vh 0 3vh 0
    @include tablet
      font-size: 3vw
      font-weight: 100

.circles
  div
    display: inline-block
    margin-bottom: 10vh
    margin-right: 5vw
    text-align: center
    @include desktop
      margin-bottom: 0vh
      margin-left: 0
      margin-right: 0
.featureItem
  width: 100vw
  margin-left: 0
  margin-right: 0
  text-align: center
  h6
    width: 100vw
    margin-left: 0
    margin-right: 0
  p
    width: 70vw
    margin-left: 15vw
    @include desktop
      width: 50vw
      margin-left: 25vw

.multiple-mobile-wrapper
  height: 110% !important

.gif1
  transform: rotate(-90deg)
  position: absolute
  right: -6.9vw
  width: 57.2vw
  margin-top: 11.2vh
  @include desktop
    right: 8vw
    width: 24.6vw
    margin-top: 15.9vh
  @include tablet
    right: -6.5vw
    margin-top: 14.9vh
.gif2
  transform: rotate(-90deg)
  position: absolute
  left: -6.1vw
  width: 57.2vw
  margin-top: 11.2vh
  @include desktop
    width: 24.6vw
    margin-top: 15.8vh
    left: 12.2vw
  @include tablet
    left: -6.1vw
    margin-top: 14.9vh

.steps
  padding-top: 24vh
  padding-bottom: 15vh
  @include desktop
    padding-top: 24vh
    padding-bottom: 15vh
    width: 80vw
    margin-left: 10vw
    text-align: center
  p
    font-size: 7vw
    text-align: center
    margin-top: 12vh
    font-weight: 600
    @include desktop
      font-size: 2.5vw
      margin-top: 32vh
  .a-step
    margin-bottom: 10vh
    width: 50vw
    display: inline-block
    margin-left: 25vw
    text-align: center
    @include desktop
      width: 13vw
      display: inline-block
      text-align: center
      margin-right: 6vw
      margin-left: 6vw
      vertical-align: top
    img
      width: 18vw
      @include desktop
        width: 4.4vw
    span
      display: block
      &:first-of-type
        font-weight: 600
        font-size: 6vw
        margin-top: 2vh
        @include desktop
          font-size: 1.9vw
      &:last-of-type
        font-weight: 300
        font-size: 4vw
        @include desktop
          font-size: 1.2vw

.grad
  background-color: #150958

.spacer
  @include desktop
    padding-top: 54vh !important
