.landing
  color: $siteGrey
  // height: 200vh
  // background-repeat: no-repeat
  // background-attachment: fixed
  // background-image: url('/imgs/biz-photos/7-mobile.png')
  background-size: cover
  background-position-x: center
  @include desktop
    height: 140vh
  .logo
    width: 70vw
    margin-left: 15vw
    margin-top: 17vh
    filter: drop-shadow(black 0px 0px 15px)
    @include desktop
      margin-top: 24vh
      width: 28vw
      margin-left: 36vw
  a
    display: inline-block
    text-decoration: none
    width: 80vw
    margin-left: 10vw
    text-align: center
    background-color: rgba(21, 9, 88, 0)
    padding-top: 2vh
    padding-bottom: 2vh
    border-radius: 2vw
    border: 0.5vw solid $siteMain
    margin-bottom: 14vh
    @include desktop
      width: 20%
      margin-left: 40%
      border: 0.3vw solid $siteMain !important
      border-radius: 1.1vw
    img
      width: 4vw
      margin-right: 4vw
      vertical-align: middle
      @include desktop
        width: 1.4vw
        margin-right: 2vw
    span
      vertical-align: middle
      color: $siteMain
      font-weight: 300
      font-size: 4.5vw
      color: white
      @include desktop
        font-size: 1.3vw
        font-weight: 400
  .soon
    font-size: 4vw
    color: white
    padding-top: 0vh
    margin-top: 0
    padding-left: 51vw
    @include desktop
      padding-left: 53vw
      font-size: 1.3vw
    @include tablet
      font-size: 3.1vw
      padding-left: 53.6vw
  h3
    font-size: 6.5vw
    font-weight: 700
    color: white
    text-align: left
    width: 80vw
    padding: 10vh 0vw 5vh 5vw
    @include desktop
      font-size: 2.2vw
      width: 40vw
      padding: 10vh 0vw 5vh 15vw
    @include tablet
      font-size: 5.2vw
  .h5
    font-size: 6.5vw
    font-weight: 400
    color: white
    text-align: right
    width: 80vw
    padding: 0vh 0vw 12vh 15vw
    display: block
    @include desktop
      font-size: 2.2vw
      width: 60vw
      padding: 0vh 0vw 2vh 30vw
    @include tablet
      font-size: 5.2vw

//   @include desktop
//     font-size: 1.2vw
//     padding-right: 39vw

.social
  padding-top: 6vh
  position: top
  max-width: auto
  text-align: center
  @include desktop
    height: 12vh
  .socialIcons
    display: inline
    width: 12vw
    vertical-align: middle
    @include desktop
      width: 5vw
      padding-bottom: 0
    &:first-of-type
      width: 17vw
      margin-right: 10vw
      animation: pulse 1.4s infinite ease-in-out
      @include desktop
        width: 7vw
        margin-right: 7vw
  //may not be in use
  // .chevron
  //   width: 15vw
  //   padding-top: 4vh
  //   margin-left: 42.5vw
  //   margin-top: 7vh
  //   @include desktop
  //     width: 8vw
  //     padding-top: 2vh
  //     padding-bottom: 3vh


input[type="submit"]
  text-decoration: none
  color: white
  font-size: 1em
  border-radius: 1vh
  background-color: $siteMain
  position: center
  font-weight: 400
  cursor: pointer
  padding: 2vh 3vw
  margin: 9vh 0vh 0vw 0vw
  @include desktop
    padding: 2vh 3vw
    margin: 2vh 0vw

.subtitle
  margin: 10vh 0 10vh 0vw
  width: 100%
  font-weight: 400
  color: white
  text-align: center
  text-shadow: black 0px 0px 60px
  padding: 0
  @include desktop
    font-size: 1.9vw
  @include tablet
     font-size: 4.6vw

.market
  height: 100vh
  @include desktop
    padding-bottom: 15vh


@keyframes pulse
  0%
    filter: drop-shadow(white 0px 0px 5px)
  25%
    filter: drop-shadow(white 0px 0px 15px)
  100%
    filter: drop-shadow(white 0px 0px 5px)



// may not be in use
.grey
  width: 46vw
  display: inline-block
  margin-left: 38vw
  background-color: black

.blue
  color: white
  // height: 384vh
  // padding-bottom: 10vh
  @include desktop
    height: auto
  @include tablet
    height: 397vh
  .three-phones
    padding-top: 15vh
    @include desktop
      padding-top: 15vh
      width: 76vw
      margin-left: 12vw
    .device
      width: 35vw
      display: inline-block
      margin-left: 5vw
      @include desktop
        width: 15vw
    .content-holder.right
      text-align: right
    .content-holder
      display: inline-block
      width: 50vw
      vertical-align: top
      margin-left: 5vw
      padding-top: 0
      span
        &:first-of-type
          margin-bottom: 6vh
          font-weight: 700
          display: block
          font-size: 6vw
          @include desktop
            font-size: 2.125vw
            margin-bottom: 2vh
        &:last-of-type
          font-weight: 400
          font-size: 4.2vw
          @include desktop
            font-size: 1.5vw

    .content-holder.top
      @include desktop
        padding: 15vh 0 30vh 0
        width: 70vw
        margin: 0
        // color: white
        // padding-top: 7vh
        // width: 76vw
        // margin-left: 12vw
        span
          &:first-of-type
            // margin-bottom: 6vh
            // font-weight: 700
            // display: block
            // font-size: 6vw
            @include desktop
              font-size: 3vw
              // margin-bottom: 2vh
          &:last-of-type
            font-weight: 400
            font-size: 4.2vw
            @include desktop
              font-size: 1.75vw


  .why
    margin-top: 15vh
    font-size: 6.8vw
    font-weight: 600
    width: 63vw
    margin-left: 18.5vw
    text-align: center
    display: block
    @include desktop
      font-size: 3vw
      display: inline-block
      width: 100%
      margin-left: 0
  .because
    text-align: center
    display: block
    font-size: 6vw
    font-weight: 300
    @include desktop
      font-size: 2.25vw
  .stats
    margin-bottom: 0vh
    padding-top: 15vh
    &:last-of-type
      padding-bottom: 10vh
    @include desktop
      padding-top: 18vh
    @include tablet
      height: 0
      padding-top: 21vh
    span
      &:first-of-type
        line-height: 8vh
        position: absolute
        left: 14vw
        font-size: 17vw
        font-weight: 300
        @include desktop
          left: 24vw
          font-size: 5vw
      &:last-of-type
        width: 44vw
        display: inline-block
        position: absolute
        right: 8vw
        font-weight: 600
        @include desktop
          right: 14vw
        @include tablet
          font-weight: 300
          font-size: 1.125vw

  .stats.first
    height: 10vh
    @include desktop
      height: 0vh
      padding-top: 9vh
    @include tablet
      padding-top: 10vh
      height: 0
  .stats.second
    height: 20vh
    @include desktop
      height: 0vh
    @include tablet
      height: 0
  .stats.third
    height: 23vh
    @include desktop
      height: 20vh
    @include tablet
      height: 0

.features
  background-image: url('/imgs/nature-photos/10-mobile.jpg')
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  height: 100%
  // width: 100%
  background-position: center
  background-attachment: fixed
  background-repeat: no-repeat
  // position: fixed
  @include desktop
    background-attachment: fixed
    background: url('/imgs/nature-photos/10-mobile.jpg')  no-repeat center fixed
    background-size: cover
  span:first-of-type
    padding: 15vh 2vw 2vh 5vw
    margin-bottom: 1vh
    font-weight: 500
    font-size: 8vw
    color: $siteMain
    display: block
    @include desktop
      font-size: 2.75vw
      font-weight: 600
  h5
    font-size: 5vw
    font-weight: 400
    color: $siteMain
    text-align: left
    width: 80vw
    padding: 0vh 0vw 2vh 5vw
    margin: 0 0 2.5vh 0
    @include desktop
      font-size: 2.125vw
      padding-bottom: 10vh
  h6
    color: $siteMain
    font-weight: 700
    font-size: 4.2vw
    margin: 0
    @include desktop
      font-size: 1.75vw
      margin: 5vh 0 0 5vw
  p
    font-weight: 300
    font-size: 5vw
    color: #150958
    width: 60vw
    margin: 0
    @include desktop
      font-size: 1.5vw
      font-weight: 100
      margin: .5vh 0 8vh 5vw
      width: 55vw

.circles
  div
    display: inline-block
    margin-bottom: 10vh
    margin-left: 5vw
    margin-right: 5vw
    @include desktop
      margin-bottom: 0vh
  img
    width: 24vw
    vertical-align: top

.multiple-mobile-wrapper
  height: 110% !important

.gif1
  transform: rotate(-90deg)
  position: absolute
  right: -6.9vw
  width: 57.2vw
  margin-top: 11.2vh
  @include desktop
    right: 8vw
    width: 24.6vw
    margin-top: 15.9vh
  @include tablet
    right: -6.5vw
    margin-top: 14.9vh
.gif2
  transform: rotate(-90deg)
  position: absolute
  left: -6.1vw
  width: 57.2vw
  margin-top: 11.2vh
  @include desktop
    width: 24.6vw
    margin-top: 15.8vh
    left: 12.2vw
  @include tablet
    left: -6.1vw
    margin-top: 14.9vh

.steps
  p
    font-size: 6vw
    text-align: center
    margin-top: 30vh
    font-weight: 600
    @include desktop
      font-size: 3vw
      padding-top: 15vh
  .stepOne
    width: 33%
    float: left
    margin-left: .5%
    margin-bottom: 25vh
  .stepTwo
    width: 33%
    float: left
    margin-bottom: 25vh
  .stepThree
    width: 33%
    float: right
    margin-right: .5%
    margin-bottom: 25vh
  .a-step
    margin-bottom: 10vh
    // width: 50vw
    display: inline-block
    // margin-left: 25vw
    text-align: center
    &:first-of-type
      margin-top: 2vh
    img
      width: 18vw
      @include desktop
        width: 25%
    span
      display: block
      &:first-of-type
        font-weight: 700
        font-size: 7vw
        margin-top: 2vh
        @include desktop
          font-size: 1.75vw
          margin: 4vh 0 1vh 0
      &:last-of-type
        font-weight: 300
        font-size: 4vw
        @include desktop
          font-size: 1.25vw
          padding: 0 12.5% 0 12.5%

.grad
  background-color: #150958


.text
  height: 20vh
  color: white
  background-attachment: scroll
