.onboarding
  margin-top: 20vh
  text-align: center
  div
    width: 80vw
    margin-left: 10vw
    background-color: $siteMain
    color: white
    border-radius: 0vw 0vw 3vw 3vw
    img
      width: 10vw
      padding-top: 3vh
    p:first-of-type
      font-size: 8vw
      font-weight: 400
    p:last-of-type
      padding-left: 8vw
      padding-right: 8vw
      font-size: 5.5vw
      padding-bottom: 7vh
      font-weight: 100
    button
      position: relative
      color: blue
      font-size: 6vw
      width: 80vw
      bottom: 0
      background-color: white
      border: none
      padding-top: 2vh
      padding-bottom: 2vh
      border-radius: 0vw 0vw 3vw 3vw
