.pages
  text-align: center
  font-size: 7vw
  .pageList
    min-height: 55vh
    width: 84vw
    font-size: 6vw
    background-color: grey
    margin-left: 8vw
    padding-top: 4vh
    color: white
    a
      padding-bottom: 4vh
      display: inline-block
