.quick-view-header
  text-align: center
  width: 100vw
  top: 5vh
  z-index: 3
  position: absolute
  color: white
  font-size: 8vw
  img
    &:first-of-type
      vertical-align: middle
      width: 8vw
      position: absolute
      left: 5vw
      top: -2vh
    &:last-of-type
      vertical-align: middle
      width: 13vw
      z-index: 3
      margin-right: 3vw
  span
    vertical-align: middle
    font-weight: 300

.new-users
  position: absolute
  z-index: 4
  margin-top: 2vh
  font-size: 6vw
  color: white
  text-align: center
  width: 100vw
  span
    &:first-of-type
      font-weight: 700
      font-size: 5vw
    &:last-of-type
      font-weight: 300

.next-msg-preview
  position: absolute
  z-index: 4
  margin-top: 10vh
  font-size: 6vw
  color: white
  text-align: center
  width: 100vw
  span
    &:first-of-type
      font-weight: 700
      font-size: 5vw
    &:last-of-type
      font-weight: 300
