@import "mixins"
@import "colors"
// @import "landing"
@import "dashboard"
@import "calendar"
@import "chat-ui"
@import "groups"
@import "pages"
@import "card"
@import "onboard"
@import "quick-view"

body
  margin: 0
  background-color: $bodyBackground
  font-family: 'Open Sans', sans-serif

input:focus, select:focus, textarea:focus, button:focus
  outline: none

.display-none
  display: none

.hide-orientation
  position: fixed
  background-color: #c1c1c1
  height: 100vh
  width: 100vw
  z-index: 2
  top: 0
  img
    width: 30vw
    margin-left: 35vw
    margin-top: 30vh
